@{
	var formModel = ViewData["formAmend"] != null ? ViewData["formAmend"] as GreenBushIEP.Models.tblFormIEPAmendment : new GreenBushIEP.Models.tblFormIEPAmendment();
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    
}
<div class="module-page savdDraftAllowed">
    <div>
         <p class=MsoNormal align=center style='text-align: center;margin-bottom: 12px'>
            <span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
                IEP AMENDMENT BETWEEN
            </span>
        </p>
        <p class=MsoNormal align=center style='text-align:center;margin-bottom:12px'>
            <span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
                ANNUAL IEP MEETINGS
            </span>
        </p>
        <p class=MsoNormal  style='text-align:center;font-family:"Calibri",sans-serif'><u>@(String.Format(studentFormattedName).PadRight(75 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</u><br/>Name of Student</p>

        <p class=MsoNormal style='text-align:left;margin-top:10px'>
            <span style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
                We understand that this student’s IEP must be reviewed at least annually at an IEP
                meeting. However, after the annual IEP meeting for a school year, the law permits
                a student’s IEP to be amended without an IEP meeting if the school
                representative and the parent or educational decision maker for the student
                agree that a meeting is not needed.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal>
            <span style='margin-top:15px; font-size:11.0pt; font-family:"Calibri",sans-serif'>
                Description of proposed IEP Change(s) and effective date(s):
            </span>
        </p>
		<p>
			<textarea class="form-control" cols="100" rows="10" maxlength="5000">@(formModel.Description)</textarea><span id="Description" style='display:none;font-size:10pt' class="input-value">@(formModel.Description)</span>		                    
		<p>
		<p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:8.0pt;font-family:"Calibri",sans-serif'>
                (Use additional pages if necessary. Changes in services must specify the frequency, location and duration of the change of services.)
            </span>
        </p>       
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0 style='width:6.0in;margin-left:.9pt;margin-top:10px;border-collapse:collapse;'>
            <tr style=''>
                <td width=42 style='width:31.5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>We<o:p></o:p></span></p>
                </td>
                <td width=90 style='width:67.5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p>
                        <input type="checkbox" name="AgreeToAmmendCbx" @(formModel.AgreeToAmmend.HasValue && formModel.AgreeToAmmend.Value ? "checked" : "")/><span id="AgreeToAmmend" class='imgCheck' >@(formModel.AgreeToAmmend.HasValue && formModel.AgreeToAmmend.Value ?"[X]" : "not-checked")</span>&nbsp;<span style='font-family:"Calibri",sans-serif'>agree</span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                    <p>
                       <input type="checkbox"  name="AgreeToAmmendCbx" @(formModel.DisagreeToAmmend.HasValue && formModel.DisagreeToAmmend.Value ? "checked" : "")/><span id="DisagreeToAmmend" class='imgCheck' >@(formModel.DisagreeToAmmend.HasValue && formModel.DisagreeToAmmend.Value ?"[X]" : "not-checked")</span>&nbsp;<span style='font-family:"Calibri",sans-serif'>disagree</span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=444 colspan=2 style='width:333.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal>
                        <span style='font-family:"Calibri",sans-serif'>
                            to
                            amend this student’s IEP as described above <b style=''><span style='text-transform:uppercase'>AND</span></b>
                        </span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='height:9.9pt'>
                <td width=42 style='width:31.5pt;padding:0in 5.4pt 0in 5.4pt;height:9.9pt'>
                    <p class=MsoNormal>
                        <span style='font-size:5.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=90 style='width:67.5pt;padding:0in 5.4pt 0in 5.4pt;height:9.9pt'>
                    <p class=MsoNormal>
                        <span style='font-size:5.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=348 style='width:261.0pt;padding:0in 5.4pt 0in 5.4pt;height:9.9pt'>
                    <p class=MsoNormal>
                        <span style='font-size:5.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=96 style='width:1.0in;padding:0in 5.4pt 0in 5.4pt;height:9.9pt'>
                    <p class=MsoNormal>
                        <span style='font-size:5.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=42 style='width:31.5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal>
                        <span style='font-family:"Calibri",sans-serif'>
                            We<span style=''></span>
                        </span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=90 style='width:67.5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal>
						
                        <input type="checkbox" name="ConveneMeetingCbx" @(formModel.ConveneMeeting.HasValue && formModel.ConveneMeeting.Value ? "checked" : "")/><span id="ConveneMeeting" class='imgCheck' >@(formModel.ConveneMeeting.HasValue && formModel.ConveneMeeting.Value ?"[X]" : "not-checked")</span>&nbsp;<span style='font-family:"Calibri",sans-serif'>do<o:p></o:p></span>
                    </p>
                    <p class=MsoNormal>
                        <input type="checkbox" name="ConveneMeetingCbx" @(formModel.DoNotConveneMeeting.HasValue && formModel.DoNotConveneMeeting.Value ? "checked" : "")/><span id="DoNotConveneMeeting" class='imgCheck' >@(formModel.DoNotConveneMeeting.HasValue && formModel.DoNotConveneMeeting.Value ?"[X]" : "not-checked")</span>&nbsp;<span style='font-family:"Calibri",sans-serif'>do not</span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=348 style='width:261.0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal>
                        <span style='font-family:"Calibri",sans-serif'>
                            wish
                            to convene an IEP meeting<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=96 style='width:1.0in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
            </tr>
        </table>              
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0
               style='width:6.0in;margin-left:.9pt;border-collapse:collapse;margin-top:50px'>
            <tr style=''>
                <td width=325 valign=top style='width:243.9pt;border:none;border:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p>Date:</o:p></span>
                    </p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
            </tr>
            <tr >
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Parent/Legal Decision Maker)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>

            </tr>
            <tr class="filler">
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            <o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p>Date:</o:p></span>
                    </p>
                </td>

            </tr>
            <tr>
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Authorized District Representative)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
        </table> 
        <p class=MsoNormal style="text-align:left;margin-top:15px">
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                A prior written notice form accompanies this
                agreement, and includes information the school is required to give to parents
                before implementing any proposed change to their child’s IEP.<span style=''></span>If consent is needed for any proposed change,
                a parent must give consent by signing in the consent portion of the attached
                form before the change may be implemented.<o:p></o:p>
            </span>
        </p>
    </div>

</div><!--end center-->