@using GreenBushIEP.Models
@model  GreenBushIEP.Models.IEPFormViewModel

@{
    ViewBag.Title = "IEP Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
	 @Styles.Render("~/Content/iepforms.css")  
}

<div class="transition-page">
    <h2>IEP Forms</h2>
    <div class="user-head">
        <a href="/StudentProcedures/@(Model.StudentId)" class="inbox-avatar" data-ftrans="slide">
            <img width="64" hieght="60" src="/Content/Images/newUser.png" style="height: 62px;"> 
        </a>
        <h3>@Model.StudentName</h3>
    </div>
    <div class="container" style="overflow:hidden; margin: 0 auto 75px;">
        <div class="col-md-12">            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Form Name</th>                     
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                        foreach (var form in Model.IEPForms)
                        {                                                     
                            <tr>
                                <td><label class="text-muted">@form.Text</label></td>
                                <td>
                                    <button type="button" class="btn btn-default btn-lg printForm" id="@form.Value"><i class="fa fa-print"></i> Print Form</button>                                    
                                </td>
                            </tr>
                            counter++;
                        }

                    }
            </tbody>
            </table>
            <div class="ajax-loader">
                <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
            </div>
        </div>

    </div>

</div>

<!-- loading the file even though it's an ajax call -->
@*<var data-reload="true" data-src="/Scripts/studentprocedures.js"></var>*@

@section scripts {
    @Scripts.Render("~/Scripts/studentprocedures.js")
	@Scripts.Render("~/Scripts/iepforms.js")
    
}