@using GreenBushIEP.Models
@model GreenBushIEP.Models.StudentLegalView

@{
    ViewBag.Title = "IEP Meeting Excusal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string schoolDistrict = Model.studentInfo != null && Model.studentInfo.AssignedUSD != null ? Model.studentInfo.AssignedUSD : "";

}
@section stylesheets {
    @Styles.Render("~/Content/transition.css")
}

<style>
    .fadeInToBackground {
        background: #525659;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }

    .fadeOutToBackground {
        background: #fff;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }

    .glyphicon-remove-circle:hover {
        cursor: pointer;
    }

    .transition-page-scaleUpCenter {
        -webkit-animation: scaleUpCenter .4s ease-out both;
        animation: scaleUpCenter .4s ease-out both;
        width: 900px;
    }

    .transition-page-scaleDownCenter {
        -webkit-animation: scaleDownCenter .4s ease-in both;
        animation: scaleDownCenter .4s ease-in both;
    }

    @@-webkit-keyframes scaleUpCenter {
        from {
            opacity: 0;
            -webkit-transform: scale(.7);
        }
    }

    @@keyframes scaleUpCenter {
        from {
            opacity: 0;
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    @@-webkit-keyframes scaleDownCenter {
        from {
        }

        to {
            opacity: 0;
            -webkit-transform: scale(.7);
        }
    }

    @@keyframes scaleDownCenter {
        from {
        }

        to {
            opacity: 0;
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    /* Font Definitions */
    @@font-face {
        font-family: Wingdings;
    }

    @@font-face {
        font-family: "Cambria Math";
    }

    @@font-face {
        font-family: "Arial Narrow";
    }

    @@font-face {
        font-family: Tahoma;
    }

    @@font-face {
        font-family: "Zapf Dingbats";
    }

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
        text-align: left;
        ;
    }

    h1 {
        margin-top: 0in;
        margin-right: -1.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        line-height: 12.0pt;
        page-break-after: avoid;
        font-size: 11.0pt;
        font-family: "Arial",sans-serif;
        color: black;
        text-decoration: underline;
    }

    h2 {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        line-height: 12.0pt;
        page-break-after: avoid;
        font-size: 11.0pt;
        font-family: "Arial",sans-serif;
        color: black;
        text-decoration: underline;
    }

    h3 {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        page-break-after: avoid;
        font-size: 14.0pt;
        font-family: "Arial",sans-serif;
        color: black;
    }

    h4 {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        line-height: 12.0pt;
        page-break-after: avoid;
        border: none;
        padding: 0in;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
        color: black;
        font-weight: 700;
    }

    h6 {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        line-height: 12.0pt;
        page-break-after: avoid;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
        color: black;
    }

    p.MsoHeading7, li.MsoHeading7, div.MsoHeading7 {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        text-align: center;
        line-height: 12.0pt;
        page-break-after: avoid;
        border: none;
        padding: 0in;
        font-size: 11.0pt;
        font-family: "Times New Roman",serif;
        color: black;
        font-weight: bold;
    }

    p.MsoHeader, li.MsoHeader, div.MsoHeader {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }

    p.MsoFooter, li.MsoFooter, div.MsoFooter {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }

    p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
        margin-top: 0in;
        margin-right: 8.0pt;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-bottom: .0001pt;
        line-height: 12.0pt;
        font-size: 9.0pt;
        font-family: "Arial",sans-serif;
        color: black;
        text-align: left;
    }

    p.MsoBlockText, li.MsoBlockText, div.MsoBlockText {
        margin-top: 0in;
        margin-right: -1.0pt;
        margin-bottom: 0in;
        margin-left: 13.5pt;
        margin-bottom: .0001pt;
        line-height: 12.0pt;
        font-size: 9.0pt;
        font-family: "Arial",sans-serif;
        color: black;
        text-align: left;
    }

    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 8.0pt;
        font-family: "Tahoma",sans-serif;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        text-align:left;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        margin-bottom: .0001pt;
        font-size: 10.0pt;
        font-family: "Times New Roman",serif;
    }



    /* List Definitions */
    ol {
        margin-bottom: 0in;
    }

    ul {
        margin-bottom: 0in;
    }

    @@page {
        margin: 0;
    }

    @@media print {
        @@page {
            margin: 0;
        }

        body {
            margin: 1.4cm;
            overflow: visible;
        }

        .transition-page-scaleUpCenter {
            border: none !important;
        }

        #backtoportal {
            display: none;
        }

        #printbutton {
            display: none;
        }

        footer {
            display: none;
        }
    }
</style>
<div class="transition-page" style="margin-bottom: 45px; display: none;">
    <div class="container" style="min-height: 1250px; width: 725px;">
        @Html.Partial("_PrintHeaderPartial")
        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    <div class=WordSection1>
                        <p class=MsoNormal align=center style='text-align:center'>
                            <span style='font-size:11.0pt;font-family:"Cambria",serif;'>
                                EXCUSAL
                                FROM ATTENDANCE AT IEP MEETINGS of<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal align=center style='text-align:center'>
                            <span style='font-size:11.0pt;font-family:"Cambria",serif;'>
                                REQUIRED
                                IEP TEAM MEMBERS<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style=''>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                Date:<u><b>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(80, ' ').Replace(" ", "\u00A0"))</b></u><span style=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Student: <u><b>@(String.Format(Model.StudentFormattedName).PadRight(80 - String.Format(Model.StudentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u><o:p></o:p>
                            </span>
                        </p>
                        <p class=MsoNormal style='margin-top:10px;'>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                IEP date <u><b>@(String.Format("{0}", "").PadRight(86, ' ').Replace(" ", "\u00A0"))</b></u><span style=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><u><b>@(String.Format(Model.ContactFormattedName).PadRight(97 - String.Format(Model.ContactFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u><o:p></o:p>
                            </span>
                        </p>
                        <p class=MsoNormal style=''>
                            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif;margin-left:55%'>
                                Name of parent(s)/decision maker
                            </span>
                        </p>

                        <p class=MsoNormal  style='margin-top:10px;'>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                <u><b>@(String.Format("{0}", Model.TeacherFormattedName).PadRight(84, ' ').Replace(" ", "\u00A0"))</b></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>@(String.Format("{0}", "?").PadRight(84, ' ').Replace(" ", "\u00A0"))</b></u>
                                
                            </span>
                        </p>

                        <p class=MsoNormal style='font-size:10.0pt;font-family:"Calibri",sans-serif;'>
                            <span style="margin-left:15px">
                               School representative                                
                            </span>
                            <span  style="margin-left:36%">Position of school representative</span>
                        </p>


                        
                        <p class=MsoNormal align=center style='text-align:center'>
                            <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal align=center style='text-align:center'>
                            <b style=''><u><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>UNDERSTANDINGS<o:p></o:p></span></u></b>
                        </p>

                        <p class=MsoNormal style='margin-right:-31.5pt'>
                            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'>
                                I have been informed and understand that the
                                IEP team must include at least the following: (a) parent of the child; (b) one
                                regular education teacher of the child (if the child is, or may be,
                                participating in the regular education environment); (c) one special education
                                teacher or special education provider of the child; (d) a representative of the
                                school district; (e) an individual who can interpret the instructional
                                implications of evaluation results; (f) other individuals who, at the
                                discretion of the parent or the school, have been invited to the meeting
                                because they have knowledge or special expertise regarding the child; and, (g)
                                when appropriate, the student.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-right:-31.5pt'>
                            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-right:-31.5pt'>
                            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'>
                                I have also been informed and understand that:
                                (a) all of the <u>required</u> members of an IEP team (listed above) must
                                attend each IEP meeting unless both the parent and the school representative
                                agree in writing that a required team member does not need to attend all or
                                part of an IEP meeting; and (b) that a required team member may be excused from
                                attending a meeting that will involve a modification to or a discussion of the
                                required team member’s area of the curriculum or related services, only if: (1)
                                both the parent and the school representative give written consent for the
                                member to be excused; and (2) the member submits written input regarding the
                                development of the IEP to both the parent and the other members of the IEP team
                                prior to the meeting.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal>
                            <b style=''>
                                <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal align=center style='text-align:center'>
                            <b style=''>
                                <u>
                                    <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>?<span style=''>                                                                                                                          </span><o:p></o:p></span>
                                </u>
                            </b>
                        </p>

                        <p class=MsoNormal align=center style='text-align:center'>
                            <i style=''><span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>(Position of team member who will not be attending)<o:p></o:p></span>
                            </i>
                        </p>

                        <p class=MsoNormal>
                            <b style=''>
                                <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                            </b>
                        </p>

                        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=0
                               style='width:535.5pt;margin-left:-26.1pt;border-collapse:collapse;border:none;'>
                            <tr style=''>
                                <td width=714 colspan=2 valign=top style='width:535.5pt;border:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <b style=''>
                                            <span style='font-size:10.0pt;font-family:"Cambria",serif;'>
                                                Complete
                                                only one column<o:p></o:p>
                                            </span>
                                        </b>
                                    </p>
                                </td>
                            </tr>
                            <tr style=''>
                                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-size:10.0pt;font-family:"Cambria",serif;
  '>
                                            AREA OF THE CURRICULUM OR RELATED SERVICES<b style=''>
                                                <br>
                                                <u>IS NOT</u>
                                            </b>BEING MODIFIED<b style=''>
                                                <u>OR</u>
                                            </b>DISCUSSED<b style=''>.</b>
                                        </span><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span>
                                    </p>
                                </td>
                                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-size:10.0pt;font-family:"Cambria",serif;
  '>
                                            AREA OF THE CURRICULUM OR RELATED SERVICES <br>
                                            <b style=''><u>MAY BE</u></b> MODIFIED <b style=''><u>OR</u></b> DISCUSSED.<o:p></o:p>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr style=''>
                                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                                        <input type="checkbox" /><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                            The member of the
                                            IEP team noted above <b style=''>
                                                will not attend
                                                the IEP meeting
                                            </b> as both the school and the parent agree that the team
                                            member’s attendance at this meeting is not necessary.<o:p></o:p>
                                        </span>
                                    </p>
                                    <p class=MsoNormal>
                                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                    </p>
                                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;'>
                                        <input type="checkbox" /><span style='font-size:11.0pt;font-family:"Arial",sans-serif'></span><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                            The member of the
                                            IEP team noted above will <b style=''>
                                                only attend
                                                the portion of the IEP meeting
                                            </b> in which the following issues are
                                            discussed:<span style=''>  </span><br style=''>
                                            <b style=''><o:p></o:p></b>
                                        </span>
                                    </p>
                                    <p class=MsoNormal>
                                        <b style=''>
                                            <span style='font-size:6.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                        </b>
                                    </p>
                                </td>
                                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                                        <input type="checkbox" /><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                                            The member of the
                                            IEP team noted above is <b style=''>
                                                excused from
                                                attending this IEP
                                            </b> <b style=''>meeting</b>,
                                            providing<b style=''> </b>that the member submits
                                            written input related to the development of the IEP to<b style=''></b>both the parent and to the other members of the team prior to
                                            the meeting.<o:p></o:p>
                                        </span>
                                    </p>
                                    <p class=MsoNormal>
                                        <b style=''>
                                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                        </b>
                                    </p>
                                </td>
                            </tr>
                            <tr style='mso-yfti-irow:3;'>
                                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            I<span style=''></span>
                                        </span>
                                        <input type="checkbox"  name="ckAgree"/>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            agree<span style=''>  </span>
                                        </span>
                                        <input type="checkbox" name="ckAgree"/>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            <span style=''></span>disagree <br>
                                            with the above marked statement:
                                        </span><span style='
  font-family:"Arial",sans-serif'><o:p></o:p></span>
                                    </p>
                                </td>
                                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            I<span style=''></span>
                                        </span>
                                        <input type="checkbox" name="ckConsent"/>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            consent<span style=''></span>
                                        </span>
                                        <input type="checkbox"  name="ckConsent"/>
                                        <span style='font-family:"Calibri",sans-serif'>
                                            do not
                                            consent <br>
                                            to the above marked statement:
                                        </span><span style='  font-family:"Cambria",serif;'><o:p></o:p></span>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0
                               style='width:535.5pt;margin-left:-26.1pt;border-collapse:collapse;mso-yfti-tbllook: 480;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                <td width=382 valign=top style='width:286.35pt;border:none;border-bottom:  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                                </td>
                                <td width=92 valign=top style='width:69.15pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=right style='text-align:right'>
                                        <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Date:<o:p></o:p></span>
                                    </p>
                                </td>
                                <td width=240 valign=top style='width:2.5in;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                                </td>
                            </tr>
                            <tr style=';'>
                                <td width=382 valign=top style='width:286.35pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>
                                            (Signature
                                            of Parent/Legal Decision Maker)<o:p></o:p>
                                        </span>
                                    </p>
                                </td>
                                <td width=92 valign=top style='width:69.15pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal>
                                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                    </p>
                                </td>
                                <td width=240 valign=top style='width:2.5in;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal>
                                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0
                               style='width:535.5pt;margin-left:-26.1pt;border-collapse:collapse;mso-yfti-tbllook: 480;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                <td width=384 valign=top style='width:4.0in;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                                </td>
                                <td width=90 valign=top style='width:67.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=right style='text-align:right'>
                                        <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Date:<o:p></o:p></span>
                                    </p>
                                </td>
                                <td width=240 valign=top style='width:2.5in;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                                </td>
                            </tr>
                            <tr style=';'>
                                <td width=384 valign=top style='width:4.0in;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal align=center style='text-align:center'>
                                        <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>
                                            (Signature
                                            of Authorized District Representative)<o:p></o:p>
                                        </span>
                                    </p>
                                </td>
                                <td width=90 valign=top style='width:67.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal>
                                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                    </p>
                                </td>
                                <td width=240 valign=top style='width:2.5in;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                    <p class=MsoNormal>
                                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal>
                            <span style='font-size:2.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </p>


                    </div>

                </div><!--end center-->
            </div><!--end col md 12-->

        </div><!--endrow -->
    </div><!--end container-->
</div><!--end tran-->
<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/requestconsent.js"></var>

<script>
    var body = document.getElementsByTagName("body")[0];
    body.classList += ' ' + 'fadeInToBackground';

    var el = document.getElementsByClassName("body-content")[0], c = el.style;
    c.borderLeft = "1px solid #000";
    c.borderRight = "1px solid #000";
    c.boxShadow = "10px 10px 25px #333";
    c.position = "relative";
    c.top = "15px";
    c.backgroundColor = "#ffffff";
    c.marginBottom = "75px";

    setTimeout(function () {
        var tp = document.getElementsByClassName("transition-page")[0];
        tp.style.display = "block";

        var className = 'transition-page-scaleUpCenter';
        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }
    }, 200);
</script>

