@{
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string contactFormattedName = Model.contacts != null && Model.contacts.Count > 0 ? Model.contacts[0].FirstName + " " + Model.contacts[0].LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
	string districtContactName = Model.districtContact != null ? Model.districtContact.ContactName : "";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
}

<div class="module-page">
    <div class=WordSection1>
        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:11.0pt;font-family:"Cambria",serif;'>
                EXCUSAL
                FROM ATTENDANCE AT IEP MEETINGS of<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:11.0pt;font-family:"Cambria",serif;'>
                REQUIRED
                IEP TEAM MEMBERS<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>



        <p class=MsoNormal style=''>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Date:&nbsp;<u><b>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(50, ' ').Replace(" ", "\u00A0"))</b></u><span style=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Student: <u><b>@(String.Format(studentFormattedName).PadRight(79 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u><o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-top:10px;'>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                IEP date <u><b>@(String.Format("{0}", "").PadRight(57, ' ').Replace(" ", "\u00A0"))</b></u><span style=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="text-decoration:underline;font-weight:bold"><textarea  data-val="107" style="width:150px;height:20px;">@(contactFormattedName)</textarea><span style="display:none" class="input-value"></span></span><o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style=''>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif;'>
                @(String.Format("{0}", "Name of parent(s)/decision maker").PadLeft(118, '\u00A0'))
            </span>
        </p>

        <p class=MsoNormal style='margin-top:10px;'>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                <u><b>@(String.Format("{0}", districtContactName).PadRight(63, ' ').Replace(" ", "\u00A0"))</b></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>@(String.Format("{0}", "").PadRight(96, ' ').Replace(" ", "\u00A0"))</b></u>

            </span>
        </p>

        <p class=MsoNormal style='font-size:10.0pt;font-family:"Calibri",sans-serif;'>
            <span style="margin-left:0px">
                School representative
            </span>
            <span>@(String.Format("{0}", "Position of school representative").PadLeft(78, '\u00A0'))</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b style=''><u><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>UNDERSTANDINGS<o:p></o:p></span></u></b>
        </p>

        <p class=MsoNormal style='margin-right:-31.5pt'>
            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'>
                I have been informed and understand that the
                IEP team must include at least the following: (a) parent of the child; (b) one
                regular education teacher of the child (if the child is, or may be,
                participating in the regular education environment); (c) one special education
                teacher or special education provider of the child; (d) a representative of the
                school district; (e) an individual who can interpret the instructional
                implications of evaluation results; (f) other individuals who, at the
                discretion of the parent or the school, have been invited to the meeting
                because they have knowledge or special expertise regarding the child; and, (g)
                when appropriate, the student.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-right:-31.5pt'>
            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-31.5pt'>
            <span style='font-size:11.0pt;
font-family:"Calibri",sans-serif'>
                I have also been informed and understand that:
                (a) all of the <u>required</u> members of an IEP team (listed above) must
                attend each IEP meeting unless both the parent and the school representative
                agree in writing that a required team member does not need to attend all or
                part of an IEP meeting; and (b) that a required team member may be excused from
                attending a meeting that will involve a modification to or a discussion of the
                required team member’s area of the curriculum or related services, only if: (1)
                both the parent and the school representative give written consent for the
                member to be excused; and (2) the member submits written input regarding the
                development of the IEP to both the parent and the other members of the IEP team
                prior to the meeting.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal>
            <b style=''>
                <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b style=''>
                <u>
                    <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><span style=''>                                                                                                                          </span><o:p></o:p></span>
                </u>
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <i style=''>
                <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>(Position of team member who will not be attending)<o:p></o:p></span>
            </i>
        </p>

        <p class=MsoNormal>
            <b style=''>
                <span style='font-size:9.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=0
               style='width:535.5pt;margin-left:-26.1pt;border-collapse:collapse;border:none;'>
            <tr style=''>
                <td width=714 colspan=2 valign=top style='width:535.5pt;border:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <b style=''>
                            <span style='font-size:10.0pt;font-family:"Cambria",serif;'>
                                Complete
                                only one column<o:p></o:p>
                            </span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr style=''>
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Cambria",serif;
  '>
                            AREA OF THE CURRICULUM OR RELATED SERVICES<b style=''>
                                <br>
                                <u>IS NOT</u>
                            </b>BEING MODIFIED<b style=''>
                                <u>OR</u>
                            </b>DISCUSSED<b style=''>.</b>
                        </span><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;

  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Cambria",serif;
  '>
                            AREA OF THE CURRICULUM OR RELATED SERVICES <br>
                            <b style=''><u>MAY BE</u></b> MODIFIED <b style=''><u>OR</u></b> DISCUSSED.<o:p></o:p>
                        </span>
                    </p>
                </td>
            </tr>
            <tr style=''>
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                        <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" /><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                            The member of the
                            IEP team noted above <b style=''>
                                will not attend
                                the IEP meeting
                            </b> as both the school and the parent agree that the team
                            member’s attendance at this meeting is not necessary.<o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal>
                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;'>
                        <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" /><span style='font-size:11.0pt;font-family:"Arial",sans-serif'></span><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                            The member of the
                            IEP team noted above will <b style=''>
                                only attend
                                the portion of the IEP meeting
                            </b> in which the following issues are
                            discussed:<span style=''>  </span><br style=''>
                            <b style=''><o:p></o:p></b>
                        </span>
                    </p>
                    <p class=MsoNormal>
                        <b style=''>
                            <span style='font-size:6.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </b>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoListParagraph style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                        <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" /><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                            The member of the
                            IEP team noted above is <b style=''>
                                excused from
                                attending this IEP
                            </b> <b style=''>meeting</b>,
                            providing<b style=''> </b>that the member submits
                            written input related to the development of the IEP to<b style=''></b>both the parent and to the other members of the team prior to
                            the meeting.<o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal>
                        <b style=''>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:3;'>
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-family:"Calibri",sans-serif'>
                            I<span style=''></span>
                        </span>
                        <input type="checkbox" name="ckAgree" /><img class='imgCheck' src="@(@imageNotChecked)" />
                        <span style='font-family:"Calibri",sans-serif'>
                            agree<span style=''>  </span>
                        </span>
                        <input type="checkbox" name="ckAgree" /><img class='imgCheck' src="@(@imageNotChecked)" />
                        <span style='font-family:"Calibri",sans-serif'>
                            <span style=''></span>disagree <br>
                            with the above marked statement:
                        </span><span style='
                                     font-family:"Arial",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;

  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-family:"Calibri",sans-serif'>
                            I<span style=''></span>
                        </span>
                        <input type="checkbox" name="ckConsent" /><img class='imgCheck' src="@(@imageNotChecked)" />
                        <span style='font-family:"Calibri",sans-serif'>
                            consent<span style=''></span>
                        </span>
                        <input type="checkbox" name="ckConsent" /><img class='imgCheck' src="@(@imageNotChecked)" />
                        <span style='font-family:"Calibri",sans-serif'>
                            do not
                            consent <br>
                            to the above marked statement:
                        </span><span style=' font-family:"Cambria",serif;'><o:p></o:p></span>
                    </p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>

        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0
               style='width:6.0in;margin-left:.9pt;border-collapse:collapse;'>
            <tr style=''>
                <td width=325 valign=top style='width:243.9pt;border:none;border:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p>Date:</o:p></span>
                    </p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Signature of Parent/Legal Decision Maker)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>

            </tr>
            <tr class="filler">
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            <o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p>Date:</o:p></span>
                    </p>
                </td>

            </tr>
            <tr>
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Signature of Authorized District Representative)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
        </table>

      

    </div>

</div>