@{
    var formModel = ViewData["formMtgExcusal"] != null ? ViewData["formMtgExcusal"] as GreenBushIEP.Models.tblFormIEPMeetingExcusal : new GreenBushIEP.Models.tblFormIEPMeetingExcusal();

    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
    string districtContactName = Model.districtContact != null ? Model.districtContact.ContactName : "";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
    var imageChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_yes.png");
    int numContacts = 0;
    var currentDate = String.Format("{0:MM/dd/yyyy}", DateTime.Now);
    string contactFormattedName = "";
    string iepDate = "";
    List<GreenBushIEP.Models.tblStudentRelationship> contacts = (List<GreenBushIEP.Models.tblStudentRelationship>)Model.contacts;

    if (contacts != null || contacts.Count > 0 && (contacts.Count(o => o.PrimaryContact == 1) > 0))
    {
        var primary = contacts.FirstOrDefault(o => o.PrimaryContact == 1);
        if (primary != null)
        {
            contactFormattedName = primary.FirstName + " " + primary.LastName;
        }
    }

    if (formModel.FormIEPMeetingExcusalId == 0)
    {
        formModel.ParentName = contactFormattedName;
        formModel.SchoolRepresentative = districtContactName;
    }

    if (formModel.FormDate.HasValue)
    {
        currentDate = String.Format("{0:MM/dd/yyyy}", formModel.FormDate.Value);
    }

    if (formModel.IEPDate.HasValue)
    {
        iepDate = String.Format("{0:MM/dd/yyyy}", formModel.IEPDate.Value);
    }
}

<div class="module-page savdDraftAllowed">
    @foreach (var primaryContact in contacts.Where(o => o.PrimaryContact == 1))
    {
        numContacts++;

        contactFormattedName = string.Format("{0} {1}", string.IsNullOrEmpty(primaryContact.FirstName) ? "" : primaryContact.FirstName, string.IsNullOrEmpty(primaryContact.LastName) ? "" : primaryContact.LastName).Trim();

        if (numContacts > 1)
        {
            <text><div class="section-break"></div></text>
        }

        <p style='text-align:center;margin-bottom:10px'>
            <span style='font-size:11.0pt;font-family:"Cambria",serif;'>
                EXCUSAL FROM ATTENDANCE AT IEP MEETINGS of <br />REQUIRED IEP TEAM MEMBERS
            </span>
        </p>
        <table cellpadding="2" cellspacing="4" >
            <tr>
                <td><span class="IepNormal">Date:</span></td>
                <td><u><textarea cols="20" rows="1" maxlength="10" style="height:30px">@(currentDate)</textarea><span id="FormDate" style="display:none" class="input-value isDate IepNormal">@(currentDate)</span></u></td>
                <td><span class="IepNormal">Student: <u>@studentFormattedName</u></span></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td  style="width:60px"><span class="IepNormal">IEP Date:</span></td>
                <td><u><textarea cols="20" rows="1" maxlength="10" style="height:30px">@(iepDate)</textarea><span id="IEPDate" style="display:none" class="input-value isDate IepNormal">@(iepDate)</span></u></td>
                <td colspan="2"><u><textarea cols="20" rows="1" maxlength="200" style="height:30px">@(contactFormattedName)</textarea><span id="ParentName" style="display:none" class="input-value IepNormal">@(contactFormattedName)</span></u></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"><span class="IepNormal">Name of parent(s)/decision maker</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><u><textarea cols="20" rows="1" maxlength="200" style="height:30px">@(formModel.SchoolRepresentative)</textarea><span id="SchoolRepresentative" style="display:none" class="input-value IepNormal">@(formModel.SchoolRepresentative)</span></u></td>
                <td colspan="2"><u><textarea cols="20" rows="1" maxlength="200" style="height:30px">@(formModel.PositionOfRepresentative)</textarea><span id="PositionOfRepresentative" style="display:none" class="input-value IepNormal">@(formModel.PositionOfRepresentative)</span></u></td>
            </tr>
            <tr>
                <td colspan="2"><span class="IepNormal">School representative</span></td>
                <td colspan="2"><span class="IepNormal">Position of school representative</span></td>
            </tr>
        </table>
        <p class=IepNormal style='text-align: center;'>
            <b><u><span style='font-size: 11.0pt; font-family: "Calibri",sans-serif'>UNDERSTANDINGS</span></u></b>
        </p>
        <p >
            <span class=IepNormal  style="font-size:9pt">
                I have been informed and understand that the
                IEP team must include at least the following: (a) parent of the child; (b) one
                regular education teacher of the child (if the child is, or may be,
                participating in the regular education environment); (c) one special education
                teacher or special education provider of the child; (d) a representative of the
                school district; (e) an individual who can interpret the instructional
                implications of evaluation results; (f) other individuals who, at the
                discretion of the parent or the school, have been invited to the meeting
                because they have knowledge or special expertise regarding the child; and, (g)
                when appropriate, the student.<o:p></o:p>
            </span>
        </p>
        <p>
            <span class=IepNormal style="font-size:9pt" >
                I have also been informed and understand that:
                (a) all of the <u>required</u> members of an IEP team (listed above) must
                attend each IEP meeting unless both the parent and the school representative
                agree in writing that a required team member does not need to attend all or
                part of an IEP meeting; and (b) that a required team member may be excused from
                attending a meeting that will involve a modification to or a discussion of the
                required team member’s area of the curriculum or related services, only if: (1)
                both the parent and the school representative give written consent for the
                member to be excused; and (2) the member submits written input regarding the
                development of the IEP to both the parent and the other members of the IEP team
                prior to the meeting.<o:p></o:p>
            </span>
        </p>
        <p style='text-align: center;margin-bottom:5px;'>
            <textarea cols="20" rows="1" maxlength="200">@(formModel.PositionOfMemberNotAttending)</textarea><span id="PositionOfMemberNotAttending" style="display:none;text-decoration:underline" class="input-value IepNormal">@(formModel.PositionOfMemberNotAttending)</span>
            <i>
                <span class="IepNormal" style="font-size:9pt">(Position of team member who will not be attending)</span>
            </i>
        </p>
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=2 width=0 style='width:535.5pt;margin-left:-26.1pt;border-collapse:collapse;border:none;'>
            <tr>
                <td width=714 colspan=2 valign=top style='width:535.5pt;border:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:center;'>
                        <b>
                            <span class="IepNormal">
                                Complete
                                only one column
                            </span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt; border-top:none;mso-border-alt:solid windowtext .5pt; padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:center;'>
                        <span class="IepNormal">
                            AREA OF THE CURRICULUM OR RELATED SERVICES<b>
                                <br>
                                <u>IS NOT</u>
                            </b>BEING MODIFIED<b>
                                <u>OR</u>
                            </b>DISCUSSED<b>.</b>
                        </span><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:center'>
                        <span class="IepNormal">
                            AREA OF THE CURRICULUM OR RELATED SERVICES <br>
                            <b><u>MAY BE</u></b> MODIFIED <b><u>OR</u></b> DISCUSSED.<o:p></o:p>
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                    <p style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                        <input type="checkbox" name="Services_Not_ModOrDisc_NonAttendCBS" @(formModel.Services_Not_ModOrDisc_NonAttend.HasValue && formModel.Services_Not_ModOrDisc_NonAttend.Value ? "checked" : "") /><img id="Services_Not_ModOrDisc_NonAttend" class='imgCheck' src="@(formModel.Services_Not_ModOrDisc_NonAttend.HasValue && formModel.Services_Not_ModOrDisc_NonAttend.Value ? @imageChecked : @imageNotChecked)" />
                        <span class="IepNormal">
                            NON ATTENDANCE: The member of the IEP team noted above will not attend the IEP meeting as both the school and the parent agree that the team member’s attendance at this meeting is not necessary.<o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal>
                        <span style='font-size:9.0pt;  font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p style='margin-left:.25in;  text-indent:-.25in;'>
                        <input type="checkbox" name="Services_Not_ModOrDisc_PartialAttendCBX" @(formModel.Services_Not_ModOrDisc_PartialAttend.HasValue && formModel.Services_Not_ModOrDisc_PartialAttend.Value ? "checked" : "") /><img id="Services_Not_ModOrDisc_PartialAttend" class='imgCheck' src="@(formModel.Services_Not_ModOrDisc_PartialAttend.HasValue && formModel.Services_Not_ModOrDisc_PartialAttend.Value ? @imageChecked : @imageNotChecked)" /><span style='font-size:10.0pt;font-family:"Arial",sans-serif'></span>
                        <span class="IepNormal">
                            PARTIAL ATTENDANCE: The member of the IEP team noted above will attend the portion of the IEP meeting in which the following issues are discussed: <textarea cols="20" rows="1" maxlength="200" data-val="72">@(formModel.Services_Not_ModOrDisc_IssueDiscussed)</textarea><span id="Services_Not_ModOrDisc_IssueDiscussed" style="display:none;font-size:11.0pt;font-family:'Calibri',sans-serif;font-style: italic;" class="input-value">@(formModel.Services_Not_ModOrDisc_IssueDiscussed)</span>
                        </span>
                    </p>
                    <p class=MsoNormal>
                        <b>
                            <span style='font-size:6.0pt;font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span>
                        </b>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='margin-left:.25in;  text-indent:-.25in;mso-list:l1 level1 lfo1'>
                        <input type="checkbox" name="Services_MayBe_ModOrDisc_NonAttendCBX" @(formModel.Services_MayBe_ModOrDisc_NonAttend.HasValue && formModel.Services_MayBe_ModOrDisc_NonAttend.Value ? "checked" : "") /><img id="Services_MayBe_ModOrDisc_NonAttend" class='imgCheck' src="@(formModel.Services_MayBe_ModOrDisc_NonAttend.HasValue && formModel.Services_MayBe_ModOrDisc_NonAttend.Value ? @imageChecked : @imageNotChecked)" />
                        <span class="IepNormal">
                            NON ATTENDANCE: The member of the IEP team noted above is excused from attending this IEP meeting, providing that the member submits written input related to the development of the IEP to both the parent and to the other members of the team prior to the meeting.
                        </span>
                    </p>
                    <p style='margin-left:.25in;  text-indent:-.25in;'>
                        <input type="checkbox" name="Services_MayBe_ModOrDisc_PartialAttendCBX" @(formModel.Services_MayBe_ModOrDisc_PartialAttend.HasValue && formModel.Services_MayBe_ModOrDisc_PartialAttend.Value ? "checked" : "") /><img id="Services_MayBe_ModOrDisc_PartialAttend" class='imgCheck' src="@(formModel.Services_MayBe_ModOrDisc_PartialAttend.HasValue && formModel.Services_MayBe_ModOrDisc_PartialAttend.Value ? @imageChecked : @imageNotChecked)" /><span style='font-size:10.0pt;font-family:"Arial",sans-serif'></span>
                        <span class="IepNormal">
                            PARTIAL ATTENDANCE: The member of the IEP team noted above will attend the portion of the IEP meeting in which the following issues are discussed: <textarea cols="20" rows="1" maxlength="200" data-val="72">@(formModel.Services_MayBe_ModOrDisc_IssueDiscussed)</textarea><span id="Services_MayBe_ModOrDisc_IssueDiscussed" style="display:none;font-size:10.0pt;font-family:'Calibri',sans-serif;font-style: italic;" class="input-value">@(formModel.Services_MayBe_ModOrDisc_IssueDiscussed)</span>
                        </span>
                    </p>
                </td>
            </tr>
            <tr >
                <td width=342 valign=top style='width:256.5pt;border:solid windowtext 1.0pt;  border-top:none;mso-border-alt:solid windowtext .5pt;  padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:center;'>
                        
                        <span class=IepNormal >
                            I<span></span>
                        </span>
                        <input type="checkbox" name="Services_Not_ModOrDisc_AgreeCBX" @(formModel.Services_Not_ModOrDisc_Agree.HasValue && formModel.Services_Not_ModOrDisc_Agree.Value ? "checked" : "") /><img id="Services_Not_ModOrDisc_Agree" class='imgCheck' src="@(formModel.Services_Not_ModOrDisc_Agree.HasValue && formModel.Services_Not_ModOrDisc_Agree.Value ? @imageChecked : @imageNotChecked)" />
                        <span class=IepNormal >
                            agree<span>  </span>
                        </span>
                        <input type="checkbox" name="Services_Not_ModOrDisc_DisagreeCBX" @(formModel.Services_Not_ModOrDisc_Disagree.HasValue && formModel.Services_Not_ModOrDisc_Disagree.Value ? "checked" : "") /><img id="Services_Not_ModOrDisc_Disagree" class='imgCheck' src="@(formModel.Services_Not_ModOrDisc_Disagree.HasValue && formModel.Services_Not_ModOrDisc_Disagree.Value ? @imageChecked : @imageNotChecked)" />
                        <span class=IepNormal>
                            <span></span>disagree <br>
                            with the above marked statement:
                        </span>
                    </p>
                </td>
                <td width=372 valign=top style='width:279.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:center'>
                       
                        <span class=IepNormal >
                            I<span></span>
                        </span>
                        <input type="checkbox" name="Services_MayBe_ModOrDisc_AgreeCBX" @(formModel.Services_MayBe_ModOrDisc_Agree.HasValue && formModel.Services_MayBe_ModOrDisc_Agree.Value ? "checked" : "") /><img id="Services_MayBe_ModOrDisc_Agree" class='imgCheck' src="@(formModel.Services_MayBe_ModOrDisc_Agree.HasValue && formModel.Services_MayBe_ModOrDisc_Agree.Value ? @imageChecked : @imageNotChecked)" />
                        <span class=IepNormal >
                            consent<span></span>
                        </span>
                        <input type="checkbox" name="Services_MayBe_ModOrDisc_DisagreeCBX" @(formModel.Services_MayBe_ModOrDisc_Disagree.HasValue && formModel.Services_MayBe_ModOrDisc_Disagree.Value ? "checked" : "") /><img id="Services_MayBe_ModOrDisc_Disagree" class='imgCheck' src="@(formModel.Services_MayBe_ModOrDisc_Disagree.HasValue && formModel.Services_MayBe_ModOrDisc_Disagree.Value ? @imageChecked : @imageNotChecked)" />
                        <span class=IepNormal >
                            do not
                            consent <br>
                            to the above marked statement:
                        </span>
                    </p>
                </td>
            </tr>
        </table>        
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=0 style='width:6.0in;margin-left:.9pt;border-collapse:collapse;margin-top:25px'>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none;border:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:right'>
                        <span class=IepNormal >Date:</span>
                    </p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Signature of Parent/Legal Decision Maker)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=right style='text-align:right'>
                        <span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr class="filler">
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            <o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext 0pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='width:243.9pt;border:none solid 0pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p style='text-align:right'>
                        <span class=IepNormal >Date:</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=325 valign=top style='border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                            (Signature of Authorized District Representative)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=68 valign=top style='width:51.3pt;padding:0in 5.4pt 0in 5.4pt;'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p>&nbsp;</o:p></span></p>
                </td>
                <td width=197 valign=top style='width:2.05in;border:none solid 0pt;border-top:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
                </td>
            </tr>
        </table>
    }
</div>