@{
	var formModel = ViewData["formMtgConsent"] != null ? ViewData["formMtgConsent"] as GreenBushIEP.Models.tblFormIEPMeetingConsentToInvite_ : new GreenBushIEP.Models.tblFormIEPMeetingConsentToInvite_();

    string schoolDistrict = Model.studentInfo != null && Model.studentInfo.AssignedUSD != null ? Model.studentInfo.AssignedUSD : "";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
	var imageChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_yes.png");

}
<div class="module-page savdDraftAllowed">
    <div class=WordSection1>
        <p align="center" style='font-size:18.0pt;font-family:"Calibri",sans-serif'>
            CONSENT TO INVITE REPRESENTATIVE
        </p>
        <p align="center" style='font-size:18.0pt;font-family:"Calibri",sans-serif'>
            OF NONEDUCATIONAL AGENCY
        </p>
        <p align="center" style='font-size:18.0pt;font-family:"Calibri",sans-serif'>
            TO IEP MEETING
        </p>
        <p>
            I, the parent (or adult student) identified below, have been informed that
        </p>
        <p>
            <span style="text-decoration:underline;"><textarea cols="20" rows="1" maxlength="200">@(formModel.ParticipatingAgency)</textarea><span id="ParticipatingAgency" style="display:none" class="input-value">@(formModel.ParticipatingAgency)</span></span>:					   
        </p>
        <p>
            (Participating Agency)
        </p>
        <p>
            <span><input type="checkbox" name="ProvideTransitionServiceCbx" @(formModel.ProvideTransitionService.HasValue && formModel.ProvideTransitionService.Value ? "checked" : "")/><img id="ProvideTransitionService" class='imgCheck' src="@(formModel.ProvideTransitionService.HasValue && formModel.ProvideTransitionService.Value ? @imageChecked : @imageNotChecked)"/></span> may be providing or paying for certain transition services for my child;
        </p>
        <p align="center">- OR -</p>
        <p>
			<span><input type="checkbox" name="FurtherInformedCbx" @(formModel.FurtherInformed.HasValue && formModel.FurtherInformed.Value ? "checked" : "")/><img id="FurtherInformed" class='imgCheck' src="@(formModel.FurtherInformed.HasValue && formModel.FurtherInformed.Value ? @imageChecked : @imageNotChecked)"/></span> may be providing or paying for certain transition services for my child (or me) and  </p>
        <p>I have been further informed that:</p>
        <ul>
            <li>
                It is appropriate for a representative of the above agency to attend an
                IEP meeting at which transition services will be discussed; and
            </li>       
            <li>
                Information in my child’s (or in my) education records, including the
                IEP, that is relevant to the development of postsecondary goals,
                transition assessments and transition services may need to be disclosed
                to the representative of the above agency at the IEP meeting; and this
                disclosure can be made only with my consent which I understand must be
                voluntarily given and may be revoked at any time;
            </li>
        </ul>        
        <p align="center"><u>CONSENT</u></p>
        <p>
            Having been informed as stated above, I give my consent for the school
            district to:
        </p>
        <div>
            (a) invite a representative of the above agency to attend the IEP meeting scheduled for <textarea maxlength="20" cols="25" rows="1" >@(formModel.MeetingDate.HasValue ? formModel.MeetingDate.Value.ToShortDateString() : "")</textarea><span style="display:none" id ="MeetingDate" class="input-value">@(formModel.MeetingDate.HasValue ? formModel.MeetingDate.Value.ToShortDateString() : "")</span> and
        </div>
        <p>
            (b) to disclose at the meeting to the agency representative any information
            contained in my child’s (or my) education records that is relevant to the
            development of postsecondary goals, transition assessments and/or
            transition services.
        </p>
        <p>
            __________________________________________ Date: ______________________
        </p>
        <p>(Parent/Adult Student signature)</p>
    </div>
</div>