@{
    string schoolDistrict = Model.studentInfo != null && Model.studentInfo.AssignedUSD != null ? Model.studentInfo.AssignedUSD : "";
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string contactFormattedName = Model.contacts != null ? Model.contacts[0].FirstName + " " + Model.contacts[0].LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
}

<div>
    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:14.0pt;font-family:"Cambria",serif'>RE-EVALUATION NOT NEEDED</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-size:14.0pt;font-family:"Cambria",serif'>AGREEMENT FORM</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-family:"Calibri",sans-serif'>USD # <u>@(String.Format(schoolDistrict).PadRight(25 - String.Format(schoolDistrict).Length, ' ').Replace(" ", "\u00A0"))</u></span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-family:"Calibri",sans-serif'>&nbsp;</span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <u>
                <span style='font-family:"Calibri",sans-serif'>@(String.Format(studentFormattedName).PadRight(100 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</span>
            </u>  &nbsp;&nbsp;&nbsp;
            <u><span style='font-family:"Calibri",sans-serif'>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(80, ' ').Replace(" ", "\u00A0"))</span></u>
        </p>

        <p class=MsoNormal>

            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                @(String.Format("{0}", "Student Name ").PadRight(95, ' ').Replace(" ", "\u00A0"))
                Date
            </span>

        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <u>
                <span style='font-family:"Calibri",sans-serif'>@(String.Format(contactFormattedName).PadRight(100 - String.Format(contactFormattedName).Length, ' ').Replace(" ", "\u00A0"))</span>
            </u>  &nbsp;&nbsp;&nbsp;
            <u><span style='font-family:"Calibri",sans-serif'>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(78, ' ').Replace(" ", "\u00A0"))</span></u>
        </p>

        <p class=MsoNormal>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                @(String.Format("{0}", "Parent(s)/decision maker name ").PadRight(80, ' ').Replace(" ", "\u00A0"))
                Date of last evaluation/re-evaluation
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <u>
                <span style='font-family:"Calibri",sans-serif'>@(String.Format(teacherFormattedName).PadRight(100 - String.Format(teacherFormattedName).Length, ' ').Replace(" ", "\u00A0"))</span>
            </u>  &nbsp;&nbsp;&nbsp;
            <u><span style='font-family:"Calibri",sans-serif'>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(80, ' ').Replace(" ", "\u00A0"))</span></u>
        </p>
        <p class=MsoNormal>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                School
                representative name                                                           School
                representative position
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <span style='font-family:"Calibri",sans-serif'>
                Special
                education laws require a re-evaluation of a child with an exceptionality at
                least once every three years, unless the school and the parent(s), or other
                legally authorized education decision maker, of the student agree that a
                re-evaluation is unnecessary. 
            </span>
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <span style='font-family:"Calibri",sans-serif'>
                The above
                named parent(s)/decision maker and school representative agree that a
                re-evaluation for the above named student is not necessary at this time, and
                therefore no re-evaluation will be conducted. Both parties understand that a
                re-evaluation may be requested by either party at any time in the future.
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <span style='font-family:"Calibri",sans-serif'>
                ________________________________________________________        
                ___________________________________
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                Signature
                of parent/Legal Decision Maker/Student if age 18 or more                                        Date
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <span style='font-family:"Calibri",sans-serif'>
                ________________________________________________________       
                ____________________________________
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                Signature
                of second parent/legal decision maker                                                                                    Date
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p class=MsoNormal>
            <span style='font-family:"Calibri",sans-serif'>
                ________________________________________________________        
                _____________________________________
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-size:10.0pt;font-family:"Calibri",sans-serif'>
                Signature
                of school representative                                                                                                            Date
            </span>
        </p>

    </div>




</div>