@{
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string studentGrade = Model.studentInfo != null && Model.studentInfo.Grade > 0 ? Model.studentInfo.Grade.ToString() : " ";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
}

<div class="module-page">
    <div class=WordSection1>
		<p class=MsoNormal align=center style='text-align:center'>       
            <span style='font-size:12.0pt;mso-bidi-font-size:10.0pt'>
                MANIFESTATION DETERMINATION REVIEW<o:p></o:p>
            </span>       
		</p>
        <p class=MsoNormal><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='tab-stops:5.0in 369.0pt'>
            <span style='font-size:11.0pt;font-family:"Arial",sans-serif'>
                Student's Name: <u>@(String.Format(studentFormattedName).PadRight(68 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</u>&nbsp; Date:
                <textarea maxlength="20" style="width:100px;height:20px"></textarea>
            </span>
        </p>

        <p class=MsoNormal style='line-height:16.0pt;tab-stops:5.0in 369.0pt'>
            <span style='font-size:11.0pt;font-family:"Arial",sans-serif'>
                School:
                <u>@(String.Format(Model.building).PadRight(80 - String.Format(Model.building).Length, ' ').Replace(" ", "\u00A0"))</u>
                Grade:
                <u>@(String.Format(studentGrade).PadRight(55 - String.Format(studentGrade).Length, ' ').Replace(" ", "\u00A0"))</u>

                <o:p></o:p>
            </span>
        </p>



        <p class=MsoNormal style='padding-top:15px;margin-left:.25in;text-indent:-.25in;'>
            <![if !supportLists]><b>
                <span style='font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>
                    <span style='mso-list:Ignore'>
                        1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><span style='font-family:"Arial",sans-serif;'>
                Summary of the
                information considered:<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif;'>
                A.&nbsp;Student's behavior<o:p><br/><textarea class="form-control" cols="100" rows="4"></textarea><br /></o:p>
            </span>
        </p>



        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif;'>
                B.&nbsp;Student's IEP
            </span><span style='font-family:"Arial",sans-serif'><o:p><br/><textarea class="form-control" cols="100" rows="4"></textarea><br /></o:p></span>
        </p>



        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif;'>
                C.&nbsp;Teacher observation of the student
            </span><span style='font-family:"Arial",sans-serif'><o:p><br/><textarea class="form-control" cols="100" rows="4"></textarea><br /></o:p></span>
        </p>



        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif;'>
                D. &nbsp;Relevant information provided by the parent
            </span><span style='font-family:"Arial",sans-serif'><o:p><br/><textarea class="form-control" cols="100" rows="4"></textarea><br /></o:p></span>
        </p>



        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif;'>
                E. &nbsp;Any other relevant information.
            </span><span style='font-family:"Arial",sans-serif'><o:p><br/><textarea class="form-control" cols="100" rows="4"></textarea><br /></o:p></span>
        </p>


        <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l5 level1 lfo11;tab-stops:list .25in'>
            <![if !supportLists]><b style=''>
                <span style='font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>
                    <span style='mso-list:Ignore'>
                        2.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b><![endif]><span style='font-family:"Arial",sans-serif'>
                Was
                the conduct in question caused by or have a direct and substantial relationship
                to the child’s disability?<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;tab-stops:58.5pt 81.0pt'>
			&nbsp;&nbsp;&nbsp;&nbsp;
            <span style='font-family:"Arial",sans-serif'>
                <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  YES     &nbsp;or<span style=''>     </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  NO<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l5 level1 lfo11;tab-stops:list .25in'>
            <![if !supportLists]><b style=''>
                <span style='font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>
                    <span style='mso-list:Ignore'>
                        3.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b><![endif]><span style='font-family:"Arial",sans-serif'>
                Was
                the conduct in question a direct result of the school’s failure to implement
                the IEP?<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;tab-stops:58.5pt 81.0pt'>
			&nbsp;&nbsp;&nbsp;&nbsp;
            <span style='font-family:"Arial",sans-serif'>
                <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  YES     &nbsp;or<span style=''>     </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  NO<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;tab-stops:
58.5pt 81.0pt'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal page-break' style='margin-left:.25in;text-indent:-.25in;mso-list:l5 level1 lfo11;
tab-stops:list .25in'>
            <![if !supportLists]><b style=''>
                <span style='font-family:"Arial",sans-serif;mso-fareast-font-family:Arial'>
                    <span style='mso-list:Ignore'>
                        4.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b><![endif]><span style='font-family:"Arial",sans-serif'>Determination:<o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-left:27.35pt;line-height:16.0pt;mso-list:skip'>
            <span style='font-family:"Arial",sans-serif'>
                The team (which included the student’s
                parent(s) or legal decision maker, a representative of the school district and
                relevant members of the IEP team) looked at all relevant information, and
                determined that the behavior<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:1in;line-height:16.0pt;mso-list:skip;tab-stops:.5in .75in'>          
            <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> 
            <span style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><span style=''>   </span></span><b>
                <span style='font-family:"Arial",sans-serif'>IS</span>
            </b><span style='font-family:
"Arial",sans-serif'>
                a manifestation of the disability <span style='mso-tab-count:2'></span><b>AND:<o:p></o:p></b>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:1.25in;text-indent:-.25in;line-height:16.0pt;mso-list:skip;tab-stops:1.25in'>
            <span style='font-size:12.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-left:1in;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;
            </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                the student will be returned to the
                placement specified in his/her IEP, unless: (a) the school and parent(s) agree to
                a change of placement through the IEP process; or (b) the student is assigned
                to an alternative educational setting for possession of a weapon or illegal
                drugs or for infliction of serious bodily injury on another person; and<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:63.0pt;line-height:16.0pt;tab-stops:1.25in'>
            <span style='font-size:12.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-left:1in;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;
            </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                the team will conduct a functional
                behavioral assessment (unless a functional behavioral assessment has already
                been conducted), and will implement a behavior intervention plan for the
                student; or<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:1.0in;line-height:16.0pt;mso-list:skip;tab-stops:1.25in'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-left:1in;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;
            </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                the team will review the existing behavior intervention plan and modify it, as necessary, to address the
                behavior that resulted in the disciplinary removal.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='mso-list:skip;tab-stops:.75in'>
            <b>
                <span style='font-family:"Arial",sans-serif'>
                    &nbsp;<span style=''>     </span>OR<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='mso-list:skip;tab-stops:.75in'>
            <b>
                <span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='line-height:19.0pt;mso-list:skip;tab-stops:.5in .75in'>
            <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                <span style=''>   </span><b>
                    IS
                    NOT
                </b> a manifestation of the disability<span style=''>       </span><b>AND:</b>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:1in;line-height:16.0pt;'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;
            </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                <span style=''>  </span>disciplinary
                removal may occur, but the school district must continue to make a free
                appropriate public education (FAPE) available to the student in a manner which
                enables the student to continue to participate in the general education
                curriculum, although in another setting, and to progress toward meeting the
                goals set out in the student’s IEP; and<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='tab-stops:.5in 1.0in'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;&nbsp;<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:1.25in;;tab-stops:
.5in 1.0in'>
            <span style='font-family:"Arial",sans-serif'>
                &nbsp;
            </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/> <span style='font-family:"Arial",sans-serif'>
                &nbsp;If appropriate, the school will conduct a
                functional behavioral assessment and develop a behavior intervention plan
                designed to address the behavior violation so that it does not recur.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style=''>
            <span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style=''>
            <span style='font-family:"Arial",sans-serif'>.<o:p></o:p></span>
        </p>

        <p class=MsoNormal style=''>
            <span style='font-family:
"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
        </p>

        <div style='border:solid windowtext 1.0pt;padding:1.0pt 1.0pt 1.0pt 31.0pt;background:#E5E5E5;margin-right:0in'>

            <h2 style='margin-left:0in;background:#E5E5E5;padding:0in;'>
                <span style='font-size:
10.0pt'>TEAM MEMBERS PRESENT<o:p></o:p></span>
            </h2>

        </div>
        <div>
            <table style="width:100%" class="pull-left" cellspacing="0" border="1">
                <tr><td>NAME</td><td>TITLE</td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
            </table>
          
        </div>

        <p class=MsoNormal style='text-indent:4.3pt;line-height:200%;margin-top:8px'>
            <span style='font-family:"Arial",sans-serif'>DISSENTING OPINION TEAM MEMBERS:<o:p></o:p></span>
        </p>

        <div>
            <table style="width:100%" class="pull-left" cellspacing="0" border="1">
                <tr><td>NAME</td><td>TITLE</td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
                <tr><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td><td> <textarea maxlength="20" style="width:200px;height:20px"></textarea></td></tr>
            </table>
            
        </div>


        <p class=MsoNormal style='line-height:23.0pt;tab-stops:81.0pt 117.0pt 2.0in 148.5pt'>
            <span style='font-family:"Arial",sans-serif'>
                Attachments:<span style=''>      </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  YES<span style=''>     </span>or<span style=''>    </span><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)"/>  NO<o:p></o:p>
            </span>
        </p>

    </div>
</div>