@{
	var formModel = ViewData["formConsentMedicaid"] != null ? ViewData["formConsentMedicaid"] as GreenBushIEP.Models.tblFormParentConsent : new GreenBushIEP.Models.tblFormParentConsent();
	var imageChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_yes.png");
	string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
	string dobStr = Model.studentInfo != null ? Model.studentInfo.DateOfBirth.ToString("MM/dd/yyyy") : "";
	string building = Model.building;

	var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");

	if (formModel.FormParentConsentId == 0)
	{
		formModel.School = building;
	}

	var beginDate = String.Format("{0:MM/dd/yyyy}", DateTime.Now);
	if (formModel.BeginDate.HasValue)
	{
		beginDate = String.Format("{0:MM/dd/yyyy}", formModel.BeginDate.Value);
	}

}

<div class="module-page savdDraftAllowed">
	<p style='text-align:center'>
		<span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
			Kansas
		</span>
	</p>

	<p style='text-align:center'>
		<span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
			Parent Consent for Release of Information and Medicaid Reimbursement
		</span>
	</p>
	<p style='text-align:left;margin-top:15px'>
		<span style='font-size:12.0pt;font-family:"Calibri",sans-serif;font-weight:bold'><u>Consent to Release Information</u></span>
	</p>

	<p style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
		I consent for <u><textarea cols="50" rows="1" style="height:30px"  class="form-control" maxlength="200">@(formModel.School)</textarea><span id="School" style="display:none" class="input-value">@(formModel.School)</span></u> 
		(School) to release records or information about my child's participation in services to participating physicians, other health care providers, the Kansas Department of Health and Environment (KDHE), any KDHE billing agents, and any school billing agent, as necessary, to process claims for reimbursement by KDHE for covered health-related services, evaluations for these services and transportation, on the day the student receives any health-related service which are outlined inert the child's Individualized Education Program (IEP), including duration and frequency IEPs services.

	</p>

	<p style='font-size:11.0pt;text-align:left;margin-top:8px'>
		<span style='font-size:12.0pt;font-family:"Calibri",sans-serif;font-weight:bold'><u>Consent to Access Public Benefits</u></span>
		<ul style='font-size:11.0pt;font-family:"Calibri",sans-serif;'>
			<li>I give consent for the school to access the child's or parent's public benefit or insurance to pay for services under 34 C.F.R part 300.</li>
		</ul>
	</p>

	<p style='font-size:11.0pt;text-align:left;margin-top:8px'>
		<span style='font-size:12.0pt;font-family:"Calibri",sans-serif;font-weight:bold'><u>Procedural Safeguards</u></span>
		<ul style='font-size:11.0pt;font-family:"Calibri",sans-serif;margin-bottom:8px'>
			<li>I understand that the school may be required to provide certain health-related services to a student who has an IEP at no additional cost to the student's parent(s), and that my refusal to sign this form will not affect whether such services are provided at no cost to the student named above.</li>
			<li>
				I understand that I will not be required to incur an out-of-pocket expense such as the payment of a deductible or co-pay amount incurred in filing a claim for services. I understand that my child's Medicaid benefits will not be used if that use will:
				<span style="font-size:11.0pt;">(a) decrease available lifetime coverage or any other insured benefit; (b) result in your family paying for services that would otherwise be covered by a public benefit or insurance program and that are required for the child outside of the time the child is in school; (c) increase premiums or lead to the discontinuation of benefits of insurance; or (d) risk loss of legibility for home and community-based waivers, based on aggregate health-related expenditures. </span>
			</li>
			<li>I also understand that the granting of consent is voluntary and may be withdrawn at any time. If I later revoke consent, that revocation is not retroactive (i.e. it does not negate any action that has occurred after the consent was given and before the consent was revoked).</li>
		</ul>
	</p>
	<table border=0 cellspacing=0 cellpadding=0 width=0 style='margin-left:15px;margin-top:10px;border-collapse:collapse;'>
		<tr>
			<td>
				<p>
					<input type="checkbox" @(formModel.GiveConsent.HasValue && formModel.GiveConsent.Value ? "checked" : "")/><img id="GiveConsent" class='imgCheck' src="@(formModel.GiveConsent.HasValue && formModel.GiveConsent.Value ? @imageChecked : @imageNotChecked)"/>
					&nbsp;&nbsp;<span style='font-family:"Calibri",sans-serif;margin-left:8px;font-size:11.0pt;'>I give consent for the school to release Education Records or information and to access Public Benefits as described above in order to submit claims to the Kansas Department of Health and Environment (KDHE)</span>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin-top:8px">
					<input type="checkbox" @(formModel.DoNotGiveConsent.HasValue && formModel.DoNotGiveConsent.Value ? "checked" : "")/><img id="DoNotGiveConsent" class='imgCheck' src="@(formModel.DoNotGiveConsent.HasValue && formModel.DoNotGiveConsent.Value ? @imageChecked : @imageNotChecked)"/>
					&nbsp;&nbsp;<span style='font-family:"Calibri",sans-serif;margin-left:8px;font-size:11.0pt;'>I do not give consent</span><span style='font-family:"Calibri",sans-serif'><o:p></o:p></span>
				</p>
			</td>
		</tr>
	</table>

	<table border=0 cellspacing=2 cellpadding=0 style="width:60%;margin-top:20px">
		<tr>
			<td><span><u>@((studentFormattedName.Length) > 50 ? studentFormattedName : String.Format(studentFormattedName).PadRight(50 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</u></span></td>
			<td><u><textarea maxlength="10" style="width:100px;height:30px">@dobStr</textarea><span style="display:none;" class="input-value isDate">@dobStr</span></u></td>
			<td><u><textarea maxlength="10" style="width:100px;height:30px">@(beginDate)</textarea><span id="BeginDate" style="display:none" class="input-value isDate">@(beginDate)</span></u></td>
		</tr>
		<tr>
			<td>Child's Name</td>
			<td>Date of Birth</td>
			<td>Begin Date</td>
		</tr>
	</table>

	@*<div style="padding-top:10px">
		<span><u>@((studentFormattedName.Length) > 50 ? studentFormattedName : String.Format(studentFormattedName).PadRight(50 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</u></span><span>&nbsp;</span>
		<u><textarea maxlength="10" style="width:100px;height:30px">@dobStr</textarea><span style="display:none;" class="input-value">@dobStr</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u>
		<u><textarea maxlength="10" style="width:100px;height:30px">@(beginDate)</textarea><span id="BeginDate" style="display:none" class="input-value">@(beginDate)</span></u>
	</div>
	<div style="margin:0;padding:0">
		<span>@(String.Format("Child's Name").PadRight(37, ' ').Replace(" ", "\u00A0"))</span>
		<span>@(String.Format("Date of Birth").PadRight(5, ' ').Replace(" ", "\u00A0"))</span>
		<span>Begin Date</span>
	</div>*@
	<div style="margin:0;padding-top:65px">
		<table cellpadding="1">
			<tr>
				<td><u>@(String.Format("").PadRight(75 - String.Format("").Length, ' ').Replace(" ", "\u00A0"))</u></td>
				<td><u>@(String.Format("").PadRight(50 - String.Format("").Length, ' ').Replace(" ", "\u00A0"))</u></td>
			</tr>
			<tr>
				<td>Parent/Guardian Signature</td>
				<td>Date</td>
			</tr>
		</table>
	</div>
</div><!--end center-->
