@{
	var formModel = ViewData["formPhysician"] != null ? ViewData["formPhysician"] as GreenBushIEP.Models.tblFormPhysicianScript : new GreenBushIEP.Models.tblFormPhysicianScript();
	
	string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
	string dobStr = Model.studentInfo != null ? Model.studentInfo.DateOfBirth.ToString("MM/dd/yy") : "";
	string idStr = Model.studentInfo != null ? Model.studentInfo.KIDSID.ToString() : "";
	string schoolDistrictNum = Model.studentInfo != null && Model.studentInfo.AssignedUSD != null ? Model.studentInfo.AssignedUSD : "";
	string schoolDistrictName = Model.districtName;
	string usd = string.Format("{0}/{1}", schoolDistrictNum, schoolDistrictName);

	var beginDate = String.Format("{0:MM/dd/yyyy}", DateTime.Now);
	if (formModel.FormDate.HasValue)
	{
		beginDate = String.Format("{0:MM/dd/yyyy}", formModel.FormDate.Value);
	}

}
   <div class="module-page savdDraftAllowed">
    <p align=center style='text-align:center'>
        <span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
            Physician’s Order/Authorization/Prescription
        </span>
    </p>
    <p align=center style='text-align:center'>
        <span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
            Medicaid Billing<o:p></o:p>
        </span>
    </p>
    <p style='text-align:center'>
        <span style='font-size:14.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Calibri'>
            (District/Interlocal/Coop Name)<o:p></o:p>
        </span>
    </p>
	<p style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
        USD Name/Number <u>@((usd.Length) > 70 ? usd : String.Format(usd).PadRight(70 - String.Format(usd).Length, ' ').Replace(" ", "\u00A0"))</u>
		
    </p>
    <p style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
        Student Name <u>@(String.Format(studentFormattedName).PadRight(70 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</u>
    </p>
    <p style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
        DOB <u>@(String.Format(dobStr).PadRight(75 - String.Format(dobStr).Length, ' ').Replace(" ", "\u00A0"))</u>
    </p>
    <p style='font-size:11.0pt; text-align:left; font-family:"Calibri",sans-serif'>
        State Student ID# <u>@(String.Format(idStr).PadRight(75 - String.Format(idStr).Length, ' ').Replace(" ", "\u00A0"))</u>
    </p>
    <p style='text-align:left;margin-top:8px'>
        <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;'>            
                The student named above qualifies to receive one or more of the following services as
                specified in his/her Individual Education Plan (IEP).            
        </span>
        <ul style='font-size:11.0pt;font-family:"Calibri",sans-serif;'>
            <li>Audiology</li>
            <li>Nursing Services</li>
            <li>Speech/Language Therapy</li>
            <li>Occupational Therapy</li>
            <li>Physical Therapy</li>
            <li>Social Work Services/Counseling</li>
        </ul>
    </p>
    <p style='text-align:left;margin-top:8px'>
        <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;'>          
                As a Local Education Agency (LEA), we may seek reimbursement from Kansas Medicaid for
                services the student receives as listed above. However, the LEA must first obtain an order/
                authorization of a physician, doctor of osteopathic medicine, naturopath, physician’s
                assistant, or nurse practitioner.          
        </span>
    </p>
    <p style='text-align:left;margin-top:8px'>
        <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;'>            
                Your signature indicates that you recommend and authorize medical services provided by
                an employee provider or contracted provider for this LEA in accordance with the
                programs, methods, settings, frequency and intensity of services indicated in the student’s
                IEP.           
        </span>
    </p>
    <table border=0 cellspacing=8 cellpadding=2 style="margin-top:25px;width:60%">
        <tr>
            <td>
				<textarea class="form-control">
					@(formModel.PhysicianName)</textarea>
                <span id="PhysicianName" style="display:none;text-decoration:underline;font-size:11.0pt; font-family:' Calibri',sans-serif" class="input-value">
                    @(formModel.PhysicianName)
                </span>
            <td><textarea maxlength="10" style="width:100px;" class="form-control">@(beginDate)</textarea><span id="FormDate" style="display:none;text-decoration:underline;font-size:11.0pt; font-family:' Calibri',sans-serif" class="input-value isDate">@(beginDate)</span></td>
        </tr>
        <tr>
            <td><span style="font-size: 11.0pt; font-family: ' Calibri',sans-serif">Health Care Provider – Printed Name</span></td>
            <td><span style="font-size:11.0pt; font-family:' Calibri',sans-serif">Date</span></td>
        </tr>
    </table>
    <table border=0 cellspacing=8 cellpadding=2  style="margin-top:40px">
        <tr>
            <td><u>@(String.Format("").PadRight(75 - String.Format("").Length, ' ').Replace(" ", "\u00A0"))</u></td>
            <td><u>@(String.Format("").PadRight(60 - String.Format("").Length, ' ').Replace(" ", "\u00A0"))</u></td>
        </tr>
        <tr>
            <td><span style="font-size: 11.0pt; font-family: ' Calibri',sans-serif">Physician Signature</span></td>
            <td><span style="font-size: 11.0pt; font-family: ' Calibri',sans-serif">Credentials and NPI Number</span></td>
        </tr>
    </table>
</div>
    
