@{
    string schoolDistrict = Model.studentInfo != null && Model.studentInfo.AssignedUSD != null ? Model.studentInfo.AssignedUSD : "";
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string contactFormattedName = Model.contacts != null && Model.contacts.Count > 0 ? Model.contacts[0].FirstName + " " + Model.contacts[0].LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
	string districtContactName = Model.districtContact != null ? Model.districtContact.ContactName : "";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
}


<div class="module-page">
    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:normal'><b><u>REVOCATION OF CONSENT</u></b></p>

        <p class=MsoNormal align=center style='text-align:center;padding-bottom:25px'>
            <b>
                <u>
                    FOR PARTICULAR
                    SPECIAL EDUCATION AND RELATED SERVICE(S) AND/OR PLACEMENT(S)
                </u>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:150%'>
            STUDENT NAME:
            <u><b>@(String.Format(studentFormattedName).PadRight(100 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u>
        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:normal'>
            SCHOOL DISTRICT:
            <u><b>@(String.Format("{0}", schoolDistrict).PadRight(100 - schoolDistrict.Length, ' ').Replace(" ", "\u00A0"))</b></u>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <span style='font-size:7.0pt;line-height:115%'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            Effective <span style="text-decoration:underline;font-weight:bold"><textarea style="width:150px;height:20px;">@(String.Format("{0:MM/dd/yyyy}", DateTime.Now))</textarea><span style="display:none" class="input-value">@(String.Format("{0:MM/dd/yyyy}", DateTime.Now))</span></span>,
            I, <span style="text-decoration:underline;font-weight:bold"><textarea style="width:150px;height:20px;">@(districtContactName)</textarea><span style="display:none" class="input-value">@(districtContactName)</span></span>,
            having authority under the laws of the state of Kansas to make educational decisions:  
        </p>

        @*<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:6.0pt'><span style='font-size:8.0pt'>                (Date)                 (Name)</span></p>*@

        @*<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            the laws of
            the state of Kansas to make educational decisions:  
        </p>*@

        @*<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <span style='font-size:4.0pt;line-height:115%'>&nbsp;</span>
        </p>*@

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <input type="checkbox" /><span style="display:none" class="yesno">[&nbsp;&nbsp;]</span>&nbsp; on behalf of the above named student  
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <input type="checkbox" /><span style="display:none" class="yesno">[&nbsp;&nbsp;]</span>&nbsp; on my own behalf (adult student),
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <span style='font-size:4.0pt;line-height:115%'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            hereby
            revoke consent for the following special education and related service(s) and
            or placement(s) for the above named student:
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <u>
                <textarea class="form-control"></textarea><span style="display:none" class="input-value"></span>
            </u>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <span style='font-size:8.0pt;line-height:115%'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            If the IEP
            team certifies in writing that the above named student does not need the
            special education and related service(s) and/or placement(s) specified above in
            order to receive a free appropriate public education (FAPE), I understand that,
            <b>
                <u>
                    after providing me with prior written notice of the termination of
                    services:
                </u>
            </b>
        </p>


        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:.25in'>
            (a)&nbsp;&nbsp;this revocation of consent will result in the school district discontinuing only the above specified service(s) and/or placement(s) and that all other provisions in the IEP will be continued;
        </p>

        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:.25in'>
            (b)&nbsp;&nbsp;this revocation of consent does not negate an action that occurs after
            consent is given and before consent is revoked; and
        </p>

        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:.25in'>
            (c)&nbsp;&nbsp;the school district will not be considered to be in violation of the
            requirement to make a FAPE in the least restrictive environment available to
            the student because of the discontinuation of the service(s) and/or
            placement(s) specified above. 
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            <span style='font-size:8.0pt;line-height:115%'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            If the IEP
            team determines that the student needs the special education and related
            service(s) and/or placement(s) specified above to receive a FAPE, I understand
            that:
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt'>
            (a) the service(s) and/or placement(s)
            specified above will continue;
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt'>
            (b) I retain all of the procedural
            safeguards specified in federal and state special education laws and
            regulations; and
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt'>
            (c) I may request mediation or
            initiate a due process hearing to challenge the IEP team’s decision that the
            special education service(s) and/or placement(s) specified above are needed in
            order for the student to receive a FAPE.
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:220.3pt;margin-bottom:.0001pt;line-height:10.0pt'><u>                                                      </u>&nbsp;<u>                                          </u></p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:6.0pt'><span style='font-size:8.0pt'>                                                                                                                       (Signature)                                             (Date)</span></p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>&nbsp;</p>

       

        @*<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:6.0pt'><span style='font-size:8.0pt'>                                                                                                                            (Name)</span></p>*@
		 <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>
            As the
            school representative on this student’s IEP team, I, <u>@(String.Format(districtContactName).PadRight(40 - String.Format(districtContactName).Length, ' ').Replace(" ", "\u00A0")) </u>,
      
            certify, on
            behalf of the IEP team, that this student’s IEP team considered the revocation
            of consent described above and that the team determined that the student  <b>
                <span style='font-size:14.0pt;line-height:115%;'>&nbsp;</span>
            </b> <i>
                     <input type="checkbox" /><span style="display:none" class="yesno">[&nbsp;&nbsp;]</span>&nbsp;does
            </i>  <b><span style='font-size:14.0pt;line-height:115%;'>&nbsp;</span></b><b>
                <span style='font-size:14.0pt;line-height:115%'></span>
            </b><input type="checkbox" /><span style="display:none" class="yesno">[&nbsp;&nbsp;]</span><i>&nbsp;does not</i>  need the
            special education and related service(s) and/or placement(s) specified above in
            order to receive a free appropriate public education (FAPE).     
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:220.3pt;margin-bottom:.0001pt;line-height:10.0pt'><u>                                                      </u>&nbsp;<u>                                          </u></p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
6.0pt'><span style='font-size:8.0pt'>                                                                                                                       (Signature)                                             (Date)</span></p>

    </div>
</div>