@{
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string contactFormattedName = Model.contacts != null && Model.contacts.Count > 0  ? Model.contacts[0].FirstName + " " + Model.contacts[0].LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
	string studentAddress = Model.contacts != null  && Model.contacts.Count > 0 ? Model.contacts[0].Address1 + " " + Model.contacts[0].Address2 : "";
	string studentCityStZip = Model.contacts != null  && Model.contacts.Count > 0 ? Model.contacts[0].City + ", " + Model.contacts[0].State + " " + Model.contacts[0].Zip: "";
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
}


<div class="module-page">
    <div class=WordSection1>
        <p class=MsoNormal align=center style='text-align:center;border:solid windowtext 0pt;padding-bottom:25px'>
            <span style='font-size:14.0pt;'>
                <b>
                    PRIOR WRITTEN NOTICE for<br />
                    TERMINATION OF PARTICULAR<br />
                    SPECIAL EDUCATION SERVICES,<br />
                    RELATED SERVICES SUPPLEMENTARY AIDS <br />
                    AND SERVICES AND/OR PLACEMENTS <br>
                    DUE TO PARENT'S REVOCATION OF CONSENT
                </b><o:p></o:p>
            </span>
        </p>

             <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=672
               style='width:7.0in;margin-left:-.05in;border-collapse:collapse'>
            <tr>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='tab-stops:lined 261.0pt'>
                    <span style='font-size:  11.0pt'><b>To:</b>					
					<u><b>@(String.Format(contactFormattedName).PadRight(65 - String.Format(contactFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u>					
					
					</span>
                    <span style='font-size:11.0pt'><o:p></o:p></span>
                </p>
                <p class=MsoNormal style='tab-stops:.3in lined 261.0pt'>
                    <span style='font-size:10.0pt'>
                        <span style='mso-tab-count:1'>       </span>(Parent/Legal Educational Decision Maker)<o:p></o:p>
                    </span>
                </p>
                </td>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                     <p class=MsoNormal style='tab-stops:lined 261.0pt'>
                    <span style='font-size:  11.0pt'><b>Date:</b> <u>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(48, ' ').Replace(" ", "\u00A0"))</u></span>
                    <span style='font-size:11.0pt'><o:p></o:p></span>
                </p>
                <p class=MsoNormal style='tab-stops:.3in lined 261.0pt'>
                    <span style='font-size:11.0pt'>
                        <span style='mso-tab-count:1'>       </span>&nbsp;<o:p></o:p>
                    </span>
                </p>
                </td>
            </tr>
            <tr>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal style='tab-stops:lined 261.0pt'>
                    <b>
                        <span style='font-size:  11.0pt'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>
                <p class=MsoNormal style='tab-stops:lined 261.0pt'>
                    <b>
                        <span style='font-size:  11.0pt'>On behalf of:</span>
                    </b><span style='font-size:11.0pt;mso-bidi-font-weight:
  bold'><u><b>@(String.Format(studentFormattedName).PadRight(51 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u></span><span style='font-size:11.0pt'><o:p></o:p></span>
</p>
<p class=MsoNormal style='tab-stops:66.6pt lined 261.0pt'>
    <span style='font-size:10.0pt'>
        <span style='mso-tab-count:1'>                           </span>(Student’s name)<o:p></o:p>
    </span>
</p>
<h2><span style='text-decoration:none;text-line-through:none'><o:p>&nbsp;</o:p></span></h2>
                </td>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <h2><span style='text-decoration:none;text-line-through:none'><o:p>&nbsp;</o:p></span></h2>
    <p class=MsoNormal>
        <b style='mso-bidi-font-weight:normal'>
            <span style='font-size:11.0pt'>Address:</span>
        </b><span style='font-size:11.0pt'><u>@(String.Format(studentAddress).PadRight(67 - String.Format(studentAddress).Length, ' ').Replace(" ", "\u00A0"))</u><o:p></o:p></span>
    </p>
    <p class=MsoNormal><span style='font-size:11.0pt'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-size:11.0pt'><u>@(String.Format(studentCityStZip).PadRight(68 - String.Format(studentAddress).Length, ' ').Replace(" ", "\u00A0"))</u><o:p></o:p></span></p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-right:7.9pt'>
            <span style='font-size:7.0pt;
mso-bidi-font-size:10.0pt;color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt;'>
            <span style='color:black'>
                On <textarea style="width:100px;height:20px"></textarea>,
                you submitted a revocation of consent, in writing, for the following special
                education services, related services, supplementary aids and services and
                placements for the student named above: <o:p></o:p>
            </span>
        </p>

        <textarea class="form-control" cols="100" rows="4"></textarea>

        <p class=MsoNormal style='margin-top:.25in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:0in;line-height:12.0pt;'>
            <b>
                <span style='color:black'>
                    1)&nbsp;ACTION TAKEN OR REFUSED <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:9.0pt;'>
            <span style='font-size:14.0pt;'><input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" />&nbsp;</span>
            <b>
                <span style='color:black'>
                    DESCRIPTION AND EXPLANATION OF THE ACTION TAKEN:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt;'>
            <b style=''>

                On <textarea style="width:100px;height:20px"></textarea>, the following
                special education services, related services, supplementary aids and services
                and/or placements will cease: <textarea class="form-control" ></textarea>
            </b>
        </p>


        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:
12.0pt;'>
            <b>
                <span style='color:black'>
                    All other services and placements will continue as
                    specified in the student's IEP.<o:p></o:p>
                </span>
            </b>
        </p>


        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:22.5pt;margin-bottom:.0001pt;line-height:12.0pt'>
            <span style='color:black'>
                This action will be taken because the education decision
                maker for this student has revoked consent for: (a) a particular service or
                services: and/or (b) a particular placement or placements, and the student’s
                IEP team has certified in writing that the student will continue to receive a
                free appropriate public education without the services or placements
                specifically stated in paragraph 1.A, above.
            </span>
        </p>



        <p class=MsoNormal style='margin-top:.25in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:9.0pt;'>
            <span style='font-size:14.0pt;'>
                <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" />&nbsp;
            </span>
            <b>
                <span style='color:black'>
                    <span style='text-transform:uppercase'>
                        Description
                        and EXPLANATION OF THE ACTION REFUSED
                    </span>:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:
12.0pt; '>
            <b style=''>
                <span style='color:black'>
                    The proposal to terminate particular special
                    education services, related services, supplementary service and/or placements
                    is refused. The following services or
                    placements will not be terminated: <br /> <textarea class="form-control" ></textarea><br />
                </span>
            </b>
        </p>


        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:
0in;margin-left:22.5pt;margin-bottom:.0001pt;line-height:12.0pt'>
            <span style='color:black'>
                This action is being refused because the education decision
                maker for this student has revoked consent for: (a) a particular service or
                services: and/or (b) a particular placement or placements, but the student’s
                IEP team has not certified in writing that the student will continue to receive
                a free appropriate public education without the services or placements
                specified paragraph 1.B, above.
            </span>
        </p>


        <p class=MsoNormal style='margin-top:.25in;line-height:12.0pt;'>
            <b>
                <span style='color:black'>
                    2)&nbsp;OPTIONS CONSIDERED AND WHY THE OPTIONS WERE
                    REJECTED:<o:p></o:p>
                </span>
            </b>
        </p>
        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>
        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b>
                <span style='color:black'>
                    3)&nbsp;DESCRIPTION OF THE DATA USED AS BASIS FOR THE
                    PROPOSED ACTION <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;padding-bottom:10px;margin-bottom:.0001pt;line-height:12.0pt'>
            <b>(<i><u>including each evaluation procedure, assessment, record or report used as a basis for the proposed or refused action</u></i>):</b>
        </p>
        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>

        <p class='MsoNormal page-break' style='margin-right:-1.0pt;line-height:12.0pt'>
            <b>
                <span style='color:black'>
                    4)&nbsp;OTHER FACTORS RELEVANT TO THE PROPOSAL (e.g.
                    LRE, harmful effects): <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b><span style='font-size:11.0pt'>ADDITIONAL INFORMATION<o:p></o:p></span></b>
        </p>

        <p class=MsoNormal>
            You may contact any of the following resources to help you
            understand the federal and state laws for educating children with
            exceptionalities and parental rights (procedural safeguards) granted by those
            laws: <st1:place w:st="on">
                <st1:PlaceName w:st="on">Kansas</st1:PlaceName> <st1:PlaceType w:st="on">State</st1:PlaceType>
            </st1:place> Dept. of Education 800-203-9462; Disability
            Rights Center of Kansas (DRC) (877) 776-1541; Families Together, Inc.
            800-264-6343; and Keys for Networking 785-233-8732.
        </p>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'></p>

        <table border="1" cellpadding="10">
            <tr>
                <td>
                    <div style='padding:1.0pt 4.0pt 1.0pt 4.0pt;margin-left:0in;margin-right:8.0pt'>
                        <h4 style='margin-right:0in;'><o:p>&nbsp;</o:p></h4>

                        <h4 style='margin-right:0in;'>
                            PROCEDURAL SAFEGUARDS TO PROTECT PARENT’S RIGHTS
                        </h4>

                        <p class=MsoNormal style='line-height:12.0pt;border:none;padding:0in;'>
                            <b style=''><span style='color:black'><o:p>&nbsp;</o:p></span></b>
                        </p>

                        <p class=MsoNormal style='text-align:left;margin-left:9.0pt;line-height:12.0pt;border:none;padding:0in;'>
                            <span style='color:black'>
                                Both state and federal laws concerning the education of children with exceptionalities include many parental rights. Receiving notices of action the school wants to take in regard to your child and being a part of your child’s educational planning team are examples of the rights these laws give you. These laws also
                                require that the school follow certain procedures to make sure you know your rights and have an opportunity to exercise those rights. The school is required to give you a copy of the rights of a parent at least one time each school year. To receive an additional copy of your rights and the procedural safeguards available to you, and if you have any questions
                                regarding your rights, you may contact the special education director of the school or special education cooperative.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:9.0pt;text-indent:-9.0pt;line-height:12.0pt;border:none;padding:0in;'><span style='color:black'><o:p>&nbsp;</o:p></span></p>

                    </div>
                </td>
            </tr>
        </table>
        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>
        <table border="1" cellpadding="10">
            <tr>
                <td>
                    <div>

                        <p class=MsoNormal align=center style='text-align:center;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt'>DELIVERY<o:p></o:p></span></b>
                        </p>

                        <p class=MsoNormal align=center style='text-align:center;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <span style='mso-bookmark:OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt'><o:p>&nbsp;</o:p></span></b>
                                </span>
                            </span>
                        </p>

                        <p class=MsoNormal style='tab-stops:261.0pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <span style='mso-bookmark:
    OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    I, <textarea style="width:100px;height:20px"></textarea>,<span style='mso-spacerun:yes'></span>
                                </span>
                            </span><span style='mso-bookmark:OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'><span style='font-size:10.0pt'><o:p></o:p></span></span>
                            </span>
                        </p>

                        <p class=MsoNormal style='tab-stops:261.0pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <span style='mso-bookmark:
    OLE_LINK2'><span style='mso-bookmark:OLE_LINK1'><o:p>&nbsp;</o:p></span></span>
                        </p>

                        <p class=MsoNormal style='text-indent:40.5pt;tab-stops:130.5pt;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" />&nbsp;  hand delivered,
                            </span><span style='mso-bookmark:OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    <span style='font-size:14.0pt'><span style='mso-spacerun:yes'>    </span></span>
                                </span>
                            </span><span style='mso-bookmark:OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" />&nbsp;  mailed,<span style='mso-spacerun:yes'></span><span style='mso-spacerun:yes'>    </span><span style='mso-spacerun:yes'></span>
                                </span>
                            </span><span style='mso-bookmark:
    OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    <input type="checkbox" /><img class='imgCheck' src="@(@imageNotChecked)" />&nbsp;  other <textarea style="width:100px;height:20px"></textarea>
                                </span>
                            </span>
                        </p>


                        <p class=MsoNormal style='tab-stops:310.5pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <span style='mso-bookmark:
    OLE_LINK2'><span style='mso-bookmark:OLE_LINK1'><o:p>&nbsp;</o:p></span></span>
                        </p>

                        <p class=MsoNormal style='tab-stops:301.5pt 6.0in;border:none;mso-border-alt:
    solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                            <span style='mso-bookmark:OLE_LINK2'>
                                <span style='mso-bookmark:OLE_LINK1'>
                                    this notice
                                    to <u><textarea maxlength="20" style="width:100px;height:20px" placeholder="(Name)"></textarea></u>&nbsp; on <u><textarea placeholder="(Date)" maxlength="20" style="width:100px;height:20px"></textarea></u>.
                                </span>
                            </span>
                        </p>



                    </div>
                </td>
            </tr>
        </table>

<br/>       

    </div>
</div>
