@{
    string studentFormattedName = Model.student != null ? Model.student.FirstName + " " + Model.student.LastName : "";
    string contactFormattedName = Model.contacts != null ? Model.contacts[0].FirstName + " " + Model.contacts[0].LastName : "";
    string teacherFormattedName = Model.teacher != null ? Model.teacher.FirstName + " " + Model.teacher.LastName : "";
}

<div>
    <div class=WordSection1>
        <div style='border:solid windowtext 1.0pt;
padding:1.0pt 4.0pt 1.0pt 4.0pt;
margin-left:0in;margin-right:8.0pt;font-size:10pt;font-family:"Times New Roman"'>
            <center>
                <b>
                    PRIOR WRITTEN NOTICE for<br />
                    TERMINATION OF PARTICULAR<br />
                    SPECIAL EDUCATION SERVICES,<br />
                    RELATED SERVICES SUPPLEMENTARY AIDS <br />
                    AND SERVICES AND/OR PLACEMENTS <br>
                    DUE TO PARENT'S REVOCATION OF CONSENT
                </b>
            </center>
        </div>
   
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=672
               style='width:7.0in;margin-left:-.05in;border-collapse:collapse'>
            <tr>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                    <p class=MsoNormal><b>To: </b><u><b>@(String.Format(contactFormattedName).PadRight(85 - String.Format(contactFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u></p>
                    <p class=MsoNormal>     (Parent/Legal Educational Decision Maker)</p>
                </td>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                    <p class=MsoNormal><b>Date:</b><u><b>@(String.Format("{0:MM/dd/yyyy}", DateTime.Now).PadRight(80, ' ').Replace(" ", "\u00A0"))</b></u></p>
                </td>
            </tr>
            <tr>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                    <p class=MsoNormal><b>On behalf of: </b><u><b>@(String.Format(studentFormattedName).PadRight(68 - String.Format(studentFormattedName).Length, ' ').Replace(" ", "\u00A0"))</b></u></p>
                    <p class=MsoNormal>

                        @(String.Format("(Student's Name)").PadLeft(38, ' ').Replace(" ", "\u00A0"))
                    </p>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                </td>
                <td width=336 valign=top style='width:3.5in;padding:0in 5.4pt 0in 5.4pt'>
                    <p class=MsoNormal><b>&nbsp;</b></p>
                    <p class=MsoNormal>

                        <b>Address:</b><u>
                            @(String.Format(Model.contacts[0].Address1 + " " + Model.contacts[0].Address2).PadRight(99 - String.Format(Model.contacts[0].Address1 + " " + Model.contacts[0].Address2).Length, ' ').Replace(" ", "\u00A0"))<br />
                            @(String.Format(Model.contacts[0].City + ", " + Model.contacts[0].State + " " + Model.contacts[0].Zip).PadRight(102 - String.Format(Model.contacts[0].City + ", " + Model.contacts[0].State + " " + Model.contacts[0].Zip).Length, ' ').Replace(" ", "\u00A0"))
                        </u>

                    </p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-right:7.9pt'>
            <span style='font-size:7.0pt;
mso-bidi-font-size:10.0pt;color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt;'>
            <span style='color:black'>
                On <input type="text" />,
                you submitted a revocation of consent, in writing, for the following special
                education services, related services, supplementary aids and services and
                placements for the student named above: <o:p></o:p>
            </span>
        </p>
      
        <textarea class="form-control" cols="100" rows="4"></textarea>

        <p class=MsoNormal style='margin-top:.25in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:0in;line-height:12.0pt;'>
            <b>
                <span style='color:black'>
                    1)&nbsp;ACTION TAKEN OR REFUSED <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:9.0pt;'>
            <span style='font-size:14.0pt;font-family:Symbol;'><input type="checkbox" width="300"/></span>
            <b>
                <span style='color:black'>
                    DESCRIPTION AND EXPLANATION OF THE ACTION TAKEN:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt;'>
            <b style=''>
                
                    On <input type="text" />, the following
                    special education services, related services, supplementary aids and services
                    and/or placements will cease: <input type="text" size="100"  />
            </b>
        </p>

       
        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:
12.0pt;'>
            <b>
                <span style='color:black'>
                    All other services and placements will continue as
                    specified in the student's IEP.<o:p></o:p>
                </span>
            </b>
        </p>


        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:22.5pt;margin-bottom:.0001pt;line-height:12.0pt'>
            <span style='color:black'>
                This action will be taken because the education decision
                maker for this student has revoked consent for: (a) a particular service or
                services: and/or (b) a particular placement or placements, and the student’s
                IEP team has certified in writing that the student will continue to receive a
                free appropriate public education without the services or placements
                specifically stated in paragraph 1.A, above.
            </span>
        </p>

     

        <p class=MsoNormal style='margin-top:.25in;margin-right:-.7pt;margin-bottom:4.0pt;margin-left:9.0pt;'>
            <span style='font-size:14.0pt;font-family:Symbol;'>
                <input type="checkbox" />
            </span>
            <b>
                <span style='color:black'>
                    <span style='text-transform:uppercase'>
                        Description
                        and EXPLANATION OF THE ACTION REFUSED
                    </span>:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:
12.0pt; '>
            <b style=''>
                <span style='color:black'>
                    The proposal to terminate particular special
                    education services, related services, supplementary service and/or placements
                    is refused. The following services or
                    placements will not be terminated.<br/> <input type="text" size="100" /><br />
                </span>
            </b>
        </p>


        <p class=MsoNormal style='margin-top:.1in;margin-right:-1.0pt;margin-bottom:
0in;margin-left:22.5pt;margin-bottom:.0001pt;line-height:12.0pt'>
            <span style='color:black'>
                This action is being refused because the education decision
                maker for this student has revoked consent for: (a) a particular service or
                services: and/or (b) a particular placement or placements, but the student’s
                IEP team has not certified in writing that the student will continue to receive
                a free appropriate public education without the services or placements
                specified paragraph 1.B, above.
            </span>
        </p>


        <p class=MsoNormal style='margin-top:.25in;line-height:12.0pt;'>
            <b>
                <span style='color:black'>
                    2)&nbsp;OPTIONS CONSIDERED AND WHY THE OPTIONS WERE
                    REJECTED:<o:p></o:p>
                </span>
            </b>
        </p>
        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>
        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b>
                <span style='color:black'>
                    3)&nbsp;DESCRIPTION OF THE DATA USED AS BASIS FOR THE
                    PROPOSED ACTION <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;padding-bottom:10px;margin-bottom:.0001pt;line-height:12.0pt'>
            <b>(<i><u>including each evaluation procedure, assessment, record or report used as a basis for the proposed or refused action</u></i>):</b>
        </p>
        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>

        <p class='MsoNormal page-break' style='margin-right:-1.0pt;line-height:12.0pt'>
            <b>
                <span style='color:black'>
                    4)&nbsp;OTHER FACTORS RELEVANT TO THE PROPOSAL (e.g.
                    LRE, harmful effects): <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p style='padding-left:10px;line-height:12.0pt;'>
            <textarea class="form-control" cols="100" rows="4"></textarea>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b><span style='font-size:11.0pt'>ADDITIONAL INFORMATION<o:p></o:p></span></b>
        </p>

        <p class=MsoNormal>
            You may contact any of the following resources to help you
            understand the federal and state laws for educating children with
            exceptionalities and parental rights (procedural safeguards) granted by those
            laws: <st1:place w:st="on">
                <st1:PlaceName w:st="on">Kansas</st1:PlaceName> <st1:PlaceType w:st="on">State</st1:PlaceType>
            </st1:place> Dept. of Education 800-203-9462; Disability
            Rights Center of Kansas (DRC) (877) 776-1541; Families Together, Inc.
            800-264-6343; and Keys for Networking 785-233-8732.
        </p>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'></p>
        <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;margin-left:0in;margin-right:8.0pt'>
            
            <center>
                <h4 style='margin-right:0in;'>
                    PROCEDURAL SAFEGUARDS TO PROTECT PARENT’S RIGHTS
                </h4>
            </center>
            
            <p class=MsoNormal style='text-align:left;margin-left:9.0pt;line-height:12.0pt;border:none;padding:0in;'>
                <span style='color:black'>
                    Both state and federal laws concerning the education of children with exceptionalities include many parental rights. Receiving notices of action the school wants to take in regard to your child and being a part of your child’s educational planning team are examples of the rights these laws give you. These laws also
                    require that the school follow certain procedures to make sure you know your rights and have an opportunity to exercise those rights. The school is required to give you a copy of the rights of a parent at least one time each school year. To receive an additional copy of your rights and the procedural safeguards available to you, and if you have any questions
                    regarding your rights, you may contact the special education director of the school or special education cooperative.
                </span>
            </p>

            <p class=MsoNormal style='margin-left:9.0pt;text-indent:-9.0pt;line-height:12.0pt;border:none;padding:0in;'><span style='color:black'><o:p>&nbsp;</o:p></span></p>

        </div>
      
        <div style='mso-element:para-border-div;border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;
    margin-left:27.0pt;margin-right:27.0pt;margin-top:10px'>

            <p class=MsoNormal align=center style='text-align:center;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt'>DELIVERY<o:p></o:p></span></b>
            </p>

            <p class=MsoNormal align=center style='text-align:center;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <span style='mso-bookmark:OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt'><o:p>&nbsp;</o:p></span></b>
                    </span>
                </span>
            </p>

            <p class=MsoNormal style='tab-stops:261.0pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <span style='mso-bookmark:
    OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        I, <input type="text" />,<span style='mso-spacerun:yes'></span>
                    </span>
                </span><span style='mso-bookmark:OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'><span style='font-size:10.0pt'><o:p></o:p></span></span>
                </span>
            </p>

            <p class=MsoNormal style='tab-stops:261.0pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <span style='mso-bookmark:
    OLE_LINK2'><span style='mso-bookmark:OLE_LINK1'><o:p>&nbsp;</o:p></span></span>
            </p>

            <p class=MsoNormal style='text-indent:40.5pt;tab-stops:130.5pt;border:none;
    mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <input type='checkbox' /> hand delivered,
                </span><span style='mso-bookmark:OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        <span style='font-size:14.0pt'><span style='mso-spacerun:yes'>    </span></span>
                    </span>
                </span><span style='mso-bookmark:OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        <input type='checkbox' /> mailed,<span style='mso-spacerun:yes'></span><span style='mso-spacerun:yes'>    </span><span style='mso-spacerun:yes'></span>
                    </span>
                </span><span style='mso-bookmark:
    OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        <input type='checkbox' /> other <input type="text" />
                    </span>
                </span>
            </p>


            <p class=MsoNormal style='tab-stops:310.5pt;border:none;mso-border-alt:solid windowtext .5pt;
    padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <span style='mso-bookmark:
    OLE_LINK2'><span style='mso-bookmark:OLE_LINK1'><o:p>&nbsp;</o:p></span></span>
            </p>

            <p class=MsoNormal style='tab-stops:301.5pt 6.0in;border:none;mso-border-alt:
    solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                <span style='mso-bookmark:OLE_LINK2'>
                    <span style='mso-bookmark:OLE_LINK1'>
                        this notice
                        to <input type="text" /> on <input type="text" />.
                    </span>
                </span>
            </p>

            <p class=MsoNormal style='text-indent:.75in;tab-stops:351.0pt 401.25pt;border:none;mso-border-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:1.0pt 4.0pt 1.0pt 4.0pt'>
                (Name)<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(Date)<span style='mso-tab-count:1'></span><o:p></o:p>


            </p>

        </div>

        <i style=''>
            <span style='font-size:10.0pt;font-family:"Times New Roman",serif;'>
                <br clear=all
                    style='page-break-before:always'>
            </span>
        </i>

        <p class=MsoNormal>
            <b style=''>
                <i style=''><o:p>&nbsp;</o:p></i>
            </b>
        </p>



        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

    </div>
</div>
