<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @RenderSection("stylesheets", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/greenbush_logo.png" width="45" height="45" class="pull-left" style="margin: auto 0; margin-right: 12px; margin-left: 2px; height: 40px; width: 40px; margin-top: 5px;" alt="Greenbush Logo" />
                @Html.ActionLink("Greenbush", "Portal", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Portal", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            string LogOutMessage = "Log Off " + ViewBag.DisplayName;
                            <li class="pull-right">@Html.ActionLink(LogOutMessage, "LogOff", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>
                @DateTime.Now.Year @Html.Raw("\u00a9 Greenbush - The Southeast Kansas Education Service Center")
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link pull-right" href="@(Url.Action("Updates", "Home"))">
                            <i class="fa fa-file-code-o updates">
                                <span class="badge badge-danger">@ViewBag.UpdateCount</span>
                            </i>
                        </a>
                    }
                }
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/jsonpath.js")*@
    @RenderSection("scripts", false)
</body>
</html>
