@model GreenBushIEP.Models.StudentGoal
@{

    var sGoal = Model.goal;

    var progQ1 = "";
    var progQ2 = "";
    var progQ3 = "";
    var progQ4 = "";
    switch (sGoal.Progress_Quarter1)
    {
        case "1": { progQ1 = "Anticipate Meeting Goal"; break; }
        case "2": { progQ1 = "Do Not Anticipate Meeting Goal (note reason)"; break; }
        case "3": { progQ1 = "Goal Met (indicate date)"; break; }
    } //end switch

    switch (sGoal.Progress_Quarter2)
    {
        case "1": { progQ2 = "Anticipate Meeting Goal"; break; }
        case "2": { progQ2 = "Do Not Anticipate Meeting Goal (note reason)"; break; }
        case "3": { progQ2 = "Goal Met (indicate date)"; break; }
    } //end switch

    switch (sGoal.Progress_Quarter3)
    {
        case "1": { progQ3 = "Anticipate Meeting Goal"; break; }
        case "2": { progQ3 = "Do Not Anticipate Meeting Goal (note reason)"; break; }
        case "3": { progQ3 = "Goal Met (indicate date)"; break; }
    } //end switch

    switch (sGoal.Progress_Quarter4)
    {
        case "1": { progQ4 = "Anticipate Meeting Goal"; break; }
        case "2": { progQ4 = "Do Not Anticipate Meeting Goal (note reason)"; break; }
        case "3": { progQ4 = "Goal Met (indicate date)"; break; }
    } //end switch


}
<table class="table table-bordered table-responsive" style="margin-top:10px;margin-bottom: 0; background-color: transparent;">
    <thead class="thead-inverse">
        <tr>
            <th class="text-center" colspan="4"><i class="ProgressAnnualGoal" style="float:left;"></i>Progress Towards Annual Goal</th>
        </tr>
        <tr class="PTAGDisplay ">
            <th>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <label>1<sup>st</sup>&nbsp;&nbsp;</label>@sGoal.ProgressDate_Quarter1.Date.ToShortDateString()
                </div>
            </th>
            <th>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <label>2<sup>nd</sup>&nbsp;&nbsp;</label>@sGoal.ProgressDate_Quarter1.Date.ToShortDateString()
                </div>
            </th>
            <th>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <label>3<sup>rd</sup>&nbsp;&nbsp;</label>@sGoal.ProgressDate_Quarter1.Date.ToShortDateString()
                </div>

            </th>
            <th>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <label>4<sup>th</sup>&nbsp;&nbsp;</label>@sGoal.ProgressDate_Quarter1.Date.ToShortDateString()
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="PTAGDisplay ">
        <tr>
            <td>
                <span>@progQ1</span>
            </td>
            <td>
                <span>@progQ2</span>
            </td>
            <td>
                <span>@progQ3</span>
            </td>
            <td>
                <span>@progQ4</span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label for="shortTermComments" data-toggle="tooltip" data-placement="top" title="Enter the student's performance while attempt to reach this goal">Comments</label>
                <div class="form-group shortTermComments">
                    <p name="reportOfAnnualGoalComments10" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@sGoal.ProgressDescription_Quarter1</p>
                    <p name="reportOfAnnualGoalComments20" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@sGoal.ProgressDescription_Quarter2</p>
                    <p name="reportOfAnnualGoalComments30" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@sGoal.ProgressDescription_Quarter3</p>
                    <p name="reportOfAnnualGoalComments40" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@sGoal.ProgressDescription_Quarter4</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>


@if (Model.benchmarks != null && Model.benchmarks.Count() > 0)
{
    foreach (var gb in Model.benchmarks.Where(o => o.goalID == sGoal.goalID).ToList())
    {
        var ddlText2 = "";
        var gbProgQ1 = "";
        var gbProgQ2 = "";
        var gbProgQ3 = "";
        var gbProgQ4 = "";
        var isChecked = "glyphicon-unchecked";

        if (gb.TransitionActivity)
        {
            isChecked = "glyphicon-check";
        }

        switch (gb.Method)
        {
            case 1: { ddlText2 = "Written Observation"; break; }
            case 2: { ddlText2 = "Written Performance"; break; }
            case 3: { ddlText2 = "Oral Performance"; break; }
            case 4: { ddlText2 = "Criterion-Referenced Test"; break; }
            case 5: { ddlText2 = "Time Sample"; break; }
            case 6: { ddlText2 = "Demonstration/Performance"; break; }
            case 7: { ddlText2 = "Other"; break; }
        } //end switch

        switch (gb.Progress_Quarter1)
        {
            case "1": { gbProgQ1 = "Not applicable during this grading period"; break; }
            case "2": { gbProgQ1 = "No progress made"; break; }
            case "3": { gbProgQ1 = "Little progress made"; break; }
            case "4": { gbProgQ1 = "Progress made; Objective not yet met"; break; }
            case "5": { gbProgQ1 = "Objective met"; break; }

        } //end switch

        switch (gb.Progress_Quarter2)
        {
            case "1": { gbProgQ2 = "Not applicable during this grading period"; break; }
            case "2": { gbProgQ2 = "No progress made"; break; }
            case "3": { gbProgQ2 = "Little progress made"; break; }
            case "4": { gbProgQ2 = "Progress made; Objective not yet met"; break; }
            case "5": { gbProgQ2 = "Objective met"; break; }

        } //end switch

        switch (gb.Progress_Quarter3)
        {
            case "1": { gbProgQ3 = "Not applicable during this grading period"; break; }
            case "2": { gbProgQ3 = "No progress made"; break; }
            case "3": { gbProgQ3 = "Little progress made"; break; }
            case "4": { gbProgQ3 = "Progress made; Objective not yet met"; break; }
            case "5": { gbProgQ3 = "Objective met"; break; }

        } //end switch

        switch (gb.Progress_Quarter4)
        {
            case "1": { gbProgQ4 = "Not applicable during this grading period"; break; }
            case "2": { gbProgQ4 = "No progress made"; break; }
            case "3": { gbProgQ4 = "Little progress made"; break; }
            case "4": { gbProgQ4 = "Progress made; Objective not yet met"; break; }
            case "5": { gbProgQ4 = "Objective met"; break; }

        } //end switch

        <label class="input-labels standard-font-size" style="margin-top: 15px;">Short Term Benchmark(s)</label>

        <div class="StudentGoalBenchmarks">

            <div class="form-group" style="padding:2px;">
                <label style="font-size:16px;">@ddlText2</label>&nbsp;<span>@gb.ObjectiveBenchmark</span>
                <b>T.A.</b>
                <input disabled type="checkbox" id="StudentEvaluationProceduresChk" name="StudentEvaluationProceduresChk" @(isChecked == "" ? String.Empty : "checked") />

            </div>
            <div class="slideReportProgress">
                <table class="table table-bordered table-bordered table-responsive">
                    <thead class="thead-inverse" style="background-color: transparent;">
                        <tr>
                            <th class="text-center" colspan="4">Reports of Progress</th>
                        </tr>
                        <tr>
                            <th>
                                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <label>1<sup>st</sup>&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="reportOfProgressQuarter10" style="height: 30px; padding: 0 0 0 10px; line-height: normal;" pattern="MM/dd/yyyy" value="@gb.ProgressDate_Quarter1.Date.ToShortDateString()" />
                                </div>
                            </th>
                            <th>
                                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <label>2<sup>nd</sup>&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="reportOfProgressQuarter20" style="height: 30px; padding: 0 0 0 10px; line-height: normal;" pattern="MM/dd/yyyy" value="@gb.ProgressDate_Quarter2.Date.ToShortDateString()" />
                                </div>
                            </th>
                            <th>
                                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <label>3<sup>rd</sup>&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="reportOfProgressQuarter30" style="height: 30px; padding: 0 0 0 10px; line-height: normal;" pattern="MM/dd/yyyy" value="@gb.ProgressDate_Quarter3.Date.ToShortDateString()" />
                                </div>
                            </th>
                            <th>
                                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <label>4<sup>th</sup>&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="reportOfProgressQuarter40" style="height: 30px; padding: 0 0 0 10px; line-height: normal;" pattern="MM/dd/yyyy" value="@gb.ProgressDate_Quarter4.Date.ToShortDateString()" />
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-append">
                                    <span>@gbProgQ1</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-append">
                                    <span>@gbProgQ2</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-append">
                                    <span>@gbProgQ3</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-append">
                                    <span>@gbProgQ4</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label for="shortTermComments" data-toggle="tooltip" data-placement="top" title="Enter a about the student's performance while attempt to reach this goal">Comments</label>
                                <div class="form-group shortTermComments">
                                    <p name="reportOfProgressShortTermComments10" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@gb.ProgressDescription_Quarter1</p>
                                    <p name="reportOfProgressShortTermComments20" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@gb.ProgressDescription_Quarter2</p>
                                    <p name="reportOfProgressShortTermComments30" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@gb.ProgressDescription_Quarter3</p>
                                    <p name="reportOfProgressShortTermComments40" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="50" data-toggle="tooltip" data-placement="bottom" title="50 character limit.">@gb.ProgressDescription_Quarter4</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    }//end foreach short term bench
}
