@model GreenBushIEP.Models.tblOtherConsideration

@{
    var studentName = ViewBag.StudentName;
    var studentId = ViewBag.StudentId;
    var showExtendYear = Model.ExtendedSchoolYear_Necessary == "1" ? true : false;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule('Other');"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>    
	<button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Other Considerations</h4>
</div>

<div class="modal-body standard-font-size">

   
        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size: 20px;">Assistive Technology</label>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label>Does the student require Assistive Technology aids and/or services in order to be involved and make progress in the general curriculum or in order to be educated in a less restrictive environment?</label>&nbsp;&nbsp; @(Model.AssistiveTechnology_Require != null && Model.AssistiveTechnology_Require.Value ? "Yes" : "No" ) 
                    <div class="form-check" id="AssistiveTechnology_Text">
                        <div id="AT_Desc" style="display: @(Model.AssistiveTechnology_Require.HasValue && Model.AssistiveTechnology_Require.Value ? "block;" : "none;")">
                            <p>@(Model.AssistiveTechnology_Description)</p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr />
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Assessments</label>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size:16px">Participation in District-Wide Assessments</label>
                <label style="font-size:16px">When the student's age or grade level is being assess, the IEP team has determined the following options(s) to be most appropriate.  In considering the unique curricular needs of the student, the IEP team may select multiple options below.  The intent is that all students will be part of the District accountability system as appropriate.</label>
                <div class="form-check">
                    <label class="radio-inline" style="font-size: 16px;"><input disabled type="radio" name="DistrictWideAssessments" id="DistrictAssessment_NoAccommodations_flag" value="1" @(Model.DistrictAssessment_NoAccommodations_flag.HasValue && Model.DistrictAssessment_NoAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in District-Wide Assessment(s) without accommodations in the follow curricular area(s):</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input disabled type="radio" name="DistrictWideAssessments" id="DistrictAssessment_WithAccommodations_flag" value="2" @(Model.DistrictAssessment_WithAccommodations_flag.HasValue && Model.DistrictAssessment_WithAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in the District-Wide Assessment(s) with accommodations in the following curricular area(s):<br /><i>Accommodations outlined within this IEP will be allowed based upon State guidelines given that the accommodation will not invalidate testing results.</i></label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input disabled type="radio" name="DistrictWideAssessments" id="DistrictAssessment_Alternative_flag" value="3" @(Model.DistrictAssessment_Alternative_flag.HasValue && Model.DistrictAssessment_Alternative_flag.Value ? "checked" : String.Empty)>Student will participate in an alternative District assessment.  If the student is not participating in the regular assessment, explain why the child cannot participate in the regular assessment and why the alternate is appropriate:</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input disabled type="radio" name="DistrictWideAssessments" id="DistrictAssessment_GradeNotAssessed" value="4" @(Model.DistrictAssessment_GradeNotAssessed.HasValue && Model.DistrictAssessment_GradeNotAssessed.Value ? "checked" : String.Empty)>Grade in which student is enrolled is not being assessed or is not required.</label><br />
                </div>
                <div class="form-check voffset2" id="DistrictAssessment_TextArea">
                    <div id="DA_NoAccom_Desc" style="display: @(Model.DistrictAssessment_NoAccommodations_flag.HasValue && Model.DistrictAssessment_NoAccommodations_flag.Value ? "block;" : "none;")">
                        <p> @(Model.DistrictAssessment_NoAccommodations_desc)</p>
                    </div>
                    <div id="DA_WithAccom_Desc" style="display: @(Model.DistrictAssessment_WithAccommodations_flag.HasValue && Model.DistrictAssessment_WithAccommodations_flag.Value ? "block;" : "none;")">
                        <p>@(Model.DistrictAssessment_WithAccommodations_desc)</p>
                    </div>
                    <div id="DA_Alt_Desc" style="display: @(Model.DistrictAssessment_Alternative_flag.HasValue && Model.DistrictAssessment_Alternative_flag.Value ? "block;" : "none;")">
                        <p>@(Model.DistrictAssessment_Alternative_desc)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Participation in State Assessments</label>
                <label style="font-size:16px">Changes occur annually in the grade or age level administration of Kansas State Assessments. In planning to meet the needs of the student, the IEP team has determined the student will participate as indicated below:</label>

                <div class="form-check">
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" disabled type="radio" name="StateWideAssessments" id="SA_NoAccom" value="1" @(Model.StateAssessment_NoAccommodations_flag.HasValue && Model.StateAssessment_NoAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in State Assessment(s) without accommodations in the follow curricular area(s):</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" disabled type="radio" name="StateWideAssessments" id="SA_WithAccom" value="2" @(Model.StateAssessment_WithAccommodations_flag.HasValue && Model.StateAssessment_WithAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in the State Assessment(s) with accommodations in the following curricular area(s):<br /><i>Accommodations outlined within this IEP will be allowed based upon State guidelines given that the accommodation will not invalidate testing results.</i></label><br />
					<label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" disabled type="radio" name="StateWideAssessments" id="SA_Alt" value="4" @(Model.StateAssesment_Alternative_flag.HasValue && Model.StateAssesment_Alternative_flag.Value ? "checked" : String.Empty)>Student will participate in an alternative State Assessment. If the student is not participating in the regular assessment, explain why the child cannot participate in the regular assessment and why the alternate is appropriate:</label><br />                    
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" disabled type="radio" name="StateWideAssessments" id="SA_Alt" value="3" @(Model.StateAssessment_RequiredCompleted.HasValue && Model.StateAssessment_RequiredCompleted.Value ? "checked" : String.Empty)>Grade in which student is enrolled is not being assessed or is not required.</label><br />

                </div>
                <div class="form-check voffset2" id="StateAssessment_TextArea">

                    <div id="SA_NoAccom_Desc" style="display: @(Model.StateAssessment_NoAccommodations_flag.HasValue && Model.StateAssessment_NoAccommodations_flag.Value ? "block;" : "none;")">
                        <p>Description: @(Model.StateAssessment_NoAccommodations_desc)</p>
                    </div>
                    <div id="SA_WithAccom_Desc" style="display: @(Model.StateAssessment_WithAccommodations_flag.HasValue && Model.StateAssessment_WithAccommodations_flag.Value ? "block;" : "none;")">
                        <p>Description: @(Model.StateAssessment_WithAccommodations_desc)</p>
                    </div>
					<div id="SA_Alt_Desc" style="display: @(Model.StateAssesment_Alternative_flag.HasValue && Model.StateAssesment_Alternative_flag.Value ? "block;" : "none;")">
                        <p>@(Model.StateAssesment_Alternative_Desc)</p>
                    </div>

                </div>

            </div>
        </div>
        <hr />
      
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Regular Education Environment</label>
                <p style="font-size:16px">The IEP team has determined that for the student to have opportunities to participate with non-identified peers in extracurricular and nonacademic activities, regularly-scheduled special education and related services may not occur when their delivery would prevent the child from participating in field trips, assemblies, special events for the general education classroom or school, state or district-wide assessments and other such activities.</p>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size:16px">
                    To what extent, if any, will the child not participate with non-identified children in general education classes, the general education curriculum, extracurricular activities, and other non academic activities?
                </label>
                <div>
                    <p>@(Model.RegularEducation_NotParticipate)</p>
                </div>
            </div>
        </div>

        @if (@showExtendYear)
        {
            
            <hr />
            <div class="row voffset2">
                <div class="col-md-12">
                    <label class=" standard-font-size">Extended School Year</label>
                    <p style="font-size:16px">The IEP team has enough information to determine that @studentName does require extended school term services.</p>
                </div>
            </div>
            <div class="row voffset2">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="radio-inline" style="font-size: 16px;"><input type="checkbox" name="ExtendedSchoolYear_RegressionRisk" id="Ext_No" @(Model.ExtendedSchoolYear_RegressionRisk.HasValue && Model.ExtendedSchoolYear_RegressionRisk.Value ? "checked" : String.Empty)> Significant regression is anticipated if ESY services are not provided.  This data should document regression/recoupment needs. It could be data taken over summer break, winter break, spring break, etc. To qualify the amount of time needed to recoup exceed the length of the break.</label><br /><br />
                        <label class="radio-inline" style="font-size: 15px;"><input type="checkbox" name="ExtendedSchoolYear_SeverityRisk" id="Ext_Req" @(Model.ExtendedSchoolYear_SeverityRisk.HasValue && Model.ExtendedSchoolYear_SeverityRisk.Value ? "checked" : String.Empty)> The nature and severity of the disability(ies) necessitate ESY to ensure the provision of FAPE so that the student can make progress toward IEP goals that are crucial in moving toward self-sufficiency and independence (examples: self-help skills as dressing or eating, or students who need continued structure to develop behavior control).</label><br />

                    </div>

                    <div class="form-check voffset2" id="ExtendedSchoolYear_TextArea">
                        <label>Severity Justification/Reasoning:</label>
                        <p>@(Model.ExtendedSchoolYear_Justification)</p>
                    </div>
                </div>
            </div>
        }

        <hr />
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Parental Notifications</label>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker has concerns for enhancing the education of @(studentName).</label>&nbsp;&nbsp;@(Model.Parental_Concerns_flag != null && Model.Parental_Concerns_flag.Value ? "Yes" : "No" )
                    
                    <div class="form-check voffset2" id="ParentalConcerns_TextArea" style="display: @(Model.Parental_Concerns_flag.HasValue && Model.Parental_Concerns_flag.Value ? "block;" : "none;")">
                        <div id="PC_Desc">
                            <p>@(Model.Parental_Concerns_Desc)</p>
                        </div>
                    </div>
                </fieldset>
            </div>
			<div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker were given/offered a copy of the Parental Rights Booklet in their native language.</label>&nbsp;&nbsp;@(Model.Parental_RightsBook_flag  ? "Yes" : "No" )
                    
                </fieldset>
            </div>
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker were given/offered a copy of the IEP.</label>&nbsp;&nbsp;@(Model.Parental_CopyIEP_flag  ? "Yes" : "No" )                    
                </fieldset>
            </div>
        </div>
		<hr />
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Potential Harmful Effects</label>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">Are there any potential harmful effects of the recommended placement on the student and/or the quality of services for the student?</label>&nbsp;&nbsp;@(Model.Potential_HarmfulEffects_flag != null && Model.Potential_HarmfulEffects_flag.Value ? "Yes" : "No" )
                    
                    <div class="form-check voffset2" id="Potential_HarmfulEffects_TextArea" style="display: @(Model.Potential_HarmfulEffects_flag.HasValue && Model.Potential_HarmfulEffects_flag.Value ? "block;" : "none;")">
                        <div id="PC_Desc">
							<label style="font-size:16px">Do the positive effects of the placement outweigh the potential harmful effects?</label>&nbsp;&nbsp;
                            <p>@(Model.Potential_HarmfulEffects_desc)</p>
                        </div>
                    </div>
                </fieldset>
            </div>			
        </div>
        <hr />
        <div class="row voffset2">
            <div class="col-md-12">
                <label>Considerations</label>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-md-12" style="font-size:16px">
                <p>The parent(s)/legal education decision-maker will be informed of @studentName's progress in writing quarterly or concurrent with the issuance of district report cards.</p>
                <p>The removal of children with disabilities from the regular educational environment (including extracurricular and nonacademic services and activities) occurs only if the nature or severity of the disability is such that education in regular classes using supplementary aids and services cannot be achieved satisfactorily.  Extracurricular and nonacademic services and activities may include but are not limited to meals, recess, transportation, athletics, clubs, and counseling services.</p>
                <p>Based on current data, individualized student needs, identified goals, services, and supports, describe how and why the student's educational placement in the least restrictive environment was determined.</p>
                <p>@(Model.EducationalPlacement)</p>
                <p>The IEP team has reviewed this educational placement and/or services and considers it reasonably designed to deliver a Free Appropriate Public Education (FAPE) in the student’s least restrictive environment.</p>
                <p>Further Clarification: The provision of the regularly scheduled special education and related services is not possible due to events that are beyond the control of the school, such as school closure due to weather or other emergencies, emergency drills, or when the student is absent from school (this does not include suspension or expulsion of the student). This IEP follows the responsible school district calendar unless otherwise specifically noted.</p>               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center; margin-top: 10px;">
                <div class="form-group">                    
                    <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>

    

</div>
<br />
<br />


