@model GreenBushIEP.Models.StudentGoalsViewModel

<style>
    .StudentGoalBenchmark {
        border: 1px solid #444;
        padding: 18px 0;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
    }

    .StudentGoalBenchmark {
        margin-bottom: 25px;
    }

    #loading-icon {
        position: fixed;
        top: 45%;
        left: 40%;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule('Progress');"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title pull-left" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Progress Report</h4>
    <div class="module-user-name">@(ViewBag.studentName)</div>
</div>
<div class="modal-body">
    <div class="alert alert-danger" id="alertMessage" role="alert" style="display: none;">
        <strong class="moreinfo">Oh snap!</strong>
    </div>
    @if (Model.studentGoals.Count > 0)
    {
        foreach (var studentGoal in Model.studentGoals)
        {
            var needsIN = (Model.studentGoals.IndexOf(studentGoal) == Model.studentGoals.Count - 1) ? "in" : String.Empty;

            var sgText = "";
            switch (studentGoal.goal.Module)
            {
                case "1": { sgText = "Health"; break; }
                case "2": { sgText = "Motor"; break; }
                case "3": { sgText = "Communication"; break; }
                case "4": { sgText = "Social-Emotional"; break; }
                case "5": { sgText = "General Intelligence"; break; }
                case "6": { sgText = "Academic Performance"; break; }
                case "7": { sgText = "Reading"; break; }
                case "8": { sgText = "Math"; break; }
                case "9": { sgText = "Written Language"; break; }
            } //end switch

            using (Html.BeginForm("EditProgressReport", "ModuleSection", FormMethod.Post, new { @class = "goalForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("progressGoalId", studentGoal.goal.goalID)
                @Html.Hidden("studentId", Model.studentId)
                @Html.Hidden("iepId", studentGoal.goal.IEPid)

                <div class="col-md-12 progressGoalReport">
                    <div class="panel-group" id="accordion@(studentGoal.goal.Title)">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="display: inline !important;">
                                    <a data-toggle="collapse" data-parent="#accordion@(studentGoal.goal.goalID)" href="#collapse@(studentGoal.goal.goalID)">
                                        <input type="hidden" name="GoalId" value="@(studentGoal.goal.goalID)" />
                                        <i class="fas fa-trophy"></i><span class="studentGoalLabel" style="margin-left:5px;">@(studentGoal.goal.Title)</span>
                                    </a>
                                    <span class="pull-right small">Include in Print? <input type="checkbox" style="vertical-align:bottom" data-val=@(studentGoal.goal.goalID) name="printGoal" checked /></span>
                                </h4>
                            </div>
                            <div id="collapse@(studentGoal.goal.goalID)" class="panel-collapse collapse @(needsIN)">
                                <div class="panel-body">
                                    <label class="standard-font-size">@(sgText)</label><br />
                                    <label class="standard-font-size">Measurable Annual Goal</label><br />
                                    <div class="form-group">
                                        <p class="standard-font-size">@(studentGoal.goal.AnnualGoal)</p>
                                    </div>
                                    <div class="form-group">
                                        <br />
                                        <label class="standard-font-size">Progress Towards Annual Goal</label>
                                        <br />
                                        <div>
                                            <div class="well">
                                                <p class="media-comment">
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control" name="ReportAnnualGoalDate1@(studentGoal.goal.goalID)" pattern="YYYY-MM-DD" value="@(studentGoal.goal.ProgressDate_Quarter1.ToString("yyyy-MM-dd"))" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" name="ReportAnnualGoal10">
                                                            <option value="1" @(studentGoal.goal.Progress_Quarter1 == "1" ? "selected='selected'" : String.Empty )>Anticipate Meeting Goal</option>
                                                            <option value="2" @(studentGoal.goal.Progress_Quarter1 == "2" ? "selected='selected'" : String.Empty )>Do Not Anticipate Meeting Goal (note reason)</option>
                                                            <option value="3" @(studentGoal.goal.Progress_Quarter1 == "3" ? "selected='selected'" : String.Empty )>Goal Met (indicate date)</option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#replyOne@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyOne@(studentGoal.goal.goalID)">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div>
                                                        <textarea name="reportOfAnnualGoalComments10" placeholder="Enter your comment about the 1st annual reporting period" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="1000">@(studentGoal.goal.ProgressDescription_Quarter1)</textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="well well-lg">
                                                <p class="media-comment">
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control" name="ReportAnnualGoalDate2@(studentGoal.goal.goalID)" pattern="YYYY-MM-DD" value="@(studentGoal.goal.ProgressDate_Quarter2.ToString("yyyy-MM-dd"))" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" name="ReportAnnualGoal20">
                                                            <option value="1" @(studentGoal.goal.Progress_Quarter2 == "1" ? "selected='selected'" : String.Empty )>Anticipate Meeting Goal</option>
                                                            <option value="2" @(studentGoal.goal.Progress_Quarter2 == "2" ? "selected='selected'" : String.Empty )>Do Not Anticipate Meeting Goal (note reason)</option>
                                                            <option value="3" @(studentGoal.goal.Progress_Quarter2 == "3" ? "selected='selected'" : String.Empty )>Goal Met (indicate date)</option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#replyTwo@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyTwo@(studentGoal.goal.goalID)">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div>
                                                        <textarea name="reportOfAnnualGoalComments20" placeholder="Enter your comment about the 1st annual reporting period" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="1000">@(studentGoal.goal.ProgressDescription_Quarter2)</textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="well well-lg">
                                                <p class="media-comment">
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control" name="ReportAnnualGoalDate3@(studentGoal.goal.goalID)" pattern="YYYY-MM-DD" value="@(studentGoal.goal.ProgressDate_Quarter3.ToString("yyyy-MM-dd"))" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" name="ReportAnnualGoal30">
                                                            <option value="1" @(studentGoal.goal.Progress_Quarter3 == "1" ? "selected='selected'" : String.Empty )>Anticipate Meeting Goal</option>
                                                            <option value="2" @(studentGoal.goal.Progress_Quarter3 == "2" ? "selected='selected'" : String.Empty )>Do Not Anticipate Meeting Goal (note reason)</option>
                                                            <option value="3" @(studentGoal.goal.Progress_Quarter3 == "3" ? "selected='selected'" : String.Empty )>Goal Met (indicate date)</option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#replyThree@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyThree@(studentGoal.goal.goalID)">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div>
                                                        <textarea name="reportOfAnnualGoalComments30" placeholder="Enter your comment about the 1st annual reporting period" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="1000">@(studentGoal.goal.ProgressDescription_Quarter3)</textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="well well-lg">
                                                <p class="media-comment">
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control" name="ReportAnnualGoalDate4@(studentGoal.goal.goalID)" pattern="YYYY-MM-DD" value="@(studentGoal.goal.ProgressDate_Quarter4.ToString("yyyy-MM-dd"))" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" name="ReportAnnualGoal40">
                                                            <option value="1" @(studentGoal.goal.Progress_Quarter4 == "1" ? "selected='selected'" : String.Empty )>Anticipate Meeting Goal</option>
                                                            <option value="2" @(studentGoal.goal.Progress_Quarter4 == "2" ? "selected='selected'" : String.Empty )>Do Not Anticipate Meeting Goal (note reason)</option>
                                                            <option value="3" @(studentGoal.goal.Progress_Quarter4 == "3" ? "selected='selected'" : String.Empty )>Goal Met (indicate date)</option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#replyFour@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyFour@(studentGoal.goal.goalID)">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div>
                                                        <textarea name="reportOfAnnualGoalComments40" placeholder="Enter your comment about the 1st annual reporting period" rows="4" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" maxlength="1000">@(studentGoal.goal.ProgressDescription_Quarter4)</textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <br />
                                        <label class="standard-font-size">Goal Short Term Benchmark(s)</label>

                                        @foreach (var benchmark in studentGoal.benchmarks)
                                        {
                                            var ddlText = "";
                                            switch (benchmark.Method)
                                            {
                                                case 1: { ddlText = "Written Observation"; break; }
                                                case 2: { ddlText = "Written Performance"; break; }
                                                case 3: { ddlText = "Oral Performance"; break; }
                                                case 4: { ddlText = "Criterion-Referenced Test"; break; }
                                                case 5: { ddlText = "Time Sample"; break; }
                                                case 6: { ddlText = "Demonstration/Performance"; break; }
                                                case 7: { ddlText = "Other"; break; }
                                            }
                                            <div class="StudentGoalBenchmark">
                                                <input type="hidden" name="StudentGoalBenchmarkId@(benchmark.goalBenchmarkID)" value="@(benchmark.goalBenchmarkID)" />
                                                <div class="form-group" style="margin-bottom: 12px;">
                                                    <div class="input-group" style="margin-left: 15px;">
                                                        <div class="input-group-btn bs-dropdown-to-select-group">
                                                            <button type="button" class="btn btn-default as-is" style="font-size:16px; height: 49px;">
                                                                <span>@(ddlText)</span>
                                                            </button>
                                                        </div>
                                                        <input type="text" value="@(benchmark.ObjectiveBenchmark.ToString())" name="StudentGoalBenchmarkTitle@(benchmark.goalBenchmarkID)" disabled="disabled" class="StudentGoalBenchmarkTitle form-control" style="background-color: #fff;" />
                                                        <span class="input-group-btn" style="display:none">
                                                            <button type="button" class="btn btn-default btn-number transition-activity" style="height:49px; border-radius: 0;">
                                                                <span class="glyphicon @(benchmark.TransitionActivity ? " glyphicon-check" : "glyphicon-unchecked" )"></span>
                                                            </button>
                                                            <input type="hidden" name="StudentGoalBenchmarkHasTransition@(benchmark.goalBenchmarkID)" value="@(benchmark.TransitionActivity.ToString())" />
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="slideReportProgress" style="padding-left: 15px;">
                                                    <div class="row form-group">
                                                        <div class="col-lg-3">
                                                            <input type="date" class="form-control" name="reportOfProgressQuarter1@(benchmark.goalBenchmarkID)" style="padding: 0 0 0 10px; line-height: normal;" pattern="YYYY-MM-DD" value="@(((DateTime)benchmark.ProgressDate_Quarter1).ToString("yyyy-MM-dd"))" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select class="form-control objective" name="ReportsOfProgressSelect1@(benchmark.goalBenchmarkID)">
                                                                <option value="1" @(benchmark.Progress_Quarter1 == "1" ? "selected='selected'" : String.Empty )>Not applicable during this grading period</option>
                                                                <option value="2" @(benchmark.Progress_Quarter1 == "2" ? "selected='selected'" : String.Empty )>No progress made</option>
                                                                <option value="3" @(benchmark.Progress_Quarter1 == "3" ? "selected='selected'" : String.Empty )>Little progress made</option>
                                                                <option value="4" @(benchmark.Progress_Quarter1 == "4" ? "selected='selected'" : String.Empty )>Progress made; Objective not yet met</option>
                                                                <option value="5" @(benchmark.Progress_Quarter1 == "5" ? "selected='selected'" : String.Empty )>Objective met</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#benchMarkOne@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-lg-3">
                                                            <input type="date" class="form-control" name="reportOfProgressQuarter2@(benchmark.goalBenchmarkID)" style="padding: 0 0 0 10px; line-height: normal;" pattern="YYYY-MM-DD" value="@(((DateTime)benchmark.ProgressDate_Quarter2).ToString("yyyy-MM-dd"))" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select class="form-control objective" name="ReportsOfProgressSelect2@(benchmark.goalBenchmarkID)">
                                                                <option value="1" @(benchmark.Progress_Quarter2 == "1" ? "selected='selected'" : String.Empty )>Not applicable during this grading period</option>
                                                                <option value="2" @(benchmark.Progress_Quarter2 == "2" ? "selected='selected'" : String.Empty )>No progress made</option>
                                                                <option value="3" @(benchmark.Progress_Quarter2 == "3" ? "selected='selected'" : String.Empty )>Little progress made</option>
                                                                <option value="4" @(benchmark.Progress_Quarter2 == "4" ? "selected='selected'" : String.Empty )>Progress made; Objective not yet met</option>
                                                                <option value="5" @(benchmark.Progress_Quarter2 == "5" ? "selected='selected'" : String.Empty )>Objective met</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#benchMarkTwo@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-lg-3">
                                                            <input type="date" class="form-control" name="reportOfProgressQuarter3@(benchmark.goalBenchmarkID)" style="padding: 0 0 0 10px; line-height: normal;" pattern="YYYY-MM-DD" value="@(((DateTime)benchmark.ProgressDate_Quarter3).ToString("yyyy-MM-dd"))" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select class="form-control objective" name="ReportsOfProgressSelect3@(benchmark.goalBenchmarkID)">
                                                                <option value="1" @(benchmark.Progress_Quarter3 == "1" ? "selected='selected'" : String.Empty )>Not applicable during this grading period</option>
                                                                <option value="2" @(benchmark.Progress_Quarter3 == "2" ? "selected='selected'" : String.Empty )>No progress made</option>
                                                                <option value="3" @(benchmark.Progress_Quarter3 == "3" ? "selected='selected'" : String.Empty )>Little progress made</option>
                                                                <option value="4" @(benchmark.Progress_Quarter3 == "4" ? "selected='selected'" : String.Empty )>Progress made; Objective not yet met</option>
                                                                <option value="5" @(benchmark.Progress_Quarter3 == "5" ? "selected='selected'" : String.Empty )>Objective met</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#benchMarkThree@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-lg-3">
                                                            <input type="date" class="form-control" name="reportOfProgressQuarter4@(benchmark.goalBenchmarkID)" style="padding: 0 0 0 10px; line-height: normal;" pattern="YYYY-MM-DD" value="@(((DateTime)benchmark.ProgressDate_Quarter4).ToString("yyyy-MM-dd"))" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select class="form-control objective" name="ReportsOfProgressSelect4@(benchmark.goalBenchmarkID)">
                                                                <option value="1" @(benchmark.Progress_Quarter4 == "1" ? "selected='selected'" : String.Empty )>Not applicable during this grading period</option>
                                                                <option value="2" @(benchmark.Progress_Quarter4 == "2" ? "selected='selected'" : String.Empty )>No progress made</option>
                                                                <option value="3" @(benchmark.Progress_Quarter4 == "3" ? "selected='selected'" : String.Empty )>Little progress made</option>
                                                                <option value="4" @(benchmark.Progress_Quarter4 == "4" ? "selected='selected'" : String.Empty )>Progress made; Objective not yet met</option>
                                                                <option value="5" @(benchmark.Progress_Quarter4 == "5" ? "selected='selected'" : String.Empty )>Objective met</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <a class="btn btn-info" style="display: grid; max-width: 225px;" data-toggle="collapse" data-target="#benchMarkFour@(studentGoal.goal.goalID)"><span class="glyphicon glyphicon-comment"></span> comments</a>
                                                        </div>
                                                    </div>
                                                    <div class="collapse row" id="benchMarkOne@(studentGoal.goal.goalID)">
                                                        <textarea name="reportOfProgressShortTermComments1@(benchmark.goalBenchmarkID)" placeholder="Enter your comment about the 1st quarter reporting period" rows="4" style="margin: 15px; width: 95%;" maxlength="1000">@(benchmark.ProgressDescription_Quarter1)</textarea>
                                                    </div>
                                                    <div class="collapse row" id="benchMarkTwo@(studentGoal.goal.goalID)">
                                                        <textarea name="reportOfProgressShortTermComments2@(benchmark.goalBenchmarkID)" placeholder="Enter your comment about the 2nd quarter reporting period" rows="4" style="margin: 15px; width: 95%;" maxlength="1000">@(benchmark.ProgressDescription_Quarter2)</textarea>
                                                    </div>
                                                    <div class="collapse row" id="benchMarkThree@(studentGoal.goal.goalID)">
                                                        <textarea name="reportOfProgressShortTermComments3@(benchmark.goalBenchmarkID)" placeholder="Enter your comment about the 3rd quarter reporting period" rows="4" style="margin: 15px; width: 95%;" maxlength="1000">@(benchmark.ProgressDescription_Quarter3)</textarea>
                                                    </div>
                                                    <div class="collapse row" id="benchMarkFour@(studentGoal.goal.goalID)">
                                                        <textarea name="reportOfProgressShortTermComments4@(benchmark.goalBenchmarkID)" placeholder="Enter your comment about the 4th quarter reporting period" rows="4" style="margin: 15px; width: 95%;" maxlength="1000">@(benchmark.ProgressDescription_Quarter4)</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="col-md-12" style="text-align:center;">
                                            <div class="form-group">
                                                <button type="button" class="formbtn btn btn-success btn-lg SaveReport"><i class="glyphicon glyphicon-check"></i>&nbsp;Save</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <img src="~/Content/Images/loading-icon.gif" id="loading-icon" class="img-responsive hidden" alt="loading content" />
</div>
<script>
    function initProgressReport() {
        $('.progressGoalReport').not('.bound').addClass('bound').each(function () {

            /* Binding */
            /* when the teacher saves the form */
            $(this).find(".SaveReport").on('click', function () {
                $("#loading-icon").removeClass("hidden");

                var progressGoal = $(this).closest('.progressGoalReport');
                var postMethod = progressGoal.closest("form").attr('action').split("/").pop();
                var data = progressGoal.closest("form").serialize();

                $.post('/ModuleSection/' + postMethod, data)
                    .done(function (results) {
                        $(".ajax-loader img").css("visibility", "hidden");
                        $(".ajax-loader .success").show().fadeOut(1000, "linear", function () {
                            $('.ajax-loader').css("visibility", "hidden");
                            $("#alertMessage").addClass('alert-success').removeClass('alert-danger');
                            $("#alertMessage .moreinfo").html('The report was successfully saved.');
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                            });
                        });

                        $("#loading-icon").addClass("hidden");
                        $(window).trigger("saving.bs.modal");
                    })
                    .fail(function (error) {
                        $(".ajax-loader img").css("visibility", "hidden");
                        $(".ajax-loader .failure").show().fadeOut(1000, "linear", function () {
                            $('.ajax-loader').css("visibility", "hidden");
                            $("#alertMessage").addClass('alert-danger').removeClass('alert-success');
                            $("#alertMessage .moreinfo").html('There was an error while trying to save the data.');
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                            });
                        });

                        $("#loading-icon").addClass("hidden");
                    });
            });

            //* Event */
            /* Closes all the other panel groups except the one you clicked on */
            $(this).find(".panel-title a").on("click", function () {
                $(".panel-collapse").each(function () {
                    $(this).collapse('hide');
                });
            });
        });
    }
    initProgressReport();
</script>
