@model GreenBushIEP.Models.tblIEPSocial

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule('Social');"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>    
	<button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="fas fa-smile" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Social-Emotional</h4>
</div>
<div class="modal-body standard-font-size">

  
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleSocialNoConcern" name="ModuleSocialNoConcern" @(Model.NoConcerns ? "checked" : String.Empty) /disabled>
                <label for="ModuleSocialNoConcern" >No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleSocialProgressTowardGenEd" id="ModuleSocialProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) disabled/>
                <label for="ModuleSocialProgressTowardGenEd" >Progressing with General Education Support</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleSocialAreaOfNeed" id="ModuleSocialAreaOfNeed" @(Model.AreaOfNeed == true ? "checked" : String.Empty) disabled/>
                <label for="ModuleSocialAreaOfNeed" >Area of Need which Impacts Performance in General Education</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleSocialMentalHealthDiagnosis" id="ModuleSocialMentalHealthDiagnosis" @(Model.MentalHealthDiagnosis ? "checked" : String.Empty) disabled/>
                <label for="ModuleSocialMentalHealthDiagnosis" >Mental Health Diagnosis</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleSocialSignificantBehaviors" id="ModuleSocialSignificantBehaviors" @(Model.SignificantBehaviors ? "checked" : String.Empty) disabled/>
                <label for="ModuleSocialSignificantBehaviors" >Significant Behaviors</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleSocialDeficit" id="ModuleSocialDeficit" @(Model.SocialDeficit == true ? "checked" : String.Empty) disabled/>
                <label for="ModuleSocialDeficit" >Social Skills Deficit</label>
            </div>
        </div>
        <fieldset class="form-group">
            <label  style="padding: 25px 0 15px;">Does this student's behavior impede the learning of self or others?</label>&nbsp; @(Model.BehaviorImepedeLearning ? "Yes" : "No")            
        </fieldset>
        <fieldset class="form-group">
            <label   style="padding: 25px 0 15px;">Does this student require a Behavior Intervention Plan?</label>&nbsp; @(Model.BehaviorInterventionPlan ? "Yes" : "No")             
        </fieldset>
        <fieldset class="form-group">
            <div>
                <label  style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
            <div class="form-check">
                <p>@(Model.PLAAFP_Strengths)</p>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
            <div class="form-check">
                <p>@(Model.PLAAFP_Concerns)</p>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label  style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <p>@(Model.AreaOfNeedDescription)</p>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label   style="padding: 25px 0 15px; padding-bottom: 0; margin-bottom: 0;">This need will be met by</label>
            <div class="form-check">
                <div class="checkbox">
                    <label><input disabled type="checkbox" name="MetByGoal" @(Model.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                    <label><input disabled type="checkbox" name="MetByAccommodation" @(Model.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), Modification(s), and/or Supplemental Aid</label><br />
                    <label><input disabled type="checkbox" name="MetByOther" @(Model.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label><br />
                </div>
            </div>
            <div class="form-check" id="MeetByOtherTextArea">
			<div style="display: @(Model.NeedMetByOther == true ? "block;" : "none;")">
				<span>Other Description:</span>
				<p>@(Model.NeedMetByOtherDescription)</p>
			</div>
		</div>
        </fieldset>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">                   
                    <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>    

</div>
<br />
<br />

