@model GreenBushIEP.Models.tblAccommodation
@using (Html.BeginForm("UpdateAccom", "ModuleSection", FormMethod.Post, new { name = "frm", id = "frm" }))
{
<div class="row oneStudentGoal " id="defaultgoal_@Model.AccommodationID" >
  @Html.HiddenFor(model => model.AccommodationID)
  @Html.HiddenFor(model => model.IEPid)
    
    @{ 
        string shortDesc = Model.AccomType == 1 ? "Accommodation " : "Modification ";
        
        if (Model.AnticipatedStartDate.HasValue)
        {
            shortDesc += Model.AnticipatedStartDate.Value.ToShortDateString();
        }
             
    }
    <div class="col-md-12">
        <div class="panel-group" id="accordion[@Model.AccommodationID]">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="btnToggle" data-toggle="collapse" data-parent="#accordion[@Model.AccommodationID]" href=@string.Format("#collapse{0}",Model.AccommodationID) data-val=@string.Format("collapse{0}", Model.AccommodationID)>
                            <span class="glyphicon glyphicon-scissors"></span><span class="studentGoalLabel" style="margin-left:5px;">@shortDesc</span>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-trash deleteGoal" accom-id="@Model.AccommodationID" ></i>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id=@string.Format("collapse{0}", Model.AccommodationID) class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="AccType">Type</label>
                                <div class="form-check" style="margin-left:8px">
                                    <label class="radio-inline"><input type="radio" name="AccomType" value="1" style="position: relative; right: 5px;"  @(Model.AccomType == 1 ? "checked=true" : String.Empty )>Accommodation</label><br />
                                    <label class="radio-inline"><input type="radio" name="AccomType" value="2" style="position: relative; right: 5px;" @(Model.AccomType == 2 ? "checked=true" : String.Empty )>Modification</label><br />

                                </div>
                            </div>
                        </div>
                        <div class="row voffset2">
                            <div class="col-md-12">
                                <label>Description:</label>
                                <div>
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @maxlength = 500 })
                                </div>
                            </div>
                        </div>
                        <div class="row voffset2" >
                            <div class="col-md-12">
                                <label>Frequency</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Frequency, new { @class = "form-control", @maxlength = 300 })
                                </div>
                            </div>
                        </div>
                        <div class="row voffset2">
                            <div class="col-md-12">
                                <label>Duration</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Duration, new { @class = "form-control", @maxlength = 300 })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row voffset4" >
                                    
                                    <div class="col-md-3">
                                        <label for="AnticipatedStartDate">Anticipated Start Date</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
                                            
                                            @if (Model.AnticipatedStartDate.HasValue)
                                            {

                                                <input type="date" data-val="true" data-val-date="The field Start Date must be a date." data-val-required="The Anticipated Start Date field is required."
                                                       id="AnticipatedStartDate" name="AnticipatedStartDate"
                                                       class="form-control" aria-describedby="basic-addon1" value="@Model.AnticipatedStartDate.Value.Date.ToString("yyyy-MM-dd")" />

                                            }
                                            else
                                            {
                                                <input type="date" data-val="true" data-val-date="The field Start Date must be a date." data-val-required="The Anticipated Start Date field is required."
                                                       id="AnticipatedStartDate" name="AnticipatedStartDate"
                                                       class="form-control" aria-describedby="basic-addon1" />

                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="AnticipatedEndDate">Anticipated End Date</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>

                                            @if (Model.AnticipatedEndDate.HasValue)
                                            {

                                                <input type="date" data-val="true" data-val-date="The field End Date must be a date." data-val-required="The Anticipated End Date field is required."
                                                       id="AnticipatedEndDate" name="AnticipatedEndDate"
                                                       class="form-control" aria-describedby="basic-addon1" value="@Model.AnticipatedEndDate.Value.Date.ToString("yyyy-MM-dd")" />

                                            }
                                            else
                                            {
                                                <input type="date" data-val="true" data-val-date="The field End Date must be a date." data-val-required="The Anticipated End Date field is required."
                                                       id="AnticipatedEndDate" name="AnticipatedEndDate"
                                                       class="form-control" aria-describedby="basic-addon1"  />

                                            }


                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" name="Location">
                                            <label for="Location">Location</label><br />
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="Location" id="Location" value="@Model.Location">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="form-group" id="saveGroup">
                                <div class="col-md-12" style="text-align:center; padding-top: 15px;">
                                    @*<button type="reset" name="btnReset" class="btn btn-default" id="resetModuleAccForm">Reset</button>*@
                                    <button type="submit"  onclick="_update(@Model.AccommodationID); return false;" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                

            </div>
           
        </div>
        
    </div>
    
</div>
}

