
@{
    List<GreenBushIEP.Models.NotificationViewModel> draftIeps = null;
    List<GreenBushIEP.Models.NotificationViewModel> dueIeps = null;
    bool showDashboardNotification = false;

    if (ViewData["showDashboardNotification"] != null)
    {
        showDashboardNotification = (bool)ViewData["showDashboardNotification"];
    }
    if (ViewData["draftIEPS"] != null)
    {
        draftIeps = ViewData["draftIEPS"] as List<GreenBushIEP.Models.NotificationViewModel>;
    }

    if (ViewData["dueIEPS"] != null)
    {
        dueIeps = ViewData["dueIEPS"] as List<GreenBushIEP.Models.NotificationViewModel>;
    }
}
<!-- Modal -->
@if((draftIeps != null && draftIeps.Count > 0) || (dueIeps != null && dueIeps.Count > 0))
{
<div class="modal fadeInUp" id="dashboardNotification" tabindex="-1" role="dialog">
    <input id="showBannerNotification" type="hidden" value="@(showDashboardNotification ? 1 : 0)" />
    <div class="modal-dialog">
        <div class="modal-content">           
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h3 class="modal-title custom_align">Notifications</h3>
            </div>
            <div class="modal-body">
                @if (dueIeps != null && dueIeps.Count > 0)
                {
                    <input id="dueIepsCount" type="hidden" value="@(dueIeps.Count)"/>                   
                    <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion[0]" href="#collapse0" id="iepsDueListBtn">
                                                <span class="studentGoalLabel" style="margin-left:5px;">Initial Evaluations Due (@(dueIeps.Count))</span>                                                
                                            </a>
                                        </h4>
                                    </div>
                                    
                        <div id="iepsDueList" class="panel panel-collapse collapse">                    
                            <div class="list-group list-group-root well">
                                @foreach (var dueIep in dueIeps)
                                {
                                    <div class="list-group-item">
                                        <span title="IEP due in @dueIep.Days day(s)">@dueIep.StudentLastName, @dueIep.StudentFirstName (@dueIep.Days)</span>  
                                        <a href="#" data-id="@(dueIep.StudentId)" title="Launch the IEP for this student" role="button"  class="btn btn-info btn-action pull-right dashboardIEP ">
                                                <span class="glyphicon glyphicon-log-out"></span>
                                         </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                @if (draftIeps != null && draftIeps.Count > 0)
                {
                    <input id="draftIepsCount" type="hidden" value="@(draftIeps.Count)"/>                   
                    <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion[0]" href="#collapse0" id="iepsDraftListBtn">
                                                <span class="studentGoalLabel" style="margin-left:5px;">Draft IEPs (@(draftIeps.Count))</span>                                                
                                            </a>
                                        </h4>
                                    </div>
                                    
                        <div id="iepsDraftList" class="panel panel-collapse collapse">                    
                            <div class="list-group list-group-root well">
                                @foreach (var draftIep in draftIeps)
                                {
                                    <div class="list-group-item">
                                        <span title="@(draftIep.Days) day(s) in Draft status">@draftIep.StudentLastName, @draftIep.StudentFirstName (@draftIep.Days)</span>  
                                        <a href="#" data-id="@(draftIep.StudentId)" title="Launch the IEP for this student" role="button"  class="btn btn-info btn-action pull-right dashboardIEP ">
                                                <span class="glyphicon glyphicon-log-out"></span>
                                         </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end modal -->
}
