@model GreenBushIEP.Models.StudentGoal

@{
    var isReadOnly = false;
    if (ViewData["isReadOnly"] != null)
    {
        isReadOnly = Convert.ToBoolean(ViewData["isReadOnly"]);
    }
}

@if (!isReadOnly)
{
    <button type="button" class="btn btn-default newObjectiveBenchmark" data-toggle="tooltip" data-placement="right" title="To add more than one short term objective, click this button." style="margin-bottom: 10px; margin-top: 10px;">Add Short Term Benchmark(s)&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
    <br />
}
<label class="input-labels" style="font-size:16px;margin-top: 15px;margin-left: 5px;">Short Term Benchmark(s)</label>
<label class="input-labels pull-right" style="font-size:16px;margin-right: 45px; margin-top:15px;">T.A.</label>

<div class="StudentGoalBenchmarks">
    @foreach (var benchmark in @Model.benchmarks)
    {
        <div class="StudentGoalBenchmark">
            <input type="hidden" name="StudentGoalBenchmarkId@(benchmark.goalBenchmarkID)" value="@(benchmark.goalBenchmarkID)" />
            <div class="form-group" style="margin-bottom: 0;">
                <div class="input-group" style="background-color: #F9F9F9;">
                    <div class="input-group-btn bs-dropdown-to-select-group">
                        <button type="button" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown" style="font-size:16px;height: 49px;">
                            <span data-bind="bs-drp-sel-label">Select Method...</span>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <input type="hidden" name="StudentGoalBenchmarkMethod@(benchmark.goalBenchmarkID)" class="StudentGoalBenchmarkMethod" data-bind="bs-drp-sel-value" value="@(benchmark.Method)">
                        <ul class="dropdown-menu" role="menu" style="font-size:16px;">
                            <li data-value="1" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Written Observation</a></li>
                            <li data-value="2" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Written Performance</a></li>
                            <li data-value="3" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Oral Performance</a></li>
                            <li data-value="4" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Criterion-Referenced Test</a></li>
                            <li data-value="5" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Time Sample</a></li>
                            <li data-value="6" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Demonstration/Performance</a></li>
                            <li data-value="7" @if (isReadOnly) { @Html.Raw("class='disabled'")  ; }><a href="#">Other</a></li>
                        </ul>
                    </div>
                    <input type="text" value="@(benchmark.ObjectiveBenchmark.ToString())" name="StudentGoalBenchmarkTitle@(benchmark.goalBenchmarkID)" class="StudentGoalBenchmarkTitle form-control" placeholder="Enter a new student benchmark" @if (isReadOnly) { @Html.Raw("disabled='disabled'")   ; } />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number transition-activity" style="height:49px; border-radius: 0;" @if (isReadOnly) { @Html.Raw("disabled='disabled'")   ; }>
                            <span class="glyphicon @(benchmark.TransitionActivity ? " glyphicon-check" : "glyphicon-unchecked" )"></span>
                        </button>
                        <input type="hidden" name="StudentGoalBenchmarkHasTransition@(benchmark.goalBenchmarkID)" value="@(benchmark.TransitionActivity.ToString())" @if (isReadOnly) { @Html.Raw("disabled='disabled'")  ; } />
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default deleteBenchmark" style="height:49px; border-radius: 0;" @if (isReadOnly) { @Html.Raw("disabled='disabled'")  ; }>
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    }
</div>