@model GreenBushIEP.Models.StudentGoal

@{
    var isReadOnly = false;
    if (ViewData["isReadOnly"] != null)
    {
        isReadOnly = Convert.ToBoolean(ViewData["isReadOnly"]);
    }
}

@if (!isReadOnly)
{
    <button type="button" class="btn btn-default newObjectiveBenchmark" data-toggle="tooltip" data-placement="right" title="To add more than one short term objective, click this button." style="margin-bottom: 10px; margin-top: 10px;">Add Short Term Benchmark(s)&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
    <br />
}
<label class="input-labels" style="font-size:16px;margin-top: 15px;margin-left: 5px;">Short Term Benchmark(s)</label>
@*<label class="input-labels pull-right" style="font-size:16px;margin-right: 45px; margin-top:15px;">T.A.</label>*@

<div class="StudentGoalBenchmarks">
    @foreach (var benchmark in @Model.benchmarks)
    {
        <div class="StudentGoalBenchmark">
            <input type="hidden" name="StudentGoalBenchmarkId@(benchmark.goalBenchmarkID)" value="@(benchmark.goalBenchmarkID)" />
			
            <div class="form-group" style="margin-bottom: 8px;padding:3px">
                <div class="input-group" style="background-color: #F9F9F9;">
                  
                    <input type="text" value="@(benchmark.ObjectiveBenchmark.ToString())" name="StudentGoalBenchmarkTitle@(benchmark.goalBenchmarkID)" class="StudentGoalBenchmarkTitle form-control" placeholder="Enter a new student benchmark" @if (isReadOnly) { @Html.Raw("disabled='disabled'")   ; } />
                    @*<span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number transition-activity" style="height:49px; border-radius: 0;" @if (isReadOnly) { @Html.Raw("disabled='disabled'")   ; }>
                            <span class="glyphicon @(benchmark.TransitionActivity ? " glyphicon-check" : "glyphicon-unchecked" )"></span>
                        </button>
                        <input type="hidden" name="StudentGoalBenchmarkHasTransition@(benchmark.goalBenchmarkID)" value="@(benchmark.TransitionActivity.ToString())" @if (isReadOnly) { @Html.Raw("disabled='disabled'")  ; } />
                    </span>*@
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default deleteBenchmark" style="height:49px; border-radius: 0;" @if (isReadOnly) { @Html.Raw("disabled='disabled'")  ; }>
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </span>					
                </div>
				<select name="StudentGoalShorttermBenchmarkMethods@(benchmark.goalBenchmarkID)" data-placeholder="Choose Methods..." class="chosen-select standard-font-size smethods" multiple="multiple"  style="height: 40px; ">
                    <option value="1" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 1) ? "selected" : "")>Written Observation</option>
                    <option value="2" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 2) ? "selected" : "")>Written Performance</option>
                    <option value="3" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 3) ? "selected" : "")>Oral Performance</option>
                    <option value="4" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 4) ? "selected" : "")>Criterion-Referenced Test</option>
                    <option value="5" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 5) ? "selected" : "")>Time Sample</option>
                    <option value="6" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 6) ? "selected" : "")>Demonstration/Performance</option>
                    <option value="7" @(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 7) ? "selected" : "")>Other</option>
                </select>
				<div class="voffset1 divOther" style="display:@(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID && o.EvaluationProcedureID == 7) ? "block" : "none")">
					<label>Other Description</label>
					<input type="text" value="@(Model.shortTermBenchmarkMethods != null && Model.shortTermBenchmarkMethods.Any(o => o.goalBenchmarkID == benchmark.goalBenchmarkID) ? Model.shortTermBenchmarkMethods.FirstOrDefault(o => o.goalBenchmarkID == benchmark.goalBenchmarkID).OtherDescription : "")" name="StudentGoalShorttermBenchmarkOther@(benchmark.goalBenchmarkID)" class="StudentGoalShorttermBenchmarkOther form-control" style="font-size:16px;" placeholder="Description" />
				</div>
            </div>
        </div>
    }
</div>