@model  GreenBushIEP.Models.IEPFormViewModel

@{
    ViewBag.Title = "Student Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/formupload.css")
}

<div class="modal-header">
    @if (ViewBag.ReturnToHome)
    {
        <a class="glyphicon glyphicon-remove btn btn-info pull-right" role="button" href="/Home/StudentProcedures?stid=@(Model.StudentId)" title="Cancel action and go back to student IEP modules"></a>
    }
    else
    {
        <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" id="backtoportal" role="button" title="Cancel action and go back to my current users list"></a>
    }
    <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-folder-open small" aria-hidden="true"></i>&nbsp;Forms</h4>
    <h5 class="formStudentName">@(Model.StudentName)</h5>
</div>
<div class="alert alert-danger" id="alertMessage" role="alert" style="display:none">
    <span class="moreinfo"><strong>Results!</strong></span>
</div>
<div class="modal-body" style="margin-bottom:40px;">
    @Html.Hidden("stid", Model.StudentId)
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#sectionA"><b>Forms</b></a></li>
        <li><a data-toggle="tab" href="#sectionB"><b>Archive</b></a></li>
        <li><a data-toggle="tab" href="#sectionC"><b>Upload File</b></a></li>
    </ul>
    <div class="tab-content container">
        <div id="sectionB" class="tab-pane fade">
            <div class="container" style="padding-left: 0;">
                <br/>
                <div class="form-group col-md-4">
                    <label for="hideArchived">Archived Forms</label>
                    <select id="hideArchived" class="form-control">
                        <option value="1">Show Active</option>
                        <option value="2">Show Hidden</option>
                    </select>
                </div>
            </div>
            <table class="table" id="tblArchives">
                <thead>
                    <tr>
                        <th class="name truncate">Form Name</th>
                        <th class="date">Date</th>
                        <th class="date">&nbsp;</th>
						<th class="@(Model.CanDelete ? "" : "hidden")">&nbsp;</th>
						
                    </tr>
                </thead>               
                <tbody>
                    @{
                        foreach (var archive in Model.Archives.Where(a => !a.isUpload && a.isActive))
                        {
							bool isDeleteable = archive.FormName.Contains("Annual IEP") ? false : true;
                            <tr>

                                <td class="name truncate">@archive.FormName</td>
                                <td class="name truncate">@archive.ArchiveDate</td>
                                <td class="date pull-right">
								<button type="button" class="btn btn-default btn-lg downloadForm" id="@archive.FormArchiveID"><i class="fa fa fa-download"></i><span>&nbsp;Download</span></button>
								</td>
								<td class="@(Model.CanDelete ? "" : "hidden")">
									<button type="button" @(isDeleteable ? "" : "disabled") class="btn btn-default btn-lg deleteArchiveForm" data-val="@archive.FormArchiveID" data-name="@archive.FormName" title="Set to inactive"><i class="fa fa fa-trash"></i><span>&nbsp;Delete</span></button>
								</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="sectionA" class="tab-pane fade in active">
            <div class="drive-wrapper drive-list-view">
                <div class="table-responsive drive-items-table-wrapper">
                    <table class="table">
                        @*<thead>
                            <tr>
                                <th class="name truncate" colspan="2">Form Name</th>
                                <th class="date">&nbsp;</th>
                            </tr>
                        </thead>*@
                        <tbody>
                            @{
                                foreach (var form in Model.IEPForms)
                                {
                                    <tr>
                                        <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
                                        <td class="name truncate"><a href="#" id="@form.Value">@form.Text</a></td>
                                        <td class="date"><button type="button" class="btn btn-default btn-lg printForm" id="@form.Value"><i class="fa fa-print"></i><span>&nbsp;Print Form</span></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="sectionC" class="tab-pane fade in">
            <div class="drive-wrapper drive-list-view">
                <div class="form-group">
                    <form enctype="multipart/form-data" method="post">
                        <label class="file-upload btn btn-default">
                            <i class="fa fa-upload"></i> Upload a File
                            <input type="file" name="myFile" class="studentFile" accept="application/pdf" />
                        </label>
                    </form>
                </div>
                <div class="table-responsive drive-items-table-wrapper">
                    <table class="table" id="tblUploads">
                        <thead>
                            <tr>
                                <th class="name truncate">Form Name</th>
                                <th class="date">Date</th>
                                <th class="date">&nbsp;</th>
                                <th class="date">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var archive in Model.Archives.Where(a => a.isUpload))
                                {
                                    <tr>
                                        <td class="name truncate">@archive.FormName</td>
                                        <td class="name truncate">@archive.ArchiveDate</td>
                                        <td class="date pull-right"><button type="button" class="btn btn-default btn-lg downloadForm" id="@archive.FormArchiveID"><i class="fa fa-download"></i><span>&nbsp;Download</span></button></td>
                                        <td class="date"><button type="button" data-formid="@(archive.FormArchiveID)" class="btn btn-default btn-lg deleteForm" id="@archive.FormArchiveID"><i class="fa fa-remove"></i><span>&nbsp;Delete</span></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- loading the file even though it's an ajax call -->
    <var data-reload="true" data-src="/Scripts/studentForms.js?v1.3"></var>
    <var data-reload="true" data-src="/Scripts/jquery.fileupload.js"></var>
    @section scripts {
        @Scripts.Render("~/Scripts/studentForms.js?v1.3")
    }
</div>