@model  GreenBushIEP.Models.IEPFormViewModel

@{
	ViewBag.Title = "Student Forms";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<div class="modal-header">
	<button type="button" class="close closeForms" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Forms</h4>
</div>
<div class="modal-body">
    @Html.Hidden("stid", Model.StudentId)

    <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#sectionB"><b>Archive</b></a></li>
        <li><a data-toggle="tab" href="#sectionA"><b>Forms</b></a></li>
        
        
    </ul>
    <div class="tab-content container">
		    <div id="sectionB" class="tab-pane fade in active" style="padding-left:5px;padding-top:5px;">            
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th class="name truncate">Form Name</th>
                                <th class="date">Date</th>
                                <th class="date">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var archive in Model.Archives)
                                {
                                    <tr>
                                        
                                        <td class="name truncate">@archive.FormName</td>
                                        <td class="name truncate">@archive.ArchiveDate</td>
                                        <td class="date"><button type="button" class="btn btn-default btn-lg downloadForm" id="@archive.FormArchiveID"><i class="fa fa-print"></i><span>&nbsp;Download</span></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
        </div>
        
        <div id="sectionA" class="tab-pane fade" style="padding-left:5px;padding-top:5px;">

            <div class="drive-wrapper drive-list-view">
                <div class="table-responsive drive-items-table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="type"></th>
                                <th class="name truncate">Name</th>
                                <th class="date">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var form in Model.IEPForms)
                                {
                                    <tr>
                                        <td class="type" style="cursor: default;"><i class="fa fa-file-text-o text-primary"></i></td>
                                        <td class="name truncate"><a href="#" id="@form.Value">@form.Text</a></td>
                                        <td class="date"><button type="button" class="btn btn-default btn-lg printForm" id="@form.Value"><i class="fa fa-print"></i><span>&nbsp;Print Form</span></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    
    </div>
	
</div>
<div class="modal-footer" style="margin-bottom:50px;">    
	<button type="button" class="closeForms formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>	
</div>
<script>

</script>
<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/studentForms.js"></var>
@section scripts {
    @Scripts.Render("~/Scripts/studentForms.js")

}