@model GreenBushIEP.Models.tblIEPIntelligence

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule();"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>    
	<button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title  pull-left" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-education" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;General Intelligence</h4>
    <div class="module-user-name">@(ViewBag.studentName)</div>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditIntelligence", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPIntelligenceID)
        @Html.HiddenFor(model => model.Completed)

        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleIntelligenceNoConcerns" name="ModuleIntelligenceNoConcerns" @(Model.Concerns ?  string.Empty : "checked") />
                <label for="ModuleIntelligenceNoConcerns" class="standard-font-size">No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleIntelligenceProgressTowardGenEd" id="ModuleIntelligenceProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) />
                <label for="ModuleIntelligenceProgressTowardGenEd" class="standard-font-size" >Progressing with General Education Support</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleIntelligenceAreaOfNeed" id="ModuleIntelligenceAreaOfNeed" @(Model.AreaOfNeed == true ? "checked" : String.Empty) />
                <label for="ModuleIntelligenceAreaOfNeed" class="standard-font-size" >Area of Need which impacts performance in General Education</label>
            </div>
        </div>
        <fieldset class="form-group">
            <div>
                <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" id="PLAAFP_Strengths" name="PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.PLAAFP_Strengths)</textarea>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" id="PLAAFP_Concerns" name="PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.PLAAFP_Concerns)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" name="ModuleIntelligenceAreaOfNeedDescription" id="ModuleIntelligenceAreaOfNeedDescription" rows="3" >@(Model.AreaOfNeedDescription)</textarea>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">
                    <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save Draft</button>
                    <button type="button" class="formbtn btn btn-success btn-lg" id="saveIntelligenceCompleted"><i class="glyphicon glyphicon-check"></i>&nbsp;Save &amp; Complete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.modifiedByFullName != null)
                {
                    <h6 class="pull-right modified">last updated on @(Model.Update_Date.ToString("MM/dd/yyyy a\\t h:mm ") + Model.Update_Date.ToString("tt").ToLower()) by @(ViewBag.modifiedByFullName)</h6>
                }
            </div>
        </div>
    }

    <div class="completed-loader @(Model.Completed ? "completed-loader-visible" : "completed-loader-hidden" )">
        <div class="text-center completed-checkbox">
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" id="isCompletedModule" checked="checked" /><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="completed-label">Completed!</span></label>
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<br />

<script>
    // Attach Event
    // if radio button is selected than show text box.
    $("input:radio[name=ModuleIntelligenceMeetNeedBy]").on('click', function (event) {
        if ($("input:radio[name=ModuleIntelligenceMeetNeedBy]:checked").val() == 3) {
            $("#MeetByOtherTextArea p").show();
        }
        else {
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
	$("#resetModuleIntelligenceForm").trigger("reset");


	/* Binding */
	/* tooltips */
	$('[data-toggle="tooltip"]').tooltip({
		trigger: 'manual'
	});

	///* Event */
	///* When a user clicks on the question mark icon we turn on tooltips */
	$('.tooltip-help').on('click', function () {
		$('[data-toggle="tooltip"]').tooltip('toggle');
	});

    ///* Event */
    ///* When a user clicks on no concers */
	$("input[name='ModuleIntelligenceNoConcerns']").on("click", function (e) {
	    if ($("input[name='ModuleIntelligenceNoConcerns']").is(':checked')) {
	        $("input[name='ModuleIntelligenceProgressTowardGenEd']").prop('checked', false);
	        $("input[name='ModuleIntelligenceAreaOfNeed']").prop('checked', false);
	    }
	})

    ///* Event */
    ///* When a user clicks on intelligence progress we need to remove no concerns */
	$("input[name='ModuleIntelligenceProgressTowardGenEd']").on("click", function (e) {
	    if ($("input[name='ModuleIntelligenceProgressTowardGenEd']").is(':checked')) {
	        $("input[name='ModuleIntelligenceNoConcerns']").prop('checked', false);
	    }
	})

	///* Event */
	///* When a user clicks on Area of Need we need to remove no concerns */
	$("input[name='ModuleIntelligenceAreaOfNeed']").on("click", function (e) {
	    if ($("input[name='ModuleIntelligenceAreaOfNeed']").is(':checked')) {
	        $("input[name='ModuleIntelligenceNoConcerns']").prop('checked', false);
	    }
	})

	$("#saveIntelligenceCompleted").on("click", function (e) {
	    if ($("input[name='ModuleIntelligenceAreaOfNeed']").is(':checked')) {

	        if ($("#PLAAFP_Strengths").val().length == 0) {
	            alert('The following field is required not to be empty: Strengths');
	            return false;
	        }

	        if ($("#PLAAFP_Concerns").val().length == 0) {
	            alert('The following field is required not to be empty: Concerns');
	            return false;
	        }

	        if ($("#ModuleIntelligenceAreaOfNeedDescription").val().length == 0) {
	            alert('The following field is required not to be empty: Area of Need');
	            return false;
	        }
	    }

	    $("#Completed").val(true);
	    $(".modal-body form").submit();
	});

	$("#isCompletedModule").on("click", function () {
	    var IEPId = $("#studentIEPId").val();

	    $.ajax({
	        type: 'GET',
	        url: '/ModuleSection/ModuleCompleted',
	        data: { stdIEPId: IEPId, module: "Intelligence" },
	        dataType: "json",
	        success: function (data) {
	            if (data.Result == "success") {
	                $(".completed-loader").fadeOut();
	                $("#Completed").val(false);

	                $("#IntelligenceWidget .hero-widget").removeClass("module-completed");
	            } else {
	                console.log("Error when updating the module.")
	            }
	        },
	        error: function (data) {
	            console.log("Unable to mark Health Module as complete.");
	        }
	    });
	});
</script>
