@model GreenBushIEP.Models.ModuleAcademicViewModel

<style>
    @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

        .nav-stacked {
            display: none;
        }

        #academic {
            border: 0;
        }
    }

    @@media only screen and (max-width : 1045px ) {

        nav-stacked {
            float: none !important;
        }

        .pull-left {
            float: none !important;
        }
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title pull-left" id="myModalLabel" style="font-size: 30px;"><i class="fa fa-university" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Academic Performance</h4>
    <div class="module-user-name">@(ViewBag.studentName)</div>
</div>
<div class="modal-body">
    @using (Html.BeginForm("EditAcademic", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Academic.IEPAcademicID)
        @Html.HiddenFor(model => model.Reading.IEPReadingID)
        @Html.HiddenFor(model => model.Math.IEPMathID)
        @Html.HiddenFor(model => model.Written.IEPWrittenID)
        @Html.HiddenFor(model => model.Academic.Completed)

        <div>
            <ul class="nav nav-pills nav-stacked pull-left">
                <li role="presentation" style="background-color: #eeeeee;"><a href="#reading" style="border-radius:0; @(Model.Reading.NoConcerns ? "color:#bbbbbb;" : String.Empty)" aria-controls="reading" role="tab" data-toggle="tab">Reading</a></li>
                <li role="presentation" style="background-color: #eeeeee;"><a href="#math" style="border-radius:0; @(Model.Math.NoConcerns ? "color:#bbbbbb;" : String.Empty)" aria-controls="math" role="tab" data-toggle="tab">Math</a></li>
                <li role="presentation" style="background-color: #eeeeee;"><a href="#written" style="border-radius:0; @(Model.Written.NoConcerns ? "color:#bbbbbb;" : String.Empty)" aria-controls="written" role="tab" data-toggle="tab">Written Language</a></li>
                <li role="presentation" style="background-color: #eeeeee;" class="active"><a href="#academic" style="border-radius:0; @(Model.Academic.NoConcerns ? "color:#bbbbbb;" : String.Empty)" aria-controls="academic" role="tab" data-toggle="tab">Academic/Functional</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="col-md-10 tab-pane fade in active" style="border: 1px #337ab7 solid; padding: 25px 50px;" id="academic">
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input type="checkbox" name="ModuleAcademicNoConcern" id="ModuleAcademicNoConcern" @(Model.Academic.NoConcerns ? "checked" : String.Empty) />
                            <label for="ModuleAcademicNoConcern" class="standard-font-size">No concern</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleAcademicProgressTowardGenEd" id="ModuleAcademicProgressTowardGenEd" @(Model.Academic.ProgressTowardGenEd ? "checked" : String.Empty) />
                            <label for="ModuleAcademicProgressTowardGenEd" class="standard-font-size">Progressing with general education support</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleAcademicAreaOfNeed" id="ModuleAcademicAreaOfNeed" @(Model.Academic.AreaOfNeed ? "checked" : String.Empty) />
                            <label for="ModuleAcademicAreaOfNeed" class="standard-font-size">Area of need which impacts performance in general education</label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div>
                            <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleAcademic_PLAAFP_Strengths" name="ModuleAcademic_PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.Academic.PLAAFP_Strengths)</textarea>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleAcademic_PLAAFP_Concerns" name="ModuleAcademic_PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.Academic.PLAAFP_Concerns)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" name="ModuleAcademicAreaOfNeedDescription" id="ModuleAcademicAreaOfNeedDescription" rows="3">@(Model.Academic.AreaOfNeedDescription)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px; padding-bottom: 0; margin-bottom: 0;">This need will be met by</label>
                        <div class="form-check">
                            <div class="checkbox academicNeedsCheckbox">
                                <label class="standard-font-size"><input type="checkbox" name="ModuleAcademicMetByGoal" @(Model.Academic.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleAcademicMetByAccommodation" @(Model.Academic.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), modification(s), and/or supplemental aid</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleAcademicMetByOther" @(Model.Academic.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label><br />
                            </div>
                            <div class="form-check" id="AcademicMeetByOtherTextArea">
                                <br />
                                <p class="standard-font-size" style="display:@(Model.Academic.NeedMetByOther == true ? "block;" : "none;");">
                                    *&nbsp;If other, please explain<br />
                                    <textarea class="form-control standard-font-size" name="ModuleAcademicMeetNeedByOtherDescription" id="ModuleAcademicMeetNeedByOtherDescription" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit.">@(Model.Academic.NeedMetByOtherDescription)</textarea>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="col-md-10 tab-pane fade" style="border: 1px #337ab7 solid; padding: 25px 50px;" id="reading">
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input type="checkbox" name="ModuleReadingNoConcern" id="ModuleReadingNoConcern" @(Model.Reading.NoConcerns ? "checked" : String.Empty ) />
                            <label for="ModuleReadingNoConcern" class="standard-font-size">No concern</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleReadingProgressTowardGenEd" id="ModuleReadingProgressTowardGenEd" @(Model.Reading.ProgressTowardGenEd ? "checked" : String.Empty) />
                            <label for="ModuleReadingProgressTowardGenEd" class="standard-font-size">Progressing towards standards with general education supports in place</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleReadingAreaOfNeed" id="ModuleReadingAreaOfNeed" @(Model.Reading.AreaOfNeed ? "checked" : String.Empty) />
                            <label for="ModuleReadingAreaOfNeed" class="standard-font-size">Area of need which impacts performance in general education</label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div>
                            <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleReading_PLAAFP_Strengths" name="ModuleReading_PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.Reading.PLAAFP_Strengths)</textarea>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleReading_PLAAFP_Concerns" name="ModuleReading_PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.Reading.PLAAFP_Concerns)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" name="ModuleReadingAreaOfNeedDescription" id="ModuleReadingAreaOfNeedDescription" rows="3">@(Model.Reading.AreaOfNeedDescription)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">This need will be met by:</label>
                        <div class="form-check">
                            <div class="checkbox readingNeedsCheckbox">
                                <label class="standard-font-size"><input type="checkbox" name="ModuleReadingMetByGoal" @(Model.Reading.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleReadingMetByAccommodation" @(Model.Reading.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), modification(s), and/or supplemental aid</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleReadingMetByOther" @(Model.Reading.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label>*<br />
                            </div>
                            <div class="form-check" id="ReadingMeetByOtherTextArea">
                                <br />
                                <p class="standard-font-size" style="display:@(Model.Reading.NeedMetByOther == true ? "block;" : "none;");">
                                    *&nbsp;If other, please explain<br />
                                    <textarea class="form-control standard-font-size" name="ModuleReadingMeetNeedByOtherDescription" id="ModuleReadingMeetNeedByOtherDescription" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit.">@(Model.Reading.NeedMetByOtherDescription)</textarea>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="col-md-10 tab-pane fade" style="border: 1px #337ab7 solid; padding: 25px 50px;" id="math">

                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input type="checkbox" name="ModuleMathNoConcern" id="ModuleMathNoConcern" @(Model.Math.NoConcerns ? "checked" : String.Empty) />
                            <label for="ModuleMathNoConcern" class="standard-font-size">No concern</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleMathProgressTowardGenEd" id="ModuleMathProgressTowardGenEd" @(Model.Math.ProgressTowardGenEd ? "checked" : String.Empty) />
                            <label for="ModuleMathProgressTowardGenEd" class="standard-font-size">Progressing towards standards with general education supports in place</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleMathAreaOfNeed" id="ModuleMathAreaOfNeed" @(Model.Math.AreaOfNeed ? "checked" : String.Empty) />
                            <label for="ModuleMathAreaOfNeed" class="standard-font-size">Area of need which impacts performance in general education</label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div>
                            <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleMath_PLAAFP_Strengths" name="ModuleMath_PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.Math.PLAAFP_Strengths)</textarea>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleMath_PLAAFP_Concerns" name="ModuleMath_PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.Math.PLAAFP_Concerns)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" name="ModuleMathAreaOfNeedDescription" id="ModuleMathAreaOfNeedDescription" rows="3">@(Model.Math.AreaOfNeedDescription)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">This need will be met by:</label>
                        <div class="form-check">
                            <div class="checkbox mathNeedsCheckbox">
                                <label class="standard-font-size"><input type="checkbox" name="ModuleMathMetByGoal" @(Model.Math.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleMathMetByAccommodation" @(Model.Math.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), modification(s), and/or supplemental aid</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleMathMetByOther" @(Model.Math.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label>*<br />
                            </div>
                            <div class="form-check" id="MathMeetByOtherTextArea">
                                <br />
                                <p class="standard-font-size" style="display:@(Model.Math.NeedMetByOther == true ? "block;" : "none;");">
                                    *&nbsp;If other, please explain<br />
                                    <textarea class="form-control standard-font-size" name="ModuleMathMeetNeedByOtherDescription" id="ModuleMathMeetNeedByOtherDescription" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit.">@(Model.Math.NeedMetByOtherDescription)</textarea>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="col-md-10 tab-pane fade" style="border: 1px #337ab7 solid; padding: 25px 50px;" id="written">
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input type="checkbox" name="ModuleWrittenNoConcern" id="ModuleWrittenNoConcern" @(Model.Written.NoConcerns ? "checked" : String.Empty) />
                            <label for="ModuleWrittenNoConcern" class="standard-font-size">No concern</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleWrittenProgressTowardGenEd" id="ModuleWrittenProgressTowardGenEd" @(Model.Written.ProgressTowardGenEd ? "checked" : String.Empty) />
                            <label for="ModuleWrittenProgressTowardGenEd" class="standard-font-size">Progressing towards standards with general education supports in place</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="checkbox" name="ModuleWrittenAreaOfNeed" id="ModuleWrittenAreaOfNeed" @(Model.Written.AreaOfNeed ? "checked" : String.Empty) />
                            <label for="ModuleWrittenAreaOfNeed" class="standard-font-size">Area of need which impacts performance in general education</label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div>
                            <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleWritten_PLAAFP_Strengths" name="ModuleWritten_PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.Written.PLAAFP_Strengths)</textarea>
                        </div>
                        <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" id="ModuleWritten_PLAAFP_Concerns" name="ModuleWritten_PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.Written.PLAAFP_Concerns)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
                        <div class="form-check">
                            <textarea class="form-control standard-font-size" name="ModuleWrittenAreaOfNeedDescription" id="ModuleWrittenAreaOfNeedDescription" rows="3" Dstyle="font-size: 18px;">@(Model.Written.AreaOfNeedDescription)</textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">This need will be met by:</label>
                        <div class="form-check">
                            <div class="checkbox writtenNeedsCheckbox">
                                <label class="standard-font-size"><input type="checkbox" name="ModuleWrittenMetByGoal" @(Model.Written.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleWrittenMetByAccommodation" @(Model.Written.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), modification(s), and/or supplemental aid</label><br />
                                <label class="standard-font-size"><input type="checkbox" name="ModuleWrittenMetByOther" @(Model.Written.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label>*<br />
                            </div>
                            <div class="form-check" id="WrittenMeetByOtherTextArea">
                                <br />
                                <p class="standard-font-size" style="display:@(Model.Written.NeedMetByOther == true ? "block;" : "none;");">
                                    *&nbsp;If other, please explain<br />
                                    <textarea class="form-control standard-font-size" name="ModuleWrittenMeetNeedByOtherDescription" id="ModuleWrittenMeetNeedByOtherDescription" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit.">@(Model.Written.NeedMetByOtherDescription)</textarea>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-offset-1 col-md-11" style="text-align:center; padding-top: 25px;">
                <div class="form-group">
                    <button type="submit" class="formbtn btn btn-primary btn-lg" id="SaveForm"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save Draft</button>
                    <button type="button" class="formbtn btn btn-success btn-lg" id="saveAcademicCompleted"><i class="glyphicon glyphicon-check"></i>&nbsp;Save &amp; Complete</button>
                </div>
            </div>
        </div>
    }

    <div class="completed-loader @(Model.Academic.Completed ? "completed-loader-visible" : "completed-loader-hidden" )">
        <div class="text-center completed-checkbox">
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" id="isCompletedModule" checked="checked" /><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="completed-label">Completed!</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="ajax-loader" style="visibility: hidden;">
        <img src="/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content">
        <strong class="success"><i class="glyphicon glyphicon-ok" />&nbsp;&nbsp;You successfully saved the data!</strong>
        <strong class="failure"><i class="glyphicon glyphicon-remove" />&nbsp;&nbsp;Unable to save the data. Please try again.</strong>
    </div>
</div>
<br />
<br />

<script>

    //**************************/
    //  Academic Attached Events
    /***************************/

    // Attach Event
    // reset tje fpr, tp default database/brand new values.
    $("input[name='ModuleAcademicNoConcern']").on('click', function (event) {
        if ($("input[name='ModuleAcademicNoConcern']:checked").length) {
            $("input[name='ModuleAcademicProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleAcademicAreaOfNeed']").prop('checked', false);

            $("#ModuleAcademicMeetNeedByOtherDescription").val('');
            $("input[name=ModuleAcademicMetByGoal]").prop('checked', false);
            $("input[name=ModuleAcademicMetByAccommodation]").prop('checked', false);
            $("input[name=ModuleAcademicMetByOther]").prop('checked', false);
            $("#AcademicMeetByOtherTextArea p").hide();
        }
    });

    $("input[name='ModuleAcademicProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleAcademicNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleAcademicAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleAcademicNoConcern']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=ModuleAcademicMetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=ModuleAcademicMetByOther]").is(':checked')) {
            $("#AcademicMeetByOtherTextArea p").show();
        }
        else {
            $("#AcademicMeetByOtherTextArea p").hide();
        }
    });

    //**************************/
    //  Reading Attached Events
    /***************************/

    // Attach Event
    // reset tje fpr, tp default database/brand new values.
    $("input[name='ModuleReadingNoConcern']").on('click', function (event) {
        if ($("input[name='ModuleReadingNoConcern']:checked").length) {
            $("input[name='ModuleReadingProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleReadingAreaOfNeed']").prop('checked', false);
            $("input[name='ModuleReadingInstructionalTier1']").prop('checked', false);
            $("input[name='ModuleReadingInstructionalTier2']").prop('checked', false);
            $("input[name='ModuleReadingInstructionalTier3']").prop('checked', false);

            $("#ModuleReadingMeetNeedByOtherDescription").val('');
            $("input[name=ModuleReadingMetByGoal]").prop('checked', false);
            $("input[name=ModuleReadingMetByAccommodation]").prop('checked', false);
            $("input[name=ModuleReadingMetByOther]").prop('checked', false);
            $("#ReadingMeetByOtherTextArea p").hide();
        }
    });

    $("input[name='ModuleReadingProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleReadingNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleReadingAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleReadingNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleReadingInstructionalTier1']").on('click', function (event) {
        $("input[name='ModuleReadingNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleReadingInstructionalTier2']").on('click', function (event) {
        $("input[name='ModuleReadingNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleReadingInstructionalTier3']").on('click', function (event) {
        $("input[name='ModuleReadingNoConcern']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=ModuleReadingMetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=ModuleReadingMetByOther]").is(':checked')) {
            $("#ReadingMeetByOtherTextArea p").show();
        }
        else {
            $("#ReadingMeetByOtherTextArea p").hide();
        }
    });

    //**************************/
    //  Math Attached Events
    /***************************/

    // Attach Event
    // reset tje fpr, tp default database/brand new values.
    $("input[name='ModuleMathNoConcern']").on('click', function (event) {
        if ($("input[name='ModuleMathNoConcern']:checked").length) {
            $("input[name='ModuleMathProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleMathAreaOfNeed']").prop('checked', false);
            $("input[name='ModuleMathInstructionalTier1']").prop('checked', false);
            $("input[name='ModuleMathInstructionalTier2']").prop('checked', false);
            $("input[name='ModuleMathInstructionalTier3']").prop('checked', false);

            $("#ModuleMathMeetNeedByOtherDescription").val('');
            $("input[name=ModuleMathMetByGoal]").prop('checked', false);
            $("input[name=ModuleMathMetByAccommodation]").prop('checked', false);
            $("input[name=ModuleMathMetByOther]").prop('checked', false);
            $("#MathMeetByOtherTextArea p").hide();
        }
    });

    $("input[name='ModuleMathProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleMathNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleMathAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleMathNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleMathInstructionalTier1']").on('click', function (event) {
        $("input[name='ModuleMathNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleMathInstructionalTier2']").on('click', function (event) {
        $("input[name='ModuleMathNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleMathInstructionalTier3']").on('click', function (event) {
        $("input[name='ModuleMathNoConcern']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=ModuleMathMetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=ModuleMathMetByOther]").is(':checked')) {
            $("#MathMeetByOtherTextArea p").show();
        }
        else {
            $("#MathMeetByOtherTextArea p").hide();
        }
    });

    //**************************/
    //  Written Attached Events
    /***************************/

    // Attach Event
    // reset tje fpr, tp default database/brand new values.
    $("input[name='ModuleWrittenNoConcern']").on('click', function (event) {
        if ($("input[name='ModuleWrittenNoConcern']:checked").length) {
            $("input[name='ModuleWrittenProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleWrittenAreaOfNeed']").prop('checked', false);
            $("input[name='ModuleWrittenInstructionalTier1']").prop('checked', false);
            $("input[name='ModuleWrittenInstructionalTier2']").prop('checked', false);
            $("input[name='ModuleWrittenInstructionalTier3']").prop('checked', false);

            $("#ModuleWrittenMeetNeedByOtherDescription").val('');
            $("input[name=ModuleWrittenMetByGoal]").prop('checked', false);
            $("input[name=ModuleWrittenMetByAccommodation]").prop('checked', false);
            $("input[name=ModuleWrittenMetByOther]").prop('checked', false);
            $("#WrittenMeetByOtherTextArea p").hide();
        }
    });

    $("input[name='ModuleWrittenProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleWrittenNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleWrittenAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleWrittenNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleWrittenInstructionalTier1']").on('click', function (event) {
        $("input[name='ModuleWrittenNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleWrittenInstructionalTier2']").on('click', function (event) {
        $("input[name='ModuleWrittenNoConcern']").prop('checked', false);
    });

    $("input[name='ModuleWrittenInstructionalTier3']").on('click', function (event) {
        $("input[name='ModuleWrittenNoConcern']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=ModuleWrittenMetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=ModuleWrittenMetByOther]").is(':checked')) {
            $("#WrittenMeetByOtherTextArea p").show();
        }
        else {
            $("#WrittenMeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
    $("#resetModuleAcademicForm").trigger("reset");

    /* Binding */
    /* tooltips */
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'manual'
    });

    ///* Event */
    ///* When a user clicks on the question mark icon we turn on tooltips */
    $('.tooltip-help').on('click', function () {
        $('[data-toggle="tooltip"]').tooltip('toggle');
    });

    $("#SaveForm").on("click", function (e) {
        $('.ajax-loader').css("visibility", "visible");
        $(".ajax-loader img").css("visibility", "visible");
        
        var stid = getUrlParameter('stid');

        var form = $(this).closest("form");
        $.ajax({
            type: 'POST',
            url: '/ModuleSection/EditAcademic',
            data: form.serialize(),
            dataType: "json",
            success: function (data) {
                if (data.Result == "success") {

                    $(".ajax-loader img").css("visibility", "hidden");
                    $(".ajax-loader .success").show().fadeOut(1000, "linear", function () {
                        $('.ajax-loader').css("visibility", "hidden");
                    });

                    if (data.Completed)
                    {
                        $("#AcademicWidget .hero-widget").addClass("module-completed");
                    }

                    $(window).trigger("saving.bs.modal");
                    //window.location.href = '/Home/StudentProcedures?stid=' + stid + '&iepID=';
                    window.history.go(0);
                } else {
                    $(".ajax-loader img").css("visibility", "hidden");
                    $(".ajax-loader .failure").show().fadeOut(1000, "linear", function () {
                        $('.ajax-loader').css("visibility", "hidden");
                        $("#alertMessage .moreinfo").html('There was an error while trying to save the data.');
                        $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                            $("#alertMessage").slideUp(500);
                        });
                    });
                }
            },
            error: function (data) {
                $(".ajax-loader img").css("visibility", "hidden");
                $(".ajax-loader .failure").show().fadeOut(1000, "linear", function () {
                    $('.ajax-loader').css("visibility", "hidden");
                    $("#alertMessage .moreinfo").html('There was an error while trying to save the data.');
                    $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                        $("#alertMessage").slideUp(500);
                    });
                });
            }
        });
    })

    $("#saveAcademicCompleted").on("click", function (e) {
        if ($("input[name='ModuleAcademicAreaOfNeed']").is(':checked')) {
            if ($("#ModuleAcademic_PLAAFP_Strengths").val().length == 0) {
                alert('The following field is required not to be empty: Academic Strengths');
                return false;
            }

            if ($("#ModuleAcademic_PLAAFP_Concerns").val().length == 0) {
                alert('The following field is required not to be empty: Academic Concerns');
                return false;
            }

            if ($("#ModuleAcademicAreaOfNeedDescription").val().length == 0) {
                alert('The following field is required not to be empty: Area of Need');
                return false;
            }

            if ($(".academicNeedsCheckbox input[type='checkbox']").not(":checked").length == 3) {
                alert("At least one check mark under Academic 'met by' should be checked");
                return false;
            }
        }

        if ($("input[name='ModuleReadingAreaOfNeed']").is(':checked')) {
            if ($("#ModuleReading_PLAAFP_Strengths").val().length == 0) {
                alert('The following field is required not to be empty: Reading Strengths');
                return false;
            }

            if ($("#ModuleReading_PLAAFP_Concerns").val().length == 0) {
                alert('The following field is required not to be empty: Reading Concerns');
                return false;
            }

            if ($("#ModuleReadingAreaOfNeedDescription").val().length == 0) {
                alert('The following field is required not to be empty: Reading Area of Need');
                return false;
            }

            if ($(".readingNeedsCheckbox input[type='checkbox']").not(":checked").length == 3) {
                alert("At least one check mark under Reading 'met by' should be checked");
                return false;
            }
        }

        if ($("input[name='ModuleMathAreaOfNeed']").is(':checked')) {
            if ($("#ModuleMath_PLAAFP_Strengths").val().length == 0) {
                alert('The following field is required not to be empty: Math Strengths');
                return false;
            }

            if ($("#ModuleMath_PLAAFP_Concerns").val().length == 0) {
                alert('The following field is required not to be empty: Math Concerns');
                return false;
            }

            if ($("#ModuleMathAreaOfNeedDescription").val().length == 0) {
                alert('The following field is required not to be empty: Math Area of Need');
                return false;
            }

            if ($(".mathNeedsCheckbox input[type='checkbox']").not(":checked").length == 3) {
                alert("At least one check mark under Math 'met by' should be checked");
                return false;
            }
        }

        if ($("input[name='ModuleWrittenAreaOfNeed']").is(':checked')) {
            if ($("#ModuleWritten_PLAAFP_Strengths").val().length == 0) {
                alert('The following field is required not to be empty: Written Strengths');
                return false;
            }

            if ($("#ModuleWritten_PLAAFP_Concerns").val().length == 0) {
                alert('The following field is required not to be empty: Written Concerns');
                return false;
            }

            if ($("#ModuleWrittenAreaOfNeedDescription").val().length == 0) {
                alert('The following field is required not to be empty: Written Area of Need');
                return false;
            }

            if ($(".writtenNeedsCheckbox input[type='checkbox']").not(":checked").length == 3) {
                alert("At least one check mark under Written 'met by' should be checked");
                return false;
            }
        }

        $(this).closest("form").find("input[name='Academic.Completed']").val(true);
        $(this).prev().trigger(event.type);
    });

    $("#isCompletedModule").on("click", function () {
        var IEPId = $("#studentIEPId").val();

        $.ajax({
            type: 'GET',
            url: '/ModuleSection/ModuleCompleted',
            data: { stdIEPId: IEPId, module: "Academic" },
            dataType: "json",
            success: function (data) {
                if (data.Result == "success") {
                    $(".completed-loader").fadeOut();
                    $("#Academic_Completed").val(false);

                    $("#AcademicWidget .hero-widget").removeClass("module-completed");

                    $(window).trigger("saving.bs.modal");
                } else {
                    console.log("Error when updating the module.")
                }
            },
            error: function (data) {
                console.log("Unable to mark Health Module as complete.");
            }
        });
    });

</script>