@model GreenBushIEP.Models.tblIEPCommunication

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="fa fa-commenting" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Communication</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditCommunication", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPCommunicationID)

        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleCommunicationNoConcerns" name="ModuleCommunicationNoConcerns" @(Model.NoConcerns ? "checked" : String.Empty ) />
                <label for="ModuleCommunicationNoConcerns">No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationProgressTowardGenEd" id="ModuleCommunicationProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) />
                <label for="ModuleCommunicationProgressTowardGenEd">Progressing with General Education Support</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationAreaOfNeed" id="ModuleCommunicationAreaOfNeed" @(Model.AreaOfNeed == true ? "checked" : String.Empty) />
                <label for="ModuleCommunicationAreaOfNeed">Area of Need which impacts performance in General Education</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationDeaf" id="ModuleCommunicationDeaf" @(Model.Deaf ? "checked" : String.Empty) />
                <label for="ModuleCommunicationDeaf">Deaf/Hard of Hearing</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationLimitedEnglish" id="ModuleCommunicationLimitedEnglish" @(Model.LimitedEnglish ? "checked" : String.Empty) />
                <label for="ModuleCommunicationLimitedEnglish">Limited English Proficiency</label>
            </div>
        </div>
        <fieldset class="form-group">
            <label style="font-size: 20px; padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleCommunicationLevelOfPerformance" id="ModuleCommunicationLevelOfPerformance" rows="3" style="font-size: 21px;" placeholder="Describe strengths and concerns (include baseline data)">@(Model.LevelOfPerformance)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 20px; padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleCommunicationAreaOfNeedDescription" id="ModuleCommunicationAreaOfNeedDescription" rows="3" style="font-size: 21px;">@(Model.AreaOfNeedDescription)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 20px; padding: 25px 0 15px;">This need will be met by:</label>
            <div class="form-check">
                <label class="radio-inline"><input type="radio" name="ModuleCommunicationMeetNeedBy" value="4" style="position: relative; right: 5px;" @(Model.MeetNeedBy == 4 || Model.MeetNeedBy == null ? "checked" : String.Empty)>No needs to address</label><br />
                <label class="radio-inline"><input type="radio" name="ModuleCommunicationMeetNeedBy" value="1" style="position: relative; right: 5px;" @(Model.MeetNeedBy == 1 ? "checked" : String.Empty)>Goal</label><br />
                <label class="radio-inline"><input type="radio" name="ModuleCommunicationMeetNeedBy" value="2" style="position: relative; right: 5px;" @(Model.MeetNeedBy == 2 ? "checked" : String.Empty)>Accommodation(s), Modification(s), and/or Supplemental Aid</label><br />
                <label class="radio-inline"><input type="radio" name="ModuleCommunicationMeetNeedBy" value="3" style="position: relative; right: 5px;" @(Model.MeetNeedBy == 3 ? "checked" : String.Empty)>Other</label><br />
            </div>
            <div class="form-check" id="MeetByOtherTextArea">
                <br />
                <p style="display: @(Model.MeetNeedBy == 3 ? "block;" : "none;") ">
                    *if other, please explain<br />
                    <textarea class="form-control" name="ModuleCommunicationMeetNeedByOtherDescription" id="ModuleCommunicationMeetNeedByOtherDescription" rows="3" style="font-size: 21px;" maxlength="100" data-toggle="tooltip" data-placement="bottom" title="100 character limit.">@(Model.MeetNeedByOtherDescription)</textarea>
            </div>
        </fieldset>

        <div class="row" style="margin-bottom:8px">
            <div class="form-group">
                <div class="col-md-12" style="text-align:center;">
                    <button type="reset" class="btn btn-default" id="resetModuleCommunicationForm" data-toggle="tooltip" data-placement="bottom" title="Reset form to initial values."><i class="glyphicon glyphicon-repeat"></i>&nbsp;Reset</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                    <div class="pull-right"><button type="button" class="btn btn-danger btn-block" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Close</button></div>
                </div>
            </div>
        </div>
    }

</div>
<div class="modal-footer">
</div>

<script>
    // Attach Event
    //reset the form to default database/brand new values.
    $("input[name='ModuleCommunicationNoConcerns']").on('click', function (event) {
        if ($("input[name='ModuleCommunicationNoConcerns']:checked").length)
        {
            $("input[name='ModuleCommunicationProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleCommunicationAreaOfNeed']").prop('checked', false);
            $("input[name='ModuleCommunicationDeaf']").prop('checked', false);
            $("input[name='ModuleCommunicationLimitedEnglish']").prop('checked', false);

            $("input:radio[name=ModuleCommunicationMeetNeedBy]").prop('checked', false);
            $("#ModuleCommunicationMeetNeedByOtherDescription p").hide();
        }
    });

    // Attach Event
    $("input[name='ModuleCommunicationProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationDeaf']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationLimitedEnglish']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    // if radio button is selected than show text box.
    $("input:radio[name=ModuleCommunicationMeetNeedBy]").on('click', function (event) {
        if ($("input:radio[name=ModuleCommunicationMeetNeedBy]:checked").val() == 3) {
            $("#MeetByOtherTextArea p").show();
        }
        else {
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
	$("#resetModuleMotorForm").trigger("reset");

	/* Binding */
	/* tooltips */
	$('[data-toggle="tooltip"]').tooltip({
		trigger: 'manual'
	});

	///* Event */
	///* When a user clicks on the question mark icon we turn on tooltips */
	$('.tooltip-help').on('click', function () {
		$('[data-toggle="tooltip"]').tooltip('toggle');
	});
</script>