@model GreenBushIEP.Models.tblOtherConsideration

@{
    var studentName = ViewBag.StudentName;
    var studentId = ViewBag.StudentId;
    var showExtendYear = Model.ExtendedSchoolYear_Necessary == "1" ? true : false;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule('Other');"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>    
	<button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title pull-left" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Other Considerations</h4>
    <div class="module-user-name">@(ViewBag.FullName)</div>
</div>

<div class="modal-body">

    @using (Html.BeginForm("EditOtherConsiderations", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPid)
        @Html.HiddenFor(model => Model.OtherConsiderationID)
        @Html.HiddenFor(model => Model.Completed)
        <input type="hidden" name="StudentId" id="StudentId" value="@studentId" />

        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size: 20px;">Assistive Technology</label>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label class="standard-font-size">Does the student require Assistive Technology aids and/or services in order to be involved and make progress in the general curriculum or in order to be educated in a less restrictive environment?</label>&nbsp;&nbsp;
                    <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                        <input type="checkbox" name="AssistiveTechnology_Require" id="AssistiveTechnology_Require" class="falsetrueswitch-checkbox" @(Model.AssistiveTechnology_Require != null && Model.AssistiveTechnology_Require.Value ? "checked" : String.Empty ) />
                        <label class="falsetrueswitch-label" for="AssistiveTechnology_Require">
                            <span class="falsetrueswitch-inner"></span>
                            <span class="falsetrueswitch-switch"></span>
                        </label>
                    </div>
                    <div class="form-check" id="AssistiveTechnology_Text" style="margin-top: 15px;">
                        <p id="AT_Desc" style="display: @(Model.AssistiveTechnology_Require.HasValue && Model.AssistiveTechnology_Require.Value ? "block;" : "none;")">
                            <input class="form-control standard-font-size" id="AssistiveTechnology_Description" name="AssistiveTechnology_Description" type="text" value="@(Model.AssistiveTechnology_Description)" placeholder="Explain" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr style="margin: 0;" />
        <div class="row voffset2">
            <div class="col-md-12">
                <label class="standard-font-size">Assessments</label>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size:16px">Participation in District-Wide Assessments</label>
                <label style="font-size:16px">When the student's age or grade level is being assessed, the IEP team has determined the following options(s) to be most appropriate.  In considering the unique curricular needs of the student, the IEP team may select multiple options below.  The intent is that all students will be part of the District accountability system as appropriate.</label>
                <div class="form-check">
                    <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="DistrictWideAssessments" id="DistrictAssessment_NoAccommodations_flag" value="1" @(Model.DistrictAssessment_NoAccommodations_flag.HasValue && Model.DistrictAssessment_NoAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in District-Wide Assessment(s) without accommodations in the following curricular area(s):</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="DistrictWideAssessments" id="DistrictAssessment_WithAccommodations_flag" value="2" @(Model.DistrictAssessment_WithAccommodations_flag.HasValue && Model.DistrictAssessment_WithAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in the District-Wide Assessment(s) with accommodations in the following curricular area(s):<br /><i>Accommodations outlined within this IEP will be allowed based upon State guidelines given that the accommodation will not invalidate testing results.</i></label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="DistrictWideAssessments" id="DistrictAssessment_Alternative_flag" value="3" @(Model.DistrictAssessment_Alternative_flag.HasValue && Model.DistrictAssessment_Alternative_flag.Value ? "checked" : String.Empty)>Student will participate in an alternative District Assessment.  If the student is not participating in the regular assessment, explain why the child cannot participate in the regular assessment and why the alternate is appropriate:</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="DistrictWideAssessments" id="DistrictAssessment_GradeNotAssessed" value="4" @(Model.DistrictAssessment_GradeNotAssessed.HasValue && Model.DistrictAssessment_GradeNotAssessed.Value ? "checked" : String.Empty)>Grade in which student is enrolled is not being assessed or is not required.</label><br />
                </div>
                <div class="form-check voffset2" id="DistrictAssessment_TextArea">
                    <p id="DA_NoAccom_Desc" style="display: @(Model.DistrictAssessment_NoAccommodations_flag.HasValue && Model.DistrictAssessment_NoAccommodations_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="DistrictAssessment_NoAccommodations_desc" name="DistrictAssessment_NoAccommodations_desc" type="text" value="@(Model.DistrictAssessment_NoAccommodations_desc)" placeholder="Describe curricular area(s)" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                    <p id="DA_WithAccom_Desc" style="display: @(Model.DistrictAssessment_WithAccommodations_flag.HasValue && Model.DistrictAssessment_WithAccommodations_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="DistrictAssessment_WithAccommodations_desc" name="DistrictAssessment_WithAccommodations_desc" type="text" value="@(Model.DistrictAssessment_WithAccommodations_desc)" placeholder="Describe curricular area(s)" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                    <p id="DA_Alt_Desc" style="display: @(Model.DistrictAssessment_Alternative_flag.HasValue && Model.DistrictAssessment_Alternative_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="DistrictAssessment_Alternative_desc" name="DistrictAssessment_Alternative_desc" type="text" value="@(Model.DistrictAssessment_Alternative_desc)" placeholder="Describe" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                </div>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label class="standard-font-size">Participation in State Assessments</label>
                <label style="font-size:16px">Changes occur annually in the grade or age level administration of Kansas State Assessments. In planning to meet the needs of the student, the IEP team has determined the student will participate as indicated below:</label>
                <div class="form-check">
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" type="radio" name="StateWideAssessments" id="SA_NoAccom" value="1" @(Model.StateAssessment_NoAccommodations_flag.HasValue && Model.StateAssessment_NoAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in State Assessment(s) without accommodations in the follow curricular area(s):</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" type="radio" name="StateWideAssessments" id="SA_WithAccom" value="2" @(Model.StateAssessment_WithAccommodations_flag.HasValue && Model.StateAssessment_WithAccommodations_flag.Value ? "checked" : String.Empty)>Student will participate in the State Assessment(s) with accommodations in the following curricular area(s):<br /><i>Accommodations outlined within this IEP will be allowed based upon State guidelines given that the accommodation will not invalidate testing results.</i></label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" type="radio" name="StateWideAssessments" id="SA_Alt" value="4" @(Model.StateAssesment_Alternative_flag.HasValue && Model.StateAssesment_Alternative_flag.Value ? "checked" : String.Empty)>Student will participate in an alternative State Assessment. If the student is not participating in the regular assessment, explain why the child cannot participate in the regular assessment and why the alternate is appropriate:</label><br />
                    <label class="radio-inline" style="font-size: 16px;"><input style="font-size: 15px;" type="radio" name="StateWideAssessments" id="SA_Complete" value="3" @(Model.StateAssessment_RequiredCompleted.HasValue && Model.StateAssessment_RequiredCompleted.Value ? "checked" : String.Empty)>Grade in which student is enrolled is not being assessed or is not required.</label><br />

                </div>
                <div class="form-check voffset2" id="StateAssessment_TextArea">

                    <p id="SA_NoAccom_Desc" style="display: @(Model.StateAssessment_NoAccommodations_flag.HasValue && Model.StateAssessment_NoAccommodations_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="StateAssessment_NoAccommodations_desc" name="StateAssessment_NoAccommodations_desc" type="text" value="@(Model.StateAssessment_NoAccommodations_desc)" placeholder="Describe curricular area(s)" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                    <p id="SA_WithAccom_Desc" style="display: @(Model.StateAssessment_WithAccommodations_flag.HasValue && Model.StateAssessment_WithAccommodations_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="StateAssessment_WithAccommodations_desc" name="StateAssessment_WithAccommodations_desc" type="text" value="@(Model.StateAssessment_WithAccommodations_desc)" placeholder="Describe curricular area(s)" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                    <p id="SA_Alt_Desc" style="display: @(Model.StateAssesment_Alternative_flag.HasValue && Model.StateAssesment_Alternative_flag.Value ? "block;" : "none;")">
                        <input class="form-control standard-font-size" id="StateAssesment_Alternative_Desc" name="StateAssesment_Alternative_Desc" type="text" value="@(Model.StateAssesment_Alternative_Desc)" placeholder="Describe" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row voffset2">
            <div class="col-md-12">
                <label class="standard-font-size">Regular Education Environment</label>
                <p style="font-size:16px">The IEP team has determined that for the student to have opportunities to participate with non-identified peers in extracurricular and nonacademic activities, regularly-scheduled special education and related services may not occur when their delivery would prevent the child from participating in field trips, assemblies, special events for the general education classroom or school, state or district-wide assessments and other such activities.</p>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12">
                <label style="font-size:16px">
                    To what extent, if any, will the child not participate with non-identified children in general education classes, the general education curriculum, extracurricular activities, and other non academic activities?
                </label>
                <div>
                    <textarea class="form-control standard-font-size" name="RegularEducation_NotParticipate" id="RegularEducation_NotParticipate" rows="3" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit.">@(Model.RegularEducation_NotParticipate)</textarea>
                </div>
            </div>
        </div>
		<hr />
		<div class="row voffset2" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <label class="standard-font-size">Extended School Year</label>
                <p style="font-size:16px">Are extended school year services necessary for @studentName?</p>
                <div class="form-check">
                    <label class="radio-inline"><input style="font-size: 18px;" type="radio" name="ExtendYear" id="EY_Yes" value="1" @(Model.ExtendedSchoolYear_Necessary == "1" ? "checked" : String.Empty)>Yes</label><br />
                    <label class="radio-inline"><input style="font-size: 18px;" type="radio" name="ExtendYear" id="EY_No" value="0" @(Model.ExtendedSchoolYear_Necessary == "0" ? "checked" : String.Empty)>No</label><br />
                </div>
            </div>
        </div>        
		<div id="divExtendYear" style="display: @(@showExtendYear ? "block;" : "none;")">            
			<div class="row voffset2">
				<div class="col-md-12">                    
					<p style="font-size:16px">The IEP team has enough information to determine that @studentName does require extended school term services.</p>
				</div>
			</div>
			<div class="row voffset2">
				<div class="col-md-12">
					<div class="form-check">
						<label class="radio-inline" style="font-size: 16px;"><input type="checkbox" name="ExtendedSchoolYear_RegressionRisk" id="Ext_No" @(Model.ExtendedSchoolYear_RegressionRisk.HasValue && Model.ExtendedSchoolYear_RegressionRisk.Value ? "checked" : String.Empty)> Significant regression is anticipated if ESY services are not provided.  This data should document regression/recoupment needs. It could be data taken over summer break, winter break, spring break, etc. To qualify the amount of time needed to recoup exceed the length of the break.</label><br /><br />
						<label class="radio-inline" style="font-size: 15px;"><input type="checkbox" name="ExtendedSchoolYear_SeverityRisk" id="Ext_Req" @(Model.ExtendedSchoolYear_SeverityRisk.HasValue && Model.ExtendedSchoolYear_SeverityRisk.Value ? "checked" : String.Empty)> The nature and severity of the disability(ies) necessitate ESY to ensure the provision of FAPE so that the student can make progress toward IEP goals that are crucial in moving toward self-sufficiency and independence (examples: self-help skills as dressing or eating, or students who need continued structure to develop behavior control).</label><br />
					</div>
					<div class="form-check voffset2" id="ExtendedSchoolYear_TextArea">
						<label class="standard-font-size">Severity Justification/Reasoning:</label>
						<textarea class="form-control standard-font-size" name="ExtendedSchoolYear_Justification" id="ExtendedSchoolYear_Justification" rows="3" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit.">@(Model.ExtendedSchoolYear_Justification)</textarea>
					</div>
				</div>
			</div>
		</div>        
        <hr />
        <div class="row voffset2">          
			<div class="col-md-12">
                  <label class="standard-font-size">Parental Concerns/Input</label>
            </div>          
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker has concerns for enhancing the education of @(studentName).</label>&nbsp;&nbsp;
                    <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                        <input type="checkbox" name="Parental_Concerns_flag" id="Parental_Concerns_flag" class="falsetrueswitch-checkbox" @(Model.Parental_Concerns_flag != null && Model.Parental_Concerns_flag.Value ? "checked" : String.Empty ) />
                        <label class="falsetrueswitch-label" for="Parental_Concerns_flag">
                            <span class="falsetrueswitch-inner"></span>
                            <span class="falsetrueswitch-switch"></span>
                        </label>
                    </div>
                    <div class="form-check voffset2" id="ParentalConcerns_TextArea">
                        <p id="PC_Desc" style="display: @(Model.Parental_Concerns_flag.HasValue && Model.Parental_Concerns_flag.Value ? "block;" : "none;")">
                            <input class="form-control standard-font-size" id="Parental_Concerns_Desc" name="Parental_Concerns_Desc" type="text" value="@(Model.Parental_Concerns_Desc)" placeholder="Explain" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                        </p>
                    </div>
                </fieldset>
            </div>
         </div>        
        <div class="row">           
            <div class="col-md-12">
                <label class="standard-font-size">Parental Notifications</label>
            </div>           
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker were given/offered a copy of the Parental Rights Booklet in their native language. </label>&nbsp;&nbsp;
                    <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                        <input type="checkbox" name="Parental_RightsBook_flag" id="Parental_RightsBook_flag" class="falsetrueswitch-checkbox" @(Model.Parental_RightsBook_flag ? "checked" : String.Empty ) />
                        <label class="falsetrueswitch-label" for="Parental_RightsBook_flag">
                            <span class="falsetrueswitch-inner"></span>
                            <span class="falsetrueswitch-switch"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">The parent(s)/legal education decision maker were given/offered a copy of the IEP.</label>&nbsp;&nbsp;
                    <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                        <input type="checkbox" name="Parental_CopyIEP_flag" id="Parental_CopyIEP_flag" class="falsetrueswitch-checkbox" @(Model.Parental_CopyIEP_flag ? "checked" : String.Empty ) />
                        <label class="falsetrueswitch-label" for="Parental_CopyIEP_flag">
                            <span class="falsetrueswitch-inner"></span>
                            <span class="falsetrueswitch-switch"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
		<hr />
		 <div class="row">            
            <div class="col-md-12">
                <label class="standard-font-size">Potential Harmful Effects</label>
            </div>            
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label style="font-size:16px">Are there any potential harmful effects of the recommended placement on the student and/or the quality of services for the student?</label>&nbsp;&nbsp;
                    <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                        <input type="checkbox" name="Potential_Harmful_Effects_flag" id="Potential_Harmful_Effects_flag" class="falsetrueswitch-checkbox" @(Model.Potential_HarmfulEffects_flag.HasValue &&  Model.Potential_HarmfulEffects_flag.Value ? "checked" : String.Empty ) />
                        <label class="falsetrueswitch-label" for="Potential_Harmful_Effects_flag">
                            <span class="falsetrueswitch-inner"></span>
                            <span class="falsetrueswitch-switch"></span>
                        </label>
                    </div>
					<div id="PHE_Desc" class="form-check voffset2" style="display: @(Model.Potential_HarmfulEffects_flag.HasValue && Model.Potential_HarmfulEffects_flag.Value ? "block;" : "none;")">
						<label style="font-size:16px">Do the positive effects of the placement outweigh the potential harmful effects?</label>&nbsp;&nbsp;
                        <p>
                            <input class="form-control standard-font-size" id="Potential_Harmful_Effects_Desc" name="Potential_Harmful_Effects_Desc" type="text" value="@(Model.Potential_HarmfulEffects_desc)" placeholder="Explain" maxlength=1000 data-toggle="tooltip" data-placement="bottom" title="1000 character limit." />
                        </p>
                    </div>
                </fieldset>
            </div>            
        </div>
        <hr style="margin: 0;" />
		<div class="row voffset2">
            <div class="col-md-12">
                <label class="standard-font-size">Considerations</label>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-md-12" style="font-size:16px">
                <p>The parent(s)/legal education decision maker will be informed of @(studentName)'s progress in writing at least one time every quarter.</p>
                <p>The IEP team has reviewed this educational placement and/or services and considers it reasonably designed to deliver a Free Appropriate Public Education (FAPE) in the student’s least restrictive environment.</p>
                <p>Further Clarification: The provision of the regularly-scheduled special education and related services is not possible due to events that are beyond the control of the school such as school closure due to weather or other emergencies, emergency drills, or when the student is absent from school (this does not include suspension or expulsion of the student). This IEP follows the responsible school district calendar unless otherwise specifically noted.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center; margin-top: 10px;">
                <div class="form-group">
                    <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save Draft</button>
                    <button type="button" class="formbtn btn btn-success btn-lg" id="saveOtherCompleted"><i class="glyphicon glyphicon-check"></i>&nbsp;Save &amp; Complete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (!String.IsNullOrEmpty(ViewBag.modifiedByFullName))
                {
                    <h6 class="pull-right modified">last updated on @(Model.Update_Date.ToString("MM/dd/yyyy a\\t h:mm ") + Model.Update_Date.ToString("tt").ToLower()) by @(ViewBag.modifiedByFullName)</h6>
                }
            </div>
        </div>
    }

    <div class="completed-loader @(Model.Completed ? "completed-loader-visible" : "completed-loader-hidden" )">
        <div class="text-center completed-checkbox">
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" id="isCompletedModule" checked="checked" /><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="completed-label">Completed!</span></label>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<script src="~/Scripts/editable.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script>
	
	$("input:radio[name=ExtendYear]").on('change', function (event) {
		var extendYearVal = this.value; 
		
        if (extendYearVal == "1") {
            $("#divExtendYear").show();			
        }
        else {
            $("#divExtendYear").hide();            
        }
	});

    $("input:checkbox[name=Parental_Concerns_flag]").on('click', function (event) {
        if ($("input:checkbox[name=Parental_Concerns_flag]").is(':checked')) {
            $("#PC_Desc").show();
        }
        else {
            $("#PC_Desc").hide();
            $("#Parental_Concerns_Desc").val('');
        }
	});

	$("input:checkbox[name=Potential_Harmful_Effects_flag]").on('click', function (event) {
        if ($("input:checkbox[name=Potential_Harmful_Effects_flag]").is(':checked')) {
            $("#PHE_Desc").show();
        }
        else {
            $("#PHE_Desc").hide();
            $("#Potential_Harmful_Effects_Desc").val('');
        }
	});
	

    $("input:checkbox[name=AssistiveTechnology_Require]").on('click', function (event) {
        if ($("input:checkbox[name=AssistiveTechnology_Require]").is(':checked')) {
            $("#AT_Desc").show();
        }
        else {
            $("#AT_Desc").hide();
            $("#AssistiveTechnology_Description").val('');
        }
    });

    $("input[name=TransporationPlan").click(function (event) {
        var elementId = event.target.id;

        if (elementId == "TP_No") {
            $("#TP_Other_Desc").hide();
        }
        else {
            $("#TP_Other_Desc").show();
        }
    });

    $("input[name=DistrictWideAssessments").click(function (event) {
        var elementId = event.target.id;
        if (elementId == "DistrictAssessment_NoAccommodations_flag") {
            $("#DA_NoAccom_Desc").show();
            $("#DA_Alt_Desc").hide();
            $("#DA_WithAccom_Desc").hide();

            $("#DistrictAssessment_Alternative_desc").val('');
            $("#DistrictAssessment_WithAccommodations_desc").val('');

        } else if (elementId == "DistrictAssessment_Alternative_flag") {
            $("#DA_NoAccom_Desc").hide();
            $("#DA_Alt_Desc").show();
            $("#DA_WithAccom_Desc").hide();

            $("#DistrictAssessment_NoAccommodations_desc").val('');
            $("#DistrictAssessment_WithAccommodations_desc").val('');

        } else if (elementId == "DistrictAssessment_WithAccommodations_flag") {
            $("#DA_NoAccom_Desc").hide();
            $("#DA_Alt_Desc").hide();
            $("#DA_WithAccom_Desc").show();

            $("#DistrictAssessment_NoAccommodations_desc").val('');
            $("#DistrictAssessment_Alternative_desc").val('');
        }
        else {
            $("#DA_NoAccom_Desc").hide();
            $("#DA_Alt_Desc").hide();
            $("#DA_WithAccom_Desc").hide();

            $("#DistrictAssessment_NoAccommodations_desc").val('');
            $("#DistrictAssessment_Alternative_desc").val('');
            $("#DistrictAssessment_WithAccommodations_desc").val('');
        }
    });

    $("input[name=StateWideAssessments").click(function (event) {
        var elementId = event.target.id;
        if (elementId == "SA_NoAccom") {
            $("#SA_NoAccom_Desc").show();
            $("#SA_WithAccom_Desc").hide();
            $("#SA_Alt_Desc").hide();
            $("#StateAssessment_WithAccommodations_desc").val('');

        } else if (elementId == "SA_WithAccom") {
            $("#SA_NoAccom_Desc").hide();
            $("#SA_Alt_Desc").hide();
            $("#SA_WithAccom_Desc").show();
            $("#StateAssessment_NoAccommodations_desc").val('');
        } else if (elementId == "SA_Alt") {
            $("#SA_NoAccom_Desc").hide();
            $("#SA_WithAccom_Desc").hide();
            $("#SA_Alt_Desc").show();
            $("#StateAssesment_Alternative_Desc").val('');
        }  else {
            $("#SA_NoAccom_Desc").hide();
            $("#SA_WithAccom_Desc").hide();
            $("#SA_Alt_Desc").hide();
            $("#StateAssessment_NoAccommodations_desc").val('');
            $("#StateAssessment_WithAccommodations_desc").val('');
            $("#StateAssesment_Alternative_Desc").val('');
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
    $("#resetForm").trigger("reset");

    /* Binding */
    /* tooltips */
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'manual'
    });

    /* Event */
    /* When a user clicks on the question mark icon we turn on tooltips */
    $('.tooltip-help').on('click', function () {
        $('[data-toggle="tooltip"]').tooltip('toggle');
    });

    //inline editable
    $('#inline-vehicle').editable({
        value: @ViewBag.vehicleType,
        source: [
			  {value: 0, text: 'Select Vehicle Type'},
              {value: 1, text: 'special education'},
              {value: 2, text: 'general education'}
        ]
    });

    $('#inline-minutes').editable({
        type: 'text',
        title: 'Enter minutes',
        value: '@ViewBag.minutes'
    });

    $('#inline-begin').editable({
        type: 'text',
        name: 'beginDate',
        value: '@ViewBag.begin',
        placeholder: 'Test',
        tpl: '<input type="text" id ="begin" class="mask form-control input-sm dd" style="padding-right: 24px;">'
    });

    $('#inline-end').editable({
        type: 'text',
        name: 'endDate',
        value: '@ViewBag.end',
        tpl: '<input type="text" id ="end" class="mask form-control input-sm dd" style="padding-right: 24px;">'
    });

    $('#inline-vehicle').on('save', function(e, params) {
        $("#inputVehicleType").val(params.newValue);
    });

    $('#inline-begin').on('save', function(e, params) {
        $("#inputBegin").val(params.newValue);
    });

    $('#inline-end').on('save', function(e, params) {
        $("#inputEnd").val(params.newValue);
    });

    $('#inline-minutes').on('save', function(e, params) {
        $("#inputMinutes").val(params.newValue);
    });

    $(document).on("focus", ".mask", function () {
        $(this).mask("99/99/9999");
    });

    $("#saveOtherCompleted").on("click", function (e) {
        if($("#AssistiveTechnology_Require").is(':checked'))
        {
            if($("#AssistiveTechnology_Description").val().length == 0)
            {
                alert('You must explain when assistive technology is required.');
                return false;
            }
        }

        var results = true;
        $(".transportationCheck  input").each(function() {
            if($(this).is(":checked") && $(this).val() != 1)
            {
                if($("#inline-vehicle").text() == "Select Vehicle Type")
                {
                    alert('Please select a vechical type.');
                    results = false;
                    return false;
                }

                if($("#inline-begin").text() == "Empty")
                {
                    alert('Please select a beginning date for transportation.');
                    results = false;
                    return false;
                }

                if($("#inline-end").text() == "Empty")
                {
                    alert('Please select an ending date for transportation.');
                    results = false;
                    return false;
                }
            }
        });
        if(!results){ return false; }

        if($("#Parental_Concerns_flag").is(':checked'))
        {
            if($("#Parental_Concerns_Desc").val().length == 0)
            {
                alert('Please explaing the parental concerns.');
                return false;
            }
        }

        $("#Completed").val(true);
        $(".modal-body form").submit();
    });

    $("#isCompletedModule").on("click", function () {
        var IEPId = $("#studentIEPId").val();

        $.ajax({
            type: 'GET',
            url: '/ModuleSection/ModuleCompleted',
            data: { stdIEPId: IEPId, module: "Other" },
            dataType: "json",
            success: function (data) {
                if (data.Result == "success") {
                    $(".completed-loader").fadeOut();
                    $("#Completed").val(false);

                    $("#OtherWidget .hero-widget").removeClass("module-completed");
                } else {
                    console.log("Error when updating the module.")
                }
            },
            error: function (data) {
                console.log("Unable to mark Health Module as complete.");
            }
        });
    });
</script>