@model GreenBushIEP.Models.BehaviorViewModel

@{
    bool showTriggerOther = false;
    bool showHypothesisOther = false;
    bool showStrategyOther = false;
}
<style>
    label {
        margin-bottom: 0;
    }
</style>
<link href="/Content/chosen.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="glyphicon glyphicon-road" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Behavior Plan</h4>
</div>
<div class="modal-body">

    <fieldset class="form-group">
        <p>A behavior plan defines the behavior/s being targeted and how it will be addressed and changed.</p>
    </fieldset>

    <div class="row">
        @using (Html.BeginForm("EditBehvior", "ModuleSection", FormMethod.Post, new { name = "frm", id = "frm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BehaviorID)
            @Html.HiddenFor(model => model.IEPid)
            @Html.HiddenFor(model => model.StudentId)

            <div class="col-md-12 voffset2">
                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Strengths/Motivators</label>
                    <div class="form-check">
                        <textarea id="StrengthMotivator" name="StrengthMotivator" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.StrengthMotivator)</textarea>
                    </div>
                </fieldset>
                <fieldset class="form-group" style="margin-bottom:0;">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Behavior(s) of Concern</label>
                    <div class="form-check">
                        <textarea id="BehaviorConcern" name="BehaviorConcern" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.BehaviorConcern)</textarea>
                    </div>
                </fieldset>


                <div class="row">
                    <div class="col-md-12">
                        <h3>Triggers</h3>

                    </div>
                </div>
                <div class="row voffset1">
                    <div class="col-md-12">
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Possible triggers for behaviors</label>
                        <select name="SelectedTriggers" class="form-control chosen-select standard-font-size" data-placeholder="Choose triggers..." id="SelectedTriggers" multiple="multiple" style="min-height: 49px; " data-validate="true">
                            @if (Model.Triggers != null)
                            {
                                foreach (var trigger in Model.Triggers)
                                {
                                    string selected = Model.SelectedTriggers.Contains(trigger.BehaviorTriggerTypeID) ? "selected=selected" : "";
                                    <option value="@trigger.BehaviorTriggerTypeID" @selected>@trigger.BehaviorTriggerType</option>
                                    if (selected == "selected=selected" && @trigger.BehaviorTriggerType == "Other")
                                    {
                                        showTriggerOther = true;
                                    }
                                }
                            }
                        </select>
                        <div id="divTriggerOther" class="voffset2" style="display:none">
                            <label>Other Description</label>
                            <input type="text" id="TriggerOther" name="TriggerOther" class="form-control" value="@Model.TriggerOther" data-toggle="tooltip" data-placement="bottom" title="1000 character limit." maxlength="1000" />

                        </div>
                    </div>
                </div>
                <div class="row voffset3">
                    <div class="col-md-12">
                        <h3>Hypothesis</h3>
                    </div>
                </div>
                <div class="row voffset1">
                    <div class="col-md-12">
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Hypothesis for the reason for the behavior(s)</label>
                        <select name="SelectedHypothesis" class="form-control chosen-select standard-font-size" data-placeholder="Choose hypotheses..." id="SelectedHypothesis" multiple="multiple" style="min-height: 49px; " data-validate="true">
                            @if (Model.HypothesisList != null)
                            {
                                foreach (var hypothesis in Model.HypothesisList)
                                {
                                    string selected = Model.SelectedHypothesis.Contains(hypothesis.BehaviorHypothesisTypeID) ? "selected=selected" : "";
                                    <option value="@hypothesis.BehaviorHypothesisTypeID" @selected>@hypothesis.BehaviorHypothesisType</option>
                                    if (selected == "selected=selected" && @hypothesis.BehaviorHypothesisType == "Other")
                                    {
                                        showHypothesisOther = true;
                                    }
                                }
                            }
                        </select>
                        <div id="divHypothesisOther" class="voffset2" style="display:none">
                            <label>Other Description</label>
                            <input type="text" id="HypothesisOther" name="HypothesisOther" class="form-control standard-font-size" value="@Model.HypothesisOther" data-toggle="tooltip" data-placement="bottom" title="1000 character limit." maxlength="1000" />

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Strategies</h3>

                    </div>
                </div>
                <div class="row voffset1">
                    <div class="col-md-12">
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Strategies to address the reason(s) for the behavior</label>
                        <select name="SelectedStrategies" class="form-control chosen-select standard-font-size" data-placeholder="Choose hypotheses..." id="SelectedStrategies" multiple="multiple" style="min-height: 49px; " data-validate="true">
                            @if (Model.Strategies != null)
                            {
                                foreach (var strategy in Model.Strategies)
                                {
                                    string selected = Model.SelectedStrategies.Contains(strategy.BehaviorStrategyTypeID) ? "selected=selected" : "";
                                    <option value="@strategy.BehaviorStrategyTypeID" @selected>@strategy.BehaviorStrategyType</option>
                                    if (selected == "selected=selected" && @strategy.BehaviorStrategyType == "Other")
                                    {
                                        showStrategyOther = true;
                                    }
                                }
                            }
                        </select>
                        <div id="divStrategyOther" class="voffset2" style="display:none">
                            <label class="standard-font-size">Other Description</label>
                            <input type="text" id="StrategiesOther" name="StrategiesOther" class="form-control standard-font-size" value="@Model.StrategiesOther" data-toggle="tooltip" data-placement="bottom" title="1000 character limit." maxlength="1000" />

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Targeted Behaviors</h3>

                    </div>
                </div>
                <div class="row voffset2">
                    <div class="col-md-12">
                        <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;" for="Crisis_Escalation">Choose up to three targeted behaviors and supporting baseline data for each:</label>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionA"><b>Behavior 1</b></a></li>
                            <li><a data-toggle="tab" href="#sectionB"><b>Behavior 2</b></a></li>
                            <li><a data-toggle="tab" href="#sectionC"><b>Behavior 3</b></a></li>
                        </ul>
                        <div class="tab-content container">
                            <div id="sectionA" class="tab-pane fade in active" style="padding-left:5px;padding-top:5px;">

                                @Html.Partial("~/Views/Home/_TargetedBehaviorPartial.cshtml", Model.targetedBehavior1, new ViewDataDictionary { { "number", 1 } })

                            </div>
                            <div id="sectionB" class="tab-pane fade " style="padding-left:5px;padding-top:5px;">
                                @Html.Partial("~/Views/Home/_TargetedBehaviorPartial.cshtml", Model.targetedBehavior2, new ViewDataDictionary { { "number", 2 } })

                            </div>
                            <div id="sectionC" class="tab-pane fade " style="padding-left:5px;padding-top:5px;">
                                @Html.Partial("~/Views/Home/_TargetedBehaviorPartial.cshtml", Model.targetedBehavior3, new ViewDataDictionary { { "number", 3 } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Crisis Management Plan</h3>

                    </div>
                </div>


                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Escalation (describe what this looks like for student)</label>
                    <div class="form-check">
                        <textarea id="Crisis_Escalation" name="Crisis_Escalation" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.Crisis_Escalation)</textarea>
                    </div>
                </fieldset>


                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Crisis (describe what this looks like for student)</label>
                    <div class="form-check">
                        <textarea id="Crisis_Description" name="Crisis_Description" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.Crisis_Description)</textarea>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Implementation Steps/De-escalation Strategies</label>
                    <div class="form-check">
                        <textarea id="Crisis_Implementation" name="Crisis_Implementation" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.Crisis_Implementation)</textarea>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Other</label>
                    <div class="form-check">
                        <textarea id="Crisis_Other" name="Crisis_Other" class="form-control" rows="3" style="font-size: 18px;" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." maxlength="2000">@(Model.Crisis_Other)</textarea>
                    </div>
                </fieldset>

                <div class="row voffset3">
                    <div class="col-md-12">
                        <h3>Action Plan</h3>
                    </div>
                </div>

                <fieldset class="form-group">
                    <label style="font-size: 18px; font-weight:400; padding: 0 0 15px;">Follow school/district behavior policies/practice</label>
                    <div class="form-check">
                        <input type="text" id="ReviewedBy" name="ReviewedBy" class="form-control" value="@Model.ReviewedBy" data-toggle="tooltip" data-placement="bottom" />
                    </div>
                </fieldset>

                <div class="col-md-12" style="text-align:center; margin-top: 15px;">
                    <div class="form-group">
                        <button type="reset" class="formbtn btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Reset form to initial values."><i class="glyphicon glyphicon-repeat"></i>&nbsp;Reset</button>
                        <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                        <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
                    </div>
                </div>

            </div>

        }
    </div> <!--end parent row-->

</div>


<script>
    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
    $("#resetModuleMotorForm").trigger("reset");

    $(document).ready(function () {

        init();

        /* Binding */
        /* tooltips */
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'manual'
        });

        /* Event */
        /* When a user clicks on the question mark icon we turn on tooltips */
        $('.tooltip-help').on('click', function () {
            $('[data-toggle="tooltip"]').tooltip('toggle');
        });
    });

    function init() {

        var showTrigger = '@showTriggerOther';
        var showHypothesis = '@showHypothesisOther';
        var showStrategyOther = '@showStrategyOther';

        if (showTrigger == "True") {
            $("#divTriggerOther").show();
        } else {
            $("#divTriggerOther").hide();
        }

        if (showHypothesis == "True") {
            $("#divHypothesisOther").show();
        } else {
            $("#divHypothesisOther").hide();
        }

        if (showStrategyOther == "True") {
            $("#divStrategyOther").show();
        } else {
            $("#divStrategyOther").hide();
        }

        $(".chosen-select").chosen({ width: "100%" });

        $("#SelectedStrategies").change(function () {
            var triggerValue = $("#SelectedStrategies option:selected").text();
            if (triggerValue.includes("Other")) {
                $("#divStrategyOther").show();
            }
            else {
                $("#divStrategyOther").hide();
            }
        });

        $("#SelectedTriggers").change(function () {
            var triggerValue = $("#SelectedTriggers option:selected").text();
            if (triggerValue.includes("Other")) {
                $("#divTriggerOther").show();
            }
            else {
                $("#divTriggerOther").hide();
            }
        });

        $("#SelectedHypothesis").change(function () {
            var hyValue = $("#SelectedHypothesis option:selected").text();
            if (hyValue.includes("Other")) {
                $("#divHypothesisOther").show();
            }
            else {
                $("#divHypothesisOther").hide();
            }
        });
    }
</script>


