@model GreenBushIEP.Models.MISDistricContactViewModel

<style>
    .col-form-label {
        margin-top: 15px;
        font-size: 16px;
    }

    .norequired {
        border: 1px solid #aaa;
    }

    .text-danger {
        display: none;
    }

    .contact-tooltip {
        border: 2px solid #9F6000;
    }

        .contact-tooltip + span {
            display: block !important;
        }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" style="font-size: 30px;"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;District Contacts</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-6" style="padding-left: 0;">
                <label for="validate-text">District</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="glyphicon glyphicon-option-vertical"></span></span>
                    <select class="form-control" name="selectedDistrict" id="selectedDistrict" required>
                        @foreach (var district in Model.myDistricts)
                        {
                            string Selected = Model.myDistricts.IndexOf(district) == 0 ? "Selected" : string.Empty;
                            <option value="@(district.USD)" @Selected>@(district.DistrictName)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row alert alert-danger" role="alert" id="alertMessage" style="display: none; margin-top: 20px;">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="moreinfo"><strong>Results!</strong> </span>
        </div>
        <div class="row">
            <h3>District Contact</h3>
        </div>
        <div class="form-group" style="margin-left: -15px; margin-top: 15px;">
            <!-- form user info -->
            <form class="form" role="form" id="districtForm">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input type="hidden" name="districtUSD" id="districtUSD" value="@Model.currentDistrict.USD" />
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Full Name</label>
                    <div class="col-md-10">
                        <input name="districtContact" class="form-control text-box single-line" type="text" placeholder="i.e. Jane Smith" value="" data-validate="true" required>
                        @Html.ValidationMessage("districtContact", "Field cannot be blank.", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Email</label>
                    <div class="col-md-10">
                        <input name="districtEmail" class="form-control text-box single-line" type="email" value="" placeholder="placeholder@gmail.com" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,4}$" data-validate="true" required/>
                        @Html.ValidationMessage("districtEmail", "The email field cannot be empty or invalid", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Address 1</label>
                    <div class="col-md-10">
                        <input name="districtContactAddress1" id="districtContactAddress1" class="form-control" placeholder="Street Address" type="text" data-validate="true" required/>
                        @Html.ValidationMessage("districtContactAddress1", "The address field cannot be empty", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Address 2</label>
                    <div class="col-md-10">
                        <input name="districtContactAddress2" id="districtContactAddress2" class="form-control norequired" placeholder="Apartment/Suite/Room" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">City</label>
                    <div class="col-md-10">
                        <input name="districtCity" id="districtCity" class="form-control" placeholder="Girard" type="text" data-validate="true" required/>
                        @Html.ValidationMessage("districtCity", "The city field cannot be empty", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">State</label>
                    <div class="col-md-10">
                        <select name="districtState" id="districtState" class="form-control" data-validate="true">
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS" selected="selected">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Zip Code</label>
                    <div class="col-md-10">
                        <input name="districtContactZipCode" id="districtContactZipCode" class="form-control" placeholder="Zip Code" type="number" pattern="[0-9]{5}" title="Five digit zip code" maxlength="5" data-validate="true" required>
                        @Html.ValidationMessage("districtContactZipCode", "The zip field cannot be empty or invalid", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Phone</label>
                    <div class="col-md-10">
                        <input name="districtContactPhone" class="form-control" pplaceholder="888 888 8888" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12"  title="Ten digits code" value="" data-validate="true" required>
                        @Html.ValidationMessage("districtContactPhone", "The phone field cannot be empty", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label"></label>
                    <div class="col-md-10">
                        <button type="button" class="formbtn btn btn-danger btn-lg pull-right" id="RemoveContact"><i class="glyphicon glyphicon-trash"></i>&nbsp;Remove</button>
                        <button type="submit" class="formbtn btn btn-primary btn-lg" id="SaveForm"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                    </div>
                </div>
            </form>
            <!-- /form user info -->
        </div>
    </div>
</div>
<div class="ajax-loader" style="visibility: hidden;">
    <img src="/Content/Images/loading-icon.gif" class="img-responsive" alt="updating contacts">
</div>
<div class="modal-footer">
    <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
</div>

<script>
    $(function () {
        // event fired if the user selects a different option in the select
        $('#selectedDistrict').on('change', function (event) {

            $('.ajax-loader').css("visibility", "visible");
            $(".ajax-loader img").css("visibility", "visible");

            var districtUSD = $("#selectedDistrict option:selected").val();

            $.ajax({
                type: 'POST',
                url: '/Manage/ContactsInDistricts',
                dataType: 'json',
                data: { USD: districtUSD },
                async: false,
                success: function (data) {
                    $('.ajax-loader').css("visibility", "hidden");
                    $(".ajax-loader img").css("visibility", "hidden");

                    if (data.Result == "success") {
                        if (data.Message == null) {
                            $("#districtForm").trigger("reset");
                            $('input[name="districtUSD"]').val(districtUSD);
                        }
                        else {
                            $('input[name="districtUSD"]').val(data.Message.USD);
                            $('input[name="districtContact"]').val(data.Message.ContactName);
                            $('input[name="districtEmail"]').val(data.Message.Email);
                            $('input[name="districtContactAddress1"]').val(data.Message.Address1);
                            $('input[name="districtContactAddress2"]').val(data.Message.Address2);
                            $('input[name="districtCity"]').val(data.Message.City);
                            $('input[name="districtState"]').val(data.Message.State);
                            $('input[name="districtContactZipCode"]').val(data.Message.Zip);
                            $('input[name="districtContactPhone"]').val(data.Message.Phone);
                        }
                    }
                    else {
                        $("#alertMessage .moreinfo").html(data.Message);
                        $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                            $("#alertMessage").slideUp(500);
                        });
                    }
                },
                error: function (data) {
                    $('.ajax-loader').css("visibility", "hidden");
                    $(".ajax-loader img").css("visibility", "hidden");

                    $("#alertMessage .moreinfo").html('There was an error connecting to the server.');
                    $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                        $("#alertMessage").slideUp(500);
                    });
                }
            });
        });

        $('#RemoveContact').on('click', function () {
            var answer = confirm("Are you sure you want to delete this contact?");

            if (answer == true) {
                $('.ajax-loader').css("visibility", "hidden");
                $(".ajax-loader img").css("visibility", "hidden");

                var districtUSD = $("#selectedDistrict option:selected").val();

                $.ajax({
                    type: 'POST',
                    url: '/Manage/RemoveDistrictContact',
                    dataType: 'json',
                    data: { USD: districtUSD },
                    async: true,
                    success: function (data) {
                        $('.ajax-loader').css("visibility", "hidden");
                        $(".ajax-loader img").css("visibility", "hidden");

                        if (data.Result == "success") {
                            $("#alertMessage").toggleClass("alert-success alert-danger");
                            $("#alertMessage .moreinfo").html(data.Message);
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                                $("#alertMessage").toggleClass("alert-success alert-danger");
                            });

                            $('#districtForm').find(':input').each(function () {
                                switch (this.type) {
                                    case 'email':
                                    case 'number':
                                    case 'text':
                                        $(this).val('');
                                        break;
                                }

                                $("#districtState option[value='KS']").attr("selected", "selected");
                            });
                        }
                        else {
                            $("#alertMessage .moreinfo").html(data.Message);
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                            });
                        }
                    },
                    error: function (data) {
                        $('.ajax-loader').css("visibility", "hidden");
                        $(".ajax-loader img").css("visibility", "hidden");

                        $("#alertMessage .moreinfo").html('There was an error connecting to the server.');
                        $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                            $("#alertMessage").slideUp(500);
                        });
                    }
                });
            }
        });

        $('#SaveForm').on('click', function (e) {
            e.preventDefault();

            // validate the form
            if (formValidate()) {

                $('.ajax-loader').css("visibility", "hidden");
                $(".ajax-loader img").css("visibility", "hidden");

                var districtUSD = $("#selectedDistrict option:selected").val();
                var districtContact = $("#districtForm").serialize();
                
                $.ajax({
                    type: 'POST',
                    url: '/Manage/AddDistrictContact',
                    dataType: 'json',
                    data: districtContact,
                    async: false,
                    success: function (data) {
                        $('.ajax-loader').css("visibility", "hidden");
                        $(".ajax-loader img").css("visibility", "hidden");

                        if (data.Result == "success") {

                            $("#alertMessage").toggleClass("alert-danger alert-success");
                            $("#alertMessage .moreinfo").html(data.Message);
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                                $("#alertMessage").toggleClass("alert-danger alert-success");
                            });
                        }
                        else {
                            $("#alertMessage .moreinfo").html(data.Message);
                            $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                                $("#alertMessage").slideUp(500);
                            });
                        }
                    },
                    error: function (data) {
                        $('.ajax-loader').css("visibility", "hidden");
                        $(".ajax-loader img").css("visibility", "hidden");

                        $("#alertMessage .moreinfo").html('There was an error connecting to the server.');
                        $("#alertMessage").fadeTo(3000, 500).slideUp(500, function () {
                            $("#alertMessage").slideUp(500);
                        });
                    }
                });
            }
        });

        function formValidate() {
            var validates = true;
            var $inputs = $("input[data-validate='true']");

            $inputs.each(function () {
                var input = $(this);
                var is_valid = input.val();

                if (is_valid === "" || is_valid === null) {
                    if (input.is("select")) {
                        $(this).next().addClass('contact-tooltip');
                        input.addClass('contact-tooltip');
                    }
                    else {
                        input.addClass('contact-tooltip');
                    }

                    validates = false;
                }
                else {
                    input.removeClass('contact-tooltip');
                }
            });

            return validates;
        }

    });

</script>