@model GreenBushIEP.Models.tblIEPMotor

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="print-module" id="printModuleBtn" onclick="printModule('Motor');"><span class="glyphicon glyphicon-print" style="font-size: 27px;padding-right:8px" title="Print Module"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title pull-left" id="myModalLabel" style="font-size: 30px;"><i class="fa fa-cogs" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Motor</h4>
    <div class="module-user-name">@(ViewBag.studentName)</div>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditMotor", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPMotorID)
        @Html.HiddenFor(model => model.Completed)

        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleMotorNoConcerns" name="ModuleMotorNoConcerns" @(Model.NoConcerns ? "checked" : String.Empty ) />
                <label for="ModuleMotorNoConcerns" class="standard-font-size">No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" id="ModuleMotorProgressTowardGenEd" name="ModuleMotorProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) />
                <label for="ModuleMotorProgressTowardGenEd" class="standard-font-size">Progressing with General Education Supports</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleMotorNeeds" id="ModuleMotorNeeds" @(Model.Needs ? "checked" : String.Empty) />
                <label for="ModuleMotorNeeds" class="standard-font-size">Area of Need which impacts performance in General Education</label>
            </div>
        </div>
        <fieldset class="form-group">
            <label class="standard-font-size" style="padding: 25px 0 15px;">Team will consider participation in:</label>
            <div class="form-check">
                <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="ModuleMotorParticipation" value="1" style="position: relative; right: 5px;" @(Model.Participation == 1 || Model.Participation == -1 ? "checked" : String.Empty)>No Special Education supports needed in Physical Education</label><br />
                <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="ModuleMotorParticipation" value="2" style="position: relative; right: 5px;" @(Model.Participation == 2 ? "checked" : String.Empty)>Modified or Adaptive Supports needed in Physical Education</label><br />
                <label class="radio-inline" style="font-size: 16px;"><input type="radio" name="ModuleMotorParticipation" value="3" style="position: relative; right: 5px;" @(Model.Participation == 3 ? "checked" : String.Empty)>Student has met Physical Education Requirements</label><br />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div>
                <label class="standard-font-size" style="padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 0 0 1px;">Strengths</label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" id="PLAAFP_Strengths" name="PLAAFP_Strengths" rows="3" placeholder="Describe Strengths">@(Model.PLAAFP_Strengths)</textarea>
            </div>
            <label style="font-size: 18px; font-weight:400; padding: 10px 0 1px;">Concerns (including Baseline) </label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" id="PLAAFP_Concerns" name="PLAAFP_Concerns" rows="3" placeholder="Describe Concerns (including Baseline)">@(Model.PLAAFP_Concerns)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="standard-font-size" style="padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <textarea class="form-control standard-font-size" name="ModuleMotorAreaOfNeedDescription" id="ModuleMotorAreaOfNeedDescription" rows="3">@(Model.AreaOfNeedDescription)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="standard-font-size" style="padding: 25px 0 15px;">Addtional Notes</label>
                <textarea class="form-control standard-font-size" id="HealthNotes" name="HealthNotes" type="text" rows="3">@(Model.Notes)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="standard-font-size" style="padding: 25px 0 15px; padding-bottom: 0; margin-bottom: 0;">This need will be met by</label>
            <div class="form-check">
                <div class="checkbox needsCheckbox">
                    <label class="standard-font-size"><input type="checkbox" name="MetByGoal" @(Model.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                    <label class="standard-font-size"><input type="checkbox" name="MetByAccommodation" @(Model.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), Modification(s), and/or Supplemental Aid</label><br />
                    <label class="standard-font-size"><input type="checkbox" name="MetByOther" @(Model.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label><br />
                </div>
            </div>
            <div class="form-check" id="MeetByOtherTextArea">
                <br />
                <p class="standard-font-size" style="display: @(Model.NeedMetByOther == true ? "block;" : "none;")">
                    *if other, please explain<br />
                    <textarea class="form-control standard-font-size" id="MeetNeedByOtherDescription" name="MeetNeedByOtherDescription" type="text" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit.">@(Model.NeedMetByOtherDescription)</textarea>
                </p>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">
                    <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save Draft</button>
                    <button type="button" class="formbtn btn btn-success btn-lg" id="motorSaveComplete"><i class="glyphicon glyphicon-check"></i>&nbsp;Save &amp; Complete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (!String.IsNullOrEmpty(ViewBag.modifiedByFullName))
                {
                    <h6 class="pull-right modified">last updated on @(Model.Update_Date.ToString("MM/dd/yyyy a\\t h:mm ") + Model.Update_Date.ToString("tt").ToLower()) by @(ViewBag.modifiedByFullName)</h6>
                }
            </div>
        </div>
    }

    <div class="completed-loader @(Model.Completed ? "completed-loader-visible" : "completed-loader-hidden" )">
        <div class="text-center completed-checkbox">
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" id="isCompletedModule" checked="checked" /><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="completed-label">Completed!</span></label>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<script>
    // Attach Event
    //reset the form to default database/brand new values.
    $("input[name='ModuleMotorNoConcerns']").on('click', function (event) {
        if ($("input[name='ModuleMotorNoConcerns']:checked").length) {
            $("input[name='ModuleMotorProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleMotorNeeds']").prop('checked', false);

            $("input[name='ModuleMotorParticipation']").prop('checked', false);
            $("#MeetNeedByOtherDescription").val('');
            $("input[name=MetByGoal]").prop('checked', false);
            $("input[name=MetByAccommodation]").prop('checked', false);
            $("input[name=MetByOther]").prop('checked', false);
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    $("input[name='ModuleMotorProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleMotorNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleMotorNeeds']").on('click', function (event) {
        $("input[name='ModuleMotorNoConcerns']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=MetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=MetByOther]").is(':checked')) {
            $("#MeetByOtherTextArea p").show();
        }
        else {
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
    $("#resetModuleMotorForm").trigger("reset");

    /* Binding */
    /* tooltips */
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'manual'
    });

    ///* Event */
    ///* When a user clicks on the question mark icon we turn on tooltips */
    $('.tooltip-help').on('click', function () {
        $('[data-toggle="tooltip"]').tooltip('toggle');
    });

    ///// Save and Complete /////
    $("#motorSaveComplete").on("click", function (e) {

        if (!$("input[name='ModuleMotorNoConcerns']").is(':checked')) {
            if ($("#PLAAFP_Strengths").val().length == 0) {
                alert('The following field is required not to be empty: Strengths');
                return false;
            }

            if ($("#PLAAFP_Concerns").val().length == 0) {
                alert('The following field is required not to be empty: Concerns');
                return false;
            }

            if ($("#ModuleMotorAreaOfNeedDescription").val().length == 0) {
                alert('The following field is required not to be empty: Area of Need');
                return false;
            }

            if ($(".needsCheckbox input[type='checkbox']").not(":checked").length == 3) {
                alert("At least one check mark under 'met by' should be checked");
                return false;
            }
        }


        $("#Completed").val(true);
        $(".modal-body form").submit();
    });

    $("#isCompletedModule").on("click", function () {
        var IEPId = $("#studentIEPId").val();

        $.ajax({
            type: 'GET',
            url: '/ModuleSection/ModuleCompleted',
            data: { stdIEPId: IEPId, module: "Motor" },
            dataType: "json",
            success: function (data) {
                if (data.Result == "success") {
                    $(".completed-loader").fadeOut();
                    $("#Completed").val(false);

                    $("#MotorWidget .hero-widget").removeClass("module-completed");
                } else {
                    console.log("Error when updating the module.")
                }
            },
            error: function (data) {
                console.log("Unable to mark Health Module as complete.");
            }
        });
    });
</script>