@model GreenBushIEP.Models.tblIEPMotor

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="fa fa-cogs" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Motor</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditMotor", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPMotorID)

        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleMotorNoConcerns" name="ModuleMotorNoConcerns" @(Model.NoConcerns ? "checked" : String.Empty ) />
                <label for="ModuleMotorNoConcerns">No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" id="ModuleMotorProgressTowardGenEd" name="ModuleMotorProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) />
                <label for="ModuleMotorProgressTowardGenEd">Progressing with General Education Supports</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleMotorNeeds" id="ModuleMotorNeeds" @(Model.Needs ? "checked" : String.Empty) />
                <label for="ModuleMotorNeeds">Area of Need which impacts performance in General Education</label>
            </div>
        </div>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px;">Team will consider participation in:</label>
            <div class="form-check">
                <label class="radio-inline"><input type="radio" name="ModuleMotorParticipation" value="1" style="position: relative; right: 5px;" @(Model.Participation == 1 || Model.Participation == -1 ? "checked" : String.Empty)>No Special Education supports needed in Physical Education</label><br />
                <label class="radio-inline"><input type="radio" name="ModuleMotorParticipation" value="2" style="position: relative; right: 5px;" @(Model.Participation == 2 ? "checked" : String.Empty)>Modified or Adaptive Supports Needed in Physical Education</label><br />
                <label class="radio-inline"><input type="radio" name="ModuleMotorParticipation" value="3" style="position: relative; right: 5px;" @(Model.Participation == 3 ? "checked" : String.Empty)>Student has met Physical Education Requirements</label><br />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleMotorLevelOfPerformance" id="ModuleMotorLevelOfPerformance" rows="3" style="font-size: 21px;" placeholder="Describe strengths and concerns (include baseline data)">@(Model.LevelOfPerformance)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleMotorAreaOfNeedDescription" id="ModuleMotorAreaOfNeedDescription" rows="3" style="font-size: 21px;">@(Model.AreaOfNeedDescription)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px; padding-bottom: 0; margin-bottom: 0;">This need will be met by</label>
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" name="MetByGoal" @(Model.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                    <label><input type="checkbox" name="MetByAccommodation" @(Model.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), Modification(s), and/or Supplemental Aid</label><br />
                    <label><input type="checkbox" name="MetByOther" @(Model.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label><br />
                </div>
            </div>
            <div class="form-check" id="MeetByOtherTextArea">
                <br />
                <p style="display: @(Model.NeedMetByOther == true ? "block;" : "none;")">
                    *if other, please explain<br />
                    <textarea class="form-control" id="MeetNeedByOtherDescription" name="MeetNeedByOtherDescription" type="text" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." style="font-size: 18px;">@(Model.NeedMetByOtherDescription)</textarea>
                </p>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">
                    <button type="reset" class="formbtn btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Reset form to initial values."><i class="glyphicon glyphicon-repeat"></i>&nbsp;Reset</button>
                    <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                    <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>

    }

</div>
<br />
<br />

<script>
    // Attach Event
    //reset the form to default database/brand new values.
    $("input[name='ModuleMotorNoConcerns']").on('click', function (event) {
        if ($("input[name='ModuleMotorNoConcerns']:checked").length)
        {
            $("input[name='ModuleMotorProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleMotorNeeds']").prop('checked', false);

            $("input[name='ModuleMotorParticipation']").prop('checked', false);
            $("#MeetNeedByOtherDescription").val('');
            $("input[name=MetByGoal]").prop('checked', false);
            $("input[name=MetByAccommodation]").prop('checked', false);
            $("input[name=MetByOther]").prop('checked', false);
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    $("input[name='ModuleMotorProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleMotorNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleMotorNeeds']").on('click', function (event) {
        $("input[name='ModuleMotorNoConcerns']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=MetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=MetByOther]").is(':checked')) {
            $("#MeetByOtherTextArea p").show();
        }
        else {
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    // reset the form because jquery does not have built in reset functionality.
	$("#resetModuleMotorForm").trigger("reset");

	/* Binding */
	/* tooltips */
	$('[data-toggle="tooltip"]').tooltip({
		trigger: 'manual'
	});

	///* Event */
	///* When a user clicks on the question mark icon we turn on tooltips */
	$('.tooltip-help').on('click', function () {
		$('[data-toggle="tooltip"]').tooltip('toggle');
	});
</script>