@model GreenBushIEP.Models.tblIEPCommunication

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle" style="font-size: 30px;"></span></button>
    <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign" style="font-size: 30px;"></span></button>
    <h4 class="modal-title" id="myModalLabel" style="font-size: 30px;"><i class="fa fa-commenting" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;Communication</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditCommunication", "ModuleSection", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IEPCommunicationID)

        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" id="ModuleCommunicationNoConcerns" name="ModuleCommunicationNoConcerns" @(Model.NoConcerns ? "checked" : String.Empty ) />
                <label for="ModuleCommunicationNoConcerns">No Concerns</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationProgressTowardGenEd" id="ModuleCommunicationProgressTowardGenEd" @(Model.ProgressTowardGenEd ? "checked" : String.Empty) />
                <label for="ModuleCommunicationProgressTowardGenEd">Progressing with General Education Support</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationAreaOfNeed" id="ModuleCommunicationAreaOfNeed" @(Model.AreaOfNeed == true ? "checked" : String.Empty) />
                <label for="ModuleCommunicationAreaOfNeed">Area of Need which impacts performance in General Education</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationDeaf" id="ModuleCommunicationDeaf" @(Model.Deaf ? "checked" : String.Empty) />
                <label for="ModuleCommunicationDeaf">Deaf/Hard of Hearing</label>
            </div>
            <div class="funkyradio-primary">
                <input type="checkbox" name="ModuleCommunicationLimitedEnglish" id="ModuleCommunicationLimitedEnglish" @(Model.LimitedEnglish ? "checked" : String.Empty) />
                <label for="ModuleCommunicationLimitedEnglish">Limited English Proficiency</label>
            </div>
        </div>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px;">Present Levels of Academic Achievement and Functional Performance (PLAAFP)</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleCommunicationLevelOfPerformance" id="ModuleCommunicationLevelOfPerformance" rows="3" style="font-size: 18px;" placeholder="Describe strengths and concerns (include baseline data)">@(Model.LevelOfPerformance)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px;">Area of Need which Impacts Performance</label>
            <div class="form-check">
                <textarea class="form-control" name="ModuleCommunicationAreaOfNeedDescription" id="ModuleCommunicationAreaOfNeedDescription" rows="3" style="font-size: 18px;">@(Model.AreaOfNeedDescription)</textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label style="font-size: 18px; padding: 25px 0 15px; padding-bottom: 0; margin-bottom: 0;">This need will be met by</label>
            <div class="form-check">
                <div class="checkbox">
                    <label><input type="checkbox" name="MetByGoal" @(Model.NeedMetByGoal == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Goal</label><br />
                    <label><input type="checkbox" name="MetByAccommodation" @(Model.NeedMetByAccommodation == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Accommodation(s), Modification(s), and/or Supplemental Aid</label><br />
                    <label><input type="checkbox" name="MetByOther" @(Model.NeedMetByOther == true ? "checked" : String.Empty)><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Other</label><br />
                </div>
            </div>
            <div class="form-check" id="MeetByOtherTextArea">
                <br />
                <p style="display: @(Model.NeedMetByOther == true ? "block;" : "none;")">
                    *if other, please explain<br />
                    <textarea class="form-control" id="MeetNeedByOtherDescription" name="MeetNeedByOtherDescription" type="text" rows="3" maxlength="2000" data-toggle="tooltip" data-placement="bottom" title="2000 character limit." style="font-size: 18px;">@(Model.NeedMetByOtherDescription)</textarea>
                </p>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="form-group">
                    <button type="reset" class="formbtn btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Reset form to initial values."><i class="glyphicon glyphicon-repeat"></i>&nbsp;Reset</button>
                    <button type="submit" class="formbtn btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                    <button type="button" class="formbtn btn btn-secondary btn-lg" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    }

</div>
<br />
<br />

<script>
    // Attach Event
    //reset the form to default database/brand new values.
    $("input[name='ModuleCommunicationNoConcerns']").on('click', function (event) {
        if ($("input[name='ModuleCommunicationNoConcerns']:checked").length)
        {
            $("input[name='ModuleCommunicationProgressTowardGenEd']").prop('checked', false);
            $("input[name='ModuleCommunicationAreaOfNeed']").prop('checked', false);
            $("input[name='ModuleCommunicationDeaf']").prop('checked', false);
            $("input[name='ModuleCommunicationLimitedEnglish']").prop('checked', false);

            $("#MeetNeedByOtherDescription").val('');
            $("input[name=MetByGoal]").prop('checked', false);
            $("input[name=MetByAccommodation]").prop('checked', false);
            $("input[name=MetByOther]").prop('checked', false);
            $("#MeetByOtherTextArea p").hide();
        }
    });

    // Attach Event
    $("input[name='ModuleCommunicationProgressTowardGenEd']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationAreaOfNeed']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationDeaf']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    $("input[name='ModuleCommunicationLimitedEnglish']").on('click', function (event) {
        $("input[name='ModuleCommunicationNoConcerns']").prop('checked', false);
    });

    // Attach Event
    // if checkbox is selected than show text box.
    $("input:checkbox[name=MetByOther]").on('click', function (event) {
        if ($("input:checkbox[name=MetByOther]").is(':checked')) {
            $("#MeetByOtherTextArea p").show();
        }
        else {
            $("#MeetByOtherTextArea p").hide();
        }
    });

	/* Binding */
	/* tooltips */
	$('[data-toggle="tooltip"]').tooltip({
		trigger: 'manual'
	});

	///* Event */
	///* When a user clicks on the question mark icon we turn on tooltips */
	$('.tooltip-help').on('click', function () {
		$('[data-toggle="tooltip"]').tooltip('toggle');
	});
</script>