@using GreenBushIEP.Models
@model GreenBushIEP.Models.IEP

@{

	Layout = "";
	var studentFullName = string.Format("{0} {1}", @Model.studentFirstName, Model.studentLastName);
	var primeContact = Model.studentDetails.contacts.OrderByDescending(o => o.PrimaryContact).Take(1).FirstOrDefault();
	var isDraft = Model.current != null && Model.current.IepStatus != null && Model.current.IepStatus == IEPStatus.DRAFT ? true : false;
	var genderPronoun = Model.studentDetails.gender == "Female" ? "her" : Model.studentDetails.gender == "Male" ? "his" : "his/her";

}
	
<div class="studentInformationPage">
	<table style="width:100%;">
		<tr>
			<td style="width:200px">&nbsp;</td>
			<td style="text-align:center">
				<h4><b>Student Information Page</b></h4>
				@if (@Model.studentDetails.building != null)
				{
					<h5>@Model.studentDetails.building.BuildingName</h5>
					<h5>@Model.studentDetails.building.Address_Physical</h5>
					<h5>@Model.studentDetails.building.City@(@Model.studentDetails.building.State == null ? "" : ", " + @Model.studentDetails.building.State) @Model.studentDetails.building.Zip</h5>
					<h5>@Model.studentDetails.building.Phone</h5>
				}
			</td>
			<td style="text-align:right;vertical-align:top">
				Printed:<br />@(DateTime.Now.ToShortDateString())<br />
				Printed By:<br /> @(string.Format("{0} {1}", Model.studentDetails.teacher.FirstName, Model.studentDetails.teacher.LastName))
			</td>
		</tr>
	</table>
	<hr />
	<table style="width:100%">
		<tr>
			<td style="width:150px;"><label>Student Legal Name:</label></td>
			<td style="width:100px;">@(studentFullName)</td>
			<td style="width:75px;"><label>KIDS ID:</label></td>
			<td style="width:75px;">@(Model.studentDetails.student.KIDSID)</td>
		</tr>
		<tr>
			<td style="width:80px;"><label>Birth Date:</label></td>
			<td>@Model.studentDetails.student.DateOfBirth.ToShortDateString()</td>

			<td><label>Gender:</label></td>
			<td>@Model.studentDetails.gender</td>
		</tr>
		<tr>
			<td><label>Language of the Student:</label></td>
			<td>@Model.studentDetails.studentLang</td>
			<td><label>Language of the Parent:</label></td>
			<td>@Model.studentDetails.parentLang</td>
		</tr>
		<tr>
			<td><label>Age at<br />Annual Meeting:</label></td>
			<td style="width:25px;">@(Model.studentDetails.studentAgeAtAnnualMeeting > 0 ? Model.studentDetails.studentAgeAtAnnualMeeting.ToString() : "")</td>
			<td colspan="2"></td>
		</tr>
	</table>

	@if (primeContact != null)
	{
		<hr />
		<table style="width:100%">
			<tr>
				<td style="width:75px;"><label>Contact 1:</label></td>
				<td>@primeContact.FirstName @primeContact.LastName</td>

				<td><label>Address:</label></td>
				<td>@primeContact.Address1 @primeContact.Address2 @primeContact.City@(@primeContact.State == null ? "" : ", " + @primeContact.State) @primeContact.Zip</td>
			</tr>
			<tr>
				<td><label>Phones:</label></td>
				<td>@primeContact.Phone</td>

				<td><label>Email:</label></td>
				<td>@primeContact.Email</td>
			</tr>
		</table>
	}
	<hr />
	<table style="width:100%">
		<tr>
			<td><label>Neighborhood School:</label></td>
			<td>@(Model.studentDetails.neighborhoodBuilding != null ? Model.studentDetails.neighborhoodBuilding.BuildingName : "")</td>
			<td><label>Responsible School:</label></td>
			<td>@(Model.studentDetails.building != null ? Model.studentDetails.building.BuildingName : "")</td>
		</tr>
		<tr>
			<td><label>Assign Child Count:</label></td>
			<td>@Model.studentDetails.assignChildCount</td>
			<td><label>County of Residence:</label></td>
			<td>@Model.studentDetails.studentCounty</td>
		</tr>
		<tr>
			<td><label>Grade:</label></td>
			<td>@(Model.studentDetails.student.Grade == 0 ? " " : Model.studentDetails.student.Grade.ToString())</td>
			<td><label>Fund Source:</label></td>
			<td>@Model.studentDetails.placementCodeDesc</td>
		</tr>
		<tr>
			<td><label>Primary Disability:</label></td>
			<td>@(Model.studentDetails.primaryDisability)</td>
			<td><label>Seconary Disability:</label></td>
			<td>@(Model.studentDetails.secondaryDisability)</td>
		</tr>
		<tr>
			<td><label>Gifted:</label></td>
			<td style="width:50px">@(Model.studentDetails.student.isGifted ? "Yes" : "No")</td>
			<td><label>KG Full Day:</label></td>
			<td style="width:50px">@(Model.studentDetails.student.FullDayKG == null ? "" : Model.studentDetails.student.FullDayKG.Value == true ? "Yes" : "")</td>
		</tr>
	</table>
	<hr />
	<table style="width:100%">
		<tr>
			<td><label>Init Eval Consent Signed:</label></td>
			<td>@(Model.studentDetails.student.InitialEvalConsentSigned.HasValue ? Model.studentDetails.student.InitialEvalConsentSigned.Value.ToShortDateString() : "")</td>
			<td><label>Init Eval Determination:</label></td>
			<td>@(Model.studentDetails.student.InitialEvalDetermination.HasValue ? Model.studentDetails.student.InitialEvalDetermination.Value.ToShortDateString() : "")</td>
		</tr>
		<tr>
			<td><label>Re-Eval Signed:</label></td>
			<td>@(Model.studentDetails.student.ReEvalConsentSigned.HasValue ? Model.studentDetails.student.ReEvalConsentSigned.Value.ToShortDateString() : "")</td>
			<td><label>3 Year Re-Eval:</label></td>
			<td>@(Model.studentDetails.student.ReEvalConsentSigned.HasValue ? Model.studentDetails.student.ReEvalConsentSigned.Value.AddYears(3).ToShortDateString() : "")</td>
		</tr>
		<tr>
			<td><label>Re-Eval Completion:</label></td>
			<td>**</td>
			<td><label>Initiation:</label></td>
			<td>@Model.studentDetails.inititationDate</td>
		</tr>
		<tr>
			<td><label>Exit:</label></td>
			<td>@(Model.studentDetails.student.ExitDate.HasValue ? Model.studentDetails.student.ExitDate.Value.ToShortDateString() : "")</td>
		</tr>
		<tr>
			<td><label>Annual Meeting:</label></td>
			<td>@(Model.current.MeetingDate.HasValue ? Model.current.MeetingDate.Value.ToShortDateString() : "")</td>
			<td><label>Next Annual Meeting:</label></td>
			<td>@(Model.current.MeetingDate.HasValue ? Model.current.MeetingDate.Value.AddYears(1).ToShortDateString() : "")</td>
		</tr>
		<tr>
			<td><label>Vision Screening:</label></td>
			<td>@(Model.studentHealth != null && Model.studentHealth.VisionDate != null ? Model.studentHealth.VisionDate.ToShortDateString() : string.Empty)</td>
			<td><label>Next Vision:</label></td>
			<td>@(Model.studentHealth != null && Model.studentHealth.VisionDate != null ? Model.studentHealth.VisionDate.AddYears(2).ToShortDateString() : string.Empty)</td>
		</tr>
		<tr>
			<td><label>Hearing Screening:</label></td>
			<td>@(Model.studentHealth != null && Model.studentHealth.HearingDate != null ? Model.studentHealth.HearingDate.ToShortDateString() : string.Empty)</td>
			<td><label>Next Hearing:</label></td>
			<td>@(Model.studentHealth != null && Model.studentHealth.HearingDate != null ? Model.studentHealth.HearingDate.AddYears(3).ToShortDateString() : string.Empty)</td>
		</tr>
		<tr>
			<td colspan="6"><label>Ed Status:</label>&nbsp;(@Model.studentDetails.student.StatusCode) @Model.studentDetails.edStatusCodeDesc</td>
		</tr>
	</table>
	

	<div>
		<h3 class="text-center">SERVICES</h3>
		@if (Model.studentServices != null && Model.studentServices.Count() > 0)
		{
			var serviceCount = 1;
			<table style="font-size:8pt;text-align:left">
				<tr>
					<td><b>Ln#</b></td>
					<td><b>FY</b></td>
					<td><b>Service<br />Setting</b></td>
					<td><b>Provider</b></td>
					<td><b>LEA</b></td>
					<td><b>AttendBlg</b></td>
					<td><b>Mins</b></td>
					<td><b>Days</b></td>
					<td><b>Start<br />Date</b></td>
					<td><b>End<br />Date</b></td>
					<td><b>Freq</b></td>
				</tr>

				@foreach (var service in Model.studentServices)
				{
					<tr>
						<td>
							@serviceCount
						</td>
						<td>
							@switch (@service.SchoolYear)
							{
								case 2018:<text>2017 - 2018</text>; break;
								case 2019: <text>2018 - 2019</text>; break;
								case 2020: <text>2019 - 2020</text>; break;
								case 2021: <text>2020 - 2021</text>; break;
								case 2022: <text>2021 - 2022</text>; break;
							}
						</td>
						<td>
							@if (Model.serviceTypes.Count > 0)
							{
								foreach (var serviceType in Model.serviceTypes)
								{
									if (serviceType.ServiceCode == service.ServiceCode)
									{
										<text>(@serviceType.ServiceCode) @serviceType.Name</text>
									}
								}
							}
						</td>

						<td>
							@if (Model.serviceProviders.Count > 0)
							{
								foreach (var serviceProvider in Model.serviceProviders)
								{
									if (service.ProviderID == serviceProvider.ProviderID)
									{
										<text>@serviceProvider.FirstName @serviceProvider.LastName</text>
									}
								}
							}
							else
							{
								<text>&nbsp;&nbsp;&nbsp;</text>
							}
						</td>
						<td>
							@Model.studentDetails.student.PlacementCode
						</td>
						<td>
							@if (Model.locations.Count > 0)
							{
								foreach (var serviceLocation in Model.locations)
								{
									if (service.LocationCode == serviceLocation.LocationCode)
									{
										<text>(@serviceLocation.LocationCode) @serviceLocation.Name</text>
									}
								}
							}
						</td>
						<td>
							@service.Minutes
						</td>
						<td>
							@service.DaysPerWeek
						</td>
						<td>@(service.StartDate.ToString("MM/dd/yyyy"))</td>
						<td>  @(service.EndDate.ToString("MM/dd/yyyy"))</td>
						<td>
							@switch (@service.Frequency)
							{
								case 1:<text>Every week(1)</text>; break;
								case 2: <text>Every 2 weeks(2)</text>; break;
								case 3: <text>Every 3 weeks(3)</text>; break;
								case 4: <text>Every 4 weeks(4)</text>; break;
								case 8: <text>Every 8 weeks(8)</text>; break;
								case 9: <text>Every 9 weeks(9)</text>; break;
								case 12: <text>Every 12 weeks(12)</text>; break;
								case 18: <text>Every 18 weeks(18)</text>; break;
								case 19: <text>3 out of 4 weeks(19)</text>; break;
								case 99: <text>1 day per year(99)</text>; break;
							}
						</td>
					</tr>
					serviceCount++;
				}
			</table>
			<div>
			<p>In the case of unforeseen circumstances, one or more of the above personnel may change or a temporary substitute may be used in order to prevent services from being interrupted.</p>
			</div>
		}
		else
		{
			<p class="text-center">The Team has no services for @Model.studentFirstName at this time.</p>
		}
		
	</div>		
	</div>
<!--end student page-->
