@model GreenBushIEP.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Create a New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/chosen.css")
}

<style>
    hr {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .multiselect-container .input-group {
            margin: 5px;
        }

        .multiselect-container > li {
            padding: 0;
        }

            .multiselect-container > li > a.multiselect-all label {
                font-weight: bold;
            }

            .multiselect-container > li > label.multiselect-group {
                margin: 0;
                padding: 3px 20px 3px 10px;
                height: 100%;
                font-weight: bold;
            }

            .multiselect-container > li > a > label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: normal;
            }

                .multiselect-container > li > a > label.radio,
                .multiselect-container > li > a > label.checkbox {
                    margin: 0;
                }

                .multiselect-container > li > a > label > input[type="checkbox"] {
                    margin-bottom: 5px;
                }

    .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .dropdown-menu > li > a {
        padding: 6px 40px;
    }

    .dropdown-toggle {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 0; /* 6px; */
    }

    .dropdown-toggle {
        font-size: 14px;
        min-height: 49px;
    }

    .search-choice span {
        line-height: 2.7;
        font-size: 14px;
    }

    li.search-field input[type="text"] {
        height: 49px !important;
    }
</style>


@using (Html.BeginForm("Create", "Manage", new { }, FormMethod.Post, new { enctype = "multipart/form-data", id = "UserForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-md-2 pull-right">
            @Html.ActionLink(" ", "Portal", "Home", null, new { id = "backtoportal", title = "Cancel action and go back to my current users list", role = "button", @class = "glyphicon glyphicon-arrow-left btn btn-info pull-right", data_ftrans = "slide reverse ", data_ajax = "false", style = "margin-top:20px; margin-bottom:10px;font-size:20px;font-weight:bold;" })
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => Model.user.UserID)

        <ul class="breadcrumb">
            <li>@Html.ActionLink((string)(ViewBag.RoleName + " Portal").ToString(), "Portal", "Home", null, new { style = "font-size: 30px;", data_ftrans = "slide reverse ", data_ajax = "false" })</li>
            <li class="active" style="font-size: 20px;">@ViewBag.Title</li>
        </ul>

        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <img src="@(string.IsNullOrEmpty(Model.user.ImageURL) ? "/Content/Images/newUser.png" : "/Content/Images/Uploads/" + Model.user.ImageURL.ToString())" alt="" title="" class="img-circle pull-left" height="100" id="avatarImage" />
                    <div class="input-group">
                        <span class="btn btn-default btn-file" style="top: 30px; left: 15px;">
                            Browse <input type="file" name="adminpersona" id="adminpersona" accept="image/gif, image/jpeg, image/png">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" id="alertMessage" role="alert" style="display: none;">
            <strong class="moreinfo">Oh snap!</strong>
        </div>
        @if (Convert.ToInt32(Model.submitter.RoleID) <= 3)
        {
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-id-card-o" title="User Role" aria-hidden="true"></i>
                        </span>
                        <select class="form-control" id="role" Name="role" required="required">
                            @if (Int32.Parse(Model.submitter.RoleID) < 2)
                            {
                                <option value="2" @(Model.user.RoleID == "2" ? "selected='selected'" : "" )>Management Information System</option>
                            }
                            @if (Int32.Parse(Model.submitter.RoleID) < 3)
                            {
                                <option value="3" @(Model.user.RoleID == "3" ? "selected='selected'" : "" )>Special Education Administrator</option>
                            }
                            <option value="4" @(Model.user.RoleID == "4" ? "selected='selected'" : "" )>Teacher</option>
                        </select>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    @Html.EditorFor(model => model.user.TeacherID, new { htmlAttributes = new { @class = "form-control", id = "teacherId", Name = "teacherId", placeholder = "Teacher ID if applicable", title = "The Teacher ID", maxlength = 20 } })
                    @Html.ValidationMessageFor(model => model.user.TeacherID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user" title="First Name"></i>
                    </span>
                    @Html.EditorFor(model => model.user.FirstName, new { htmlAttributes = new { @class = "form-control", id = "firstname", Name = "firstname", placeholder = "Legal First Name", required = "required" } })
                    @Html.ValidationMessageFor(model => model.user.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user" title="Last Name"></i>
                    </span>
                    @Html.EditorFor(model => model.user.LastName, new { htmlAttributes = new { @class = "form-control", id = "lastname", Name = "lastname", placeholder = "Legal Last Name", required = "required" } })
                    @Html.ValidationMessageFor(model => model.user.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope" title="User Email"></i>
                    </span>
                    @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control", id = "email", Name = "email", placeholder = "User email", required = "required" } })
                    @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" id="listOfDistricts">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-home" title="User District" aria-hidden="true"></i>
                    </span>
                    @Html.DropDownListFor(model => Model.districts, new SelectList(Model.districts, "USD", "DistrictName"), new { @id = "misDistrict", Name = "misDistrict", @class = "form-control chosen-select", multiple = "multiple", data_placeholder = "Choose a district...", style = "min-height: 49px;" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button id="ActionButton" type="button" class="btn btn-info btn-lg" data_ftrans="slide reverse" style="width: 100%;">
            <span class="glyphicon glyphicon-ok-sign"></span> <span id="ActionButtonText">Create</span>
        </button>
    </div>
    <br />
}

<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/AddUsers.js"></var>

@section scripts {
    @Scripts.Render("~/Scripts/bootstrap-mutliselect.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
}