@using GreenBushIEP.Models
@model GreenBushIEP.Models.StudentDetailsViewModel

@{
    ViewBag.Title = "Create a New Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/chosen.css")
    @Styles.Render("~/Content/jquery-ui.min.css")

}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        border-width: 1px;
    }

        .btn-circle:focus {
            outline: none;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            margin-bottom: 10px;
        }

    .wizard {
        margin: 20px auto;
        background: #fff;
    }

        .wizard .nav-tabs {
            position: relative;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 70%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

    span.round-tab {
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        border-radius: 100px;
        background: #fff;
        border: 2px solid #e0e0e0;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }

        span.round-tab i {
            color: #555555;
        }

    .wizard li.active span.round-tab {
        background: #fff;
        border: 2px solid #5bc0de;
    }

        .wizard li.active span.round-tab i {
            color: #5bc0de;
        }

    span.round-tab:hover {
        color: #333;
        border: 2px solid #333;
    }

    .wizard .nav-tabs > li {
        width: 24%;
    }

    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #5bc0de;
        transition: 0.1s ease-in-out;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #5bc0de;
    }

    .wizard .nav-tabs > li a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
    }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

    .wizard .tab-pane {
        position: relative;
        padding-top: 20px;
    }

    .wizard h3 {
        margin-top: 0;
    }

    .step11 .step22 .step33 .row {
        padding-bottom: 5px;
    }

    .unselect_img {
        width: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .active-header {
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        background: #F53B27;
    }

        .active-header:after {
            content: "\f068";
            font-family: 'FontAwesome';
            float: right;
            margin: 5px;
            font-weight: 400;
        }

    .inactive-header {
        background: #333;
    }

        .inactive-header:after {
            content: "\f067";
            font-family: 'FontAwesome';
            float: right;
            margin: 4px 5px;
            font-weight: 400;
        }

    .saveandcontinue li button,
    .saveandcontinue li a {
        font-size: 18px;
        line-height: 1.3333333;
        padding: 10px 16px;
    }

    .saveandcontinue {
        padding-top: 15px;
    }

    .search-choice span {
        line-height: 2.7;
        font-size: 14px;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }

    .avatar {
        margin-bottom: 15px;
    }

    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .multiselect-container .input-group {
            margin: 5px;
        }

        .multiselect-container > li {
            padding: 0;
        }

            .multiselect-container > li > a.multiselect-all label {
                font-weight: bold;
            }

            .multiselect-container > li > label.multiselect-group {
                margin: 0;
                padding: 3px 20px 3px 10px;
                height: 100%;
                font-weight: bold;
            }

            .multiselect-container > li > a > label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: normal;
            }

                .multiselect-container > li > a > label.radio,
                .multiselect-container > li > a > label.checkbox {
                    margin: 0;
                }

                .multiselect-container > li > a > label > input[type="checkbox"] {
                    margin-bottom: 5px;
                }

    .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .dropdown-menu > li > a {
        padding: 6px 40px;
    }

    .dropdown-toggle {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 0; /* 6px; */
    }

    .dropdown-toggle {
        font-size: 14px;
        min-height: 49px;
    }

    #AddNewContact:hover {
        -webkit-animation: pulse 1s ease 0s;
        -o-animation: pulse 1s ease 0s;
        -moz-animation: pulse 1s ease 0s;
        animation: pulse 1s ease 0s;
    }

    .remove-contact {
        position: relative;
        top: 25px;
        left: 15px;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }

    .onoffswitch1 {
        position: relative;
        width: 110px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch1-checkbox {
        display: none;
    }

    .onoffswitch1-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 30px;
    }

    .onoffswitch1-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;
        -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch1-inner:before, .onoffswitch1-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 45px;
            padding: 0;
            line-height: 45px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 45px;
            box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
        }

        .onoffswitch1-inner:before {
            content: "Female";
            padding-left: 10px;
            background-color: #ffb6c1;
            color: #FFFFFF;
            border-radius: 45px 0 0 45px;
        }

        .onoffswitch1-inner:after {
            content: "Male";
            padding-right: 10px;
            background-color: #2FCCFF;
            color: #FFFFFF;
            text-align: right;
            border-radius: 0 45px 45px 0;
        }

    .onoffswitch1-switch {
        display: block;
        width: 30px;
        margin: 0px;
        background: #FFFFFF;
        border: 2px solid #999999;
        border-radius: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 80px;
        -moz-transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
        background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
        background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
        background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
        background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
        box-shadow: 0 1px 1px white inset;
    }

    .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
        margin-left: 0;
    }

    .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
        right: 0px;
    }

    .required {
        color: #C9302C;
    }

    .norequired {
        border: 1px solid #aaa;
    }

    .contact-tooltip {
        border: 2px solid #9F6000;
    }

    @@media( max-width : 585px ) {

        .wizard {
            width: 90%;
            height: auto !important;
        }

        span.round-tab {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }

        .add-contact {
            position: relative;
            top: -40px;
        }
    }

    @@-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @@-o-keyframes pulse {
        0% {
            -o-transform: scale(1);
        }

        50% {
            -o-transform: scale(1.2);
        }

        100% {
            -o-transform: scale(1);
        }
    }

    @@-moz-keyframes pulse {
        0% {
            -moz-transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
        }
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <ul class="breadcrumb" style="margin-top: 18px;">
                <li>@Html.ActionLink((string)(ViewBag.RoleName + " Portal").ToString(), "Portal", "Home", null, new { style = "font-size: 30px;", data_ftrans = "slide reverse ", data_ajax = "false" })</li>
                <li class="active" style="font-size: 20px;">@ViewBag.Title</li>
            </ul>
        </div>
        <div class="col-md-2 pull-right">
            @Html.ActionLink(" ", "Portal", "Home", null, new { id = "backtoportal", title = "Cancel action and go back to my current users list", role = "button", @class = "glyphicon glyphicon-arrow-left btn btn-info pull-right", data_ftrans = "slide reverse ", data_ajax = "false", style = "margin-top:20px; margin-bottom:10px;font-size:20px;font-weight:bold;" })
        </div>
    </div>
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step2" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="fa fa-child"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step3" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="step1" class="tab-pane active" role="tabpanel">
                        @using (Html.BeginForm("CreateStudent", "Manage", null, FormMethod.Post, new { id = "createNewStudent", @class = "newstudent" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="step11">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label required" for="kidsid">KIDS ID</label>
                                        @Html.EditorFor(model => model.student.KidsID, new { htmlAttributes = new { @class = "form-control", @Name = "kidsid", id = "kidsid", placeholder = "Kansas ID number", pattern = "[\\d]{9}", type = "number", maxlength = "10", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", data_validate = "true", min = "1", max = "9999999999", step = "1", onkeydown = "javascript: return event.keyCode == 69 || event.keyCode == 16 || event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 187 || event.keyCode == 189 ? false : true" } })
                                        @Html.ValidationMessage("kidsid", "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        <div class="bootstrap-iso">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <label class="control-label required" for="dob">Date of Birth</label>
                                                    @Html.EditorFor(model => model.student.DateOfBirth, new { htmlAttributes = new {@Value = @Model.student.DateOfBirth.ToString("MM-dd-yyyy"), @class = "form-control required", placeholder = "MM/dd/YYYY  e.g. 08/25/1977", type = "text", id = "dob", @Name = "dob", data_validate = "true" } })
                                                    @Html.ValidationMessage("dob", "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="studentPlacement">Placed By</label>
                                        <select name="studentPlacement" id="studentPlacement" class="form-control">
                                            @if (Model.placementCode != null)
                                            {
                                                foreach (var code in Model.placementCode)
                                                {
                                                    string selected = @code.PlacementCode == "L" ? "selected=selected" : "";
                                                    <option @selected value="@code.PlacementCode">@code.PlacementDescription</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label required" for="assignChildCount">Assign Child Count</label>
                                        <select name="assignChildCount" id="assignChildCount" class="form-control">
                                            @if (Model.allDistricts != null)
                                            {
                                                foreach (var district in Model.allDistricts)
                                                {
                                                    <option value="@district.USD">@district.DistrictName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Gender</label>
                                        <div class="onoffswitch1">
                                            <input type="checkbox" name="gender" class="onoffswitch1-checkbox" id="gender" checked>
                                            <label class="onoffswitch1-label" for="gender">
                                                <span class="onoffswitch1-inner"></span>
                                                <span class="onoffswitch1-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label required" for="firstname">First Name</label>
                                        @Html.EditorFor(model => model.student.FirstName, new { htmlAttributes = new { @class = "form-control", id = "firstname", Name = "firstname", placeholder = "Legal First Name", data_validate = "true" } })
                                        @Html.ValidationMessageFor(model => model.student.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label required" for="lastname">Last Name</label>
                                        @Html.EditorFor(model => model.student.LastName, new { htmlAttributes = new { @class = "form-control", id = "lastname", Name = "lastname", placeholder = "Legal Last Name", data_validate = "true" } })
                                        @Html.ValidationMessageFor(model => model.student.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="primaryDisability">Primary Disability</label>
                                        <select class="form-control" name="primaryDisability" id="primaryDisability">
                                            @if (Model.primaryDisabilities != null)
                                            {
                                                foreach (var primary in Model.primaryDisabilities)
                                                {
                                                    <option value="@primary.DisabilityCode">@primary.DisabilityDescription</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="secondaryDisability">Secondary Disability</label>
                                        <select class="form-control" name="secondaryDisability" id="secondaryDisability">
                                            <option value="ND">Disability Not Noticed</option>
                                            @if (Model.secondaryDisabilities != null)
                                            {
                                                foreach (var secondary in Model.secondaryDisabilities)
                                                {
                                                    <option value="@secondary.DisabilityCode">@secondary.DisabilityDescription</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="email">Email</label>
                                        @Html.EditorFor(model => model.student.Email, new { htmlAttributes = new { @class = "form-control norequired", id = "email", Name = "email", placeholder = "User email" } })
                                        @Html.ValidationMessageFor(model => model.student.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label required" for="misDistrict">District</label>
                                        <select name="misDistrict" class="form-control chosen-select" data-placeholder="Choose a district..." id="misDistrict" multiple="multiple" style="max-height: 49px;" data-validate="true" required>
                                            @if (Model.districts != null)
                                            {
                                                foreach (var district in Model.districts)
                                                {
                                                    string selected = Model.selectedDistrict.Contains(district) ? "selected=selected" : "";
                                                    <option value="@district.USD" @selected>@district.DistrictName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Building Assignment</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 nopadding" style="display: flex; align-items: center; height: 49px;">
                                        <span class="control-label required">Neighborhood School</span>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="NeighborhoodBuildingID" name="NeighborhoodBuildingID" class="list-group form-control studentBuilding" data-validate="true" required></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 nopadding" style="display: flex; align-items: center; height: 49px;">
                                        <span class="control-label required">Responsible Building</span>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="AttendanceBuildingId" name="AttendanceBuildingId" class="list-group form-control studentBuilding" data-validate="true"></select>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right saveandcontinue">
                                <li>@Html.ActionLink("Cancel", "Portal", "Home", null, new { role = "button", @class = "btn btn-default prev-step", data_ftrans = "slide reverse ", data_ajax = "false" })</li>
                                <li><button type="button" class="btn btn-info next-step" id="next2">Save and continue</button></li>
                            </ul>
                        }
                    </div>
                    <div id="step2" class="tab-pane" role="tabpanel">
                        <div id="step2" class="tab-pane active" role="tabpanel">
                            @using (Html.BeginForm("CreateStudentOptions", "Manage", null, FormMethod.Post, new { id = "createStudentOptions", @class = "studentOptions" }))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.Hidden("studentId", 0)

                                <div class="step22">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="studentStreetAddress1" class="required">Student's Street Address</label>
                                                <input name="studentStreetAddress1" id="studentStreetAddress1" class="form-control norequired" placeholder="Street Address" type="text" data-validate="true" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="studentStreetAddress2">Apt/Ste/Rm</label>
                                                <input name="studentStreetAddress2" id="studentStreetAddress2" class="form-control norequired" placeholder="Apartment/Suite/Room" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="studentCity" class="required">City</label>
                                                <input name="studentCity" id="studentCity" class="form-control norequired" placeholder="Contact City" type="text" data-validate="true" />
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <label for="studentState" class="required">State</label>
                                                <select name="studentState" id="studentState" class="form-control norequired" data-validate="true">
                                                    <option value="AL">AL</option>
                                                    <option value="AK">AK</option>
                                                    <option value="AZ">AZ</option>
                                                    <option value="AR">AR</option>
                                                    <option value="CA">CA</option>
                                                    <option value="CO">CO</option>
                                                    <option value="CT">CT</option>
                                                    <option value="DE">DE</option>
                                                    <option value="DC">DC</option>
                                                    <option value="FL">FL</option>
                                                    <option value="GA">GA</option>
                                                    <option value="HI">HI</option>
                                                    <option value="ID">ID</option>
                                                    <option value="IL">IL</option>
                                                    <option value="IN">IN</option>
                                                    <option value="IA">IA</option>
                                                    <option value="KS">KS</option>
                                                    <option value="KY">KY</option>
                                                    <option value="LA">LA</option>
                                                    <option value="ME">ME</option>
                                                    <option value="MD">MD</option>
                                                    <option value="MA">MA</option>
                                                    <option value="MI">MI</option>
                                                    <option value="MN">MN</option>
                                                    <option value="MS">MS</option>
                                                    <option value="MO">MO</option>
                                                    <option value="MT">MT</option>
                                                    <option value="NE">NE</option>
                                                    <option value="NV">NV</option>
                                                    <option value="NH">NH</option>
                                                    <option value="NJ">NJ</option>
                                                    <option value="NM">NM</option>
                                                    <option value="NY">NY</option>
                                                    <option value="NC">NC</option>
                                                    <option value="ND">ND</option>
                                                    <option value="OH">OH</option>
                                                    <option value="OK">OK</option>
                                                    <option value="OR">OR</option>
                                                    <option value="PA">PA</option>
                                                    <option value="RI">RI</option>
                                                    <option value="SC">SC</option>
                                                    <option value="SD">SD</option>
                                                    <option value="TN">TN</option>
                                                    <option value="TX">TX</option>
                                                    <option value="UT">UT</option>
                                                    <option value="VT">VT</option>
                                                    <option value="VA">VA</option>
                                                    <option value="WA">WA</option>
                                                    <option value="WV">WV</option>
                                                    <option value="WI">WI</option>
                                                    <option value="WY">WY</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="studentZipCode" class="required">Zip Code</label>
                                                <input name="studentZipCode" id="studentZipCode" class="form-control norequired" placeholder="Zip Code" type="number" pattern="(\d{5}([\-]\d{4})?)" data-validate="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="studentCounty">County of Residence</label>
                                            <select name="studentCounty" id="studentCounty" class="form-control">
                                                <option value="AL">Allen</option>
                                                <option value="AN">Anderson</option>
                                                <option value="AT">Atchison</option>
                                                <option value="BA">Barber</option>
                                                <option value="BT">Barton</option>
                                                <option value="BR">Brown</option>
                                                <option value="BB">Bourbon</option>
                                                <option value="BU">Butler</option>
                                                <option value="CS">Chase</option>
                                                <option value="CQ">Chautauqua</option>
                                                <option value="CK">Cherokee</option>
                                                <option value="CN">Cheyenne</option>
                                                <option value="CA">Clark</option>
                                                <option value="CY">Clay</option>
                                                <option value="CD">Cloud</option>
                                                <option value="CF">Coffey</option>
                                                <option value="CM">Comanche</option>
                                                <option value="CL">Cowley</option>
                                                <option value="CR">Crawford</option>
                                                <option value="DC">Decatur</option>
                                                <option value="DK">Dickinson</option>
                                                <option value="DP">Doniphan</option>
                                                <option value="DG">Douglas</option>
                                                <option value="ED">Edwards</option>
                                                <option value="EK">Elk</option>
                                                <option value="EL">Ellis</option>
                                                <option value="EW">Ellsworth</option>
                                                <option value="FI">Finney</option>
                                                <option value="FO">Ford</option>
                                                <option value="FR">Franklin</option>
                                                <option value="GE">Geary</option>
                                                <option value="GO">Gove</option>
                                                <option value="GH">Graham</option>
                                                <option value="GT">Grant</option>
                                                <option value="GY">Gray</option>
                                                <option value="GL">Greeley</option>
                                                <option value="GW">Greenwood</option>
                                                <option value="HM">Hamilton</option>
                                                <option value="HP">Harper</option>
                                                <option value="HV">Harvey</option>
                                                <option value="HS">Haskell</option>
                                                <option value="HG">Hodgeman</option>
                                                <option value="JA">Jackson</option>
                                                <option value="JF">Jefferson</option>
                                                <option value="JW">Jewell</option>
                                                <option value="JO">Johnson</option>
                                                <option value="KE">Kearny</option>
                                                <option value="KM">Kingman</option>
                                                <option value="KW">Kiowa</option>
                                                <option value="LB">Labette</option>
                                                <option value="LE">Lane</option>
                                                <option value="LV">Leavenworth</option>
                                                <option value="LC">Lincoln</option>
                                                <option value="LN">Linn</option>
                                                <option value="LG">Logan</option>
                                                <option value="LY">Lyon</option>
                                                <option value="MN">Marion</option>
                                                <option value="MS">Marshall</option>
                                                <option value="MP">McPherson</option>
                                                <option value="ME">Meade</option>
                                                <option value="MI">Miami</option>
                                                <option value="MC">Mitchell</option>
                                                <option value="MG">Montgomery</option>
                                                <option value="MR">Morris</option>
                                                <option value="MT">Morton</option>
                                                <option value="NM">Nemaha</option>
                                                <option value="NO">Neosho</option>
                                                <option value="NS">Ness</option>
                                                <option value="NT">Norton</option>
                                                <option value="OS">Osage</option>
                                                <option value="OB">Osborne</option>
                                                <option value="OT">Ottawa</option>
                                                <option value="PN">Pawnee</option>
                                                <option value="PL">Phillips</option>
                                                <option value="PT">Pottawatomie</option>
                                                <option value="PR">Pratt</option>
                                                <option value="RA">Rawlins</option>
                                                <option value="RN">Reno</option>
                                                <option value="RP">Republic</option>
                                                <option value="RC">Rice</option>
                                                <option value="RL">Riley</option>
                                                <option value="RO">Rooks</option>
                                                <option value="RH">Rush</option>
                                                <option value="RS">Russell</option>
                                                <option value="SA">Saline</option>
                                                <option value="SC">Scott</option>
                                                <option value="SG">Sedgwick</option>
                                                <option value="SW">Seward</option>
                                                <option value="SN">Shawnee</option>
                                                <option value="SD">Sheridan</option>
                                                <option value="SH">Sherman</option>
                                                <option value="SM">Smith</option>
                                                <option value="SF">Stafford</option>
                                                <option value="ST">Stanton</option>
                                                <option value="SV">Stevens</option>
                                                <option value="SU">Sumner</option>
                                                <option value="TH">Thomas</option>
                                                <option value="TR">Trego</option>
                                                <option value="WB">Wabaunsee</option>
                                                <option value="WA">Wallace</option>
                                                <option value="WS">Washington</option>
                                                <option value="WH">Wichita</option>
                                                <option value="WL">Wilson</option>
                                                <option value="WO">Woodson</option>
                                                <option value="WY">Wyandotte</option>
                                                <option value="OC">Other Country</option>
                                                <option value="UU">Unknown</option>
                                                <option value="ZZ">Other States</option>
                                                <option value="CO">Colorado</option>
                                                <option value="MO">Missouri</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="OK">Oklahoma</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="studentGrade">Student Grade</label>
                                            <select name="studentGrade" id="studentGrade" class="form-control">
                                                <option value="0">Kindergarten</option>
                                                <option value="1">1st Grade</option>
                                                <option value="2">2nd Grade</option>
                                                <option value="3">3rd Grade</option>
                                                <option value="4">4th Grade</option>
                                                <option value="5">5th Grade</option>
                                                <option value="6">6th Grade</option>
                                                <option value="7">7th Grade</option>
                                                <option value="8">8th Grade</option>
                                                <option value="9">9th Grade</option>
                                                <option value="10">10th Grade</option>
                                                <option value="11">11th Grade</option>
                                                <option value="12">12th Grade</option>
                                                <option value="13">Other Option</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="studentRace">Student Race</label>
                                            <select name="studentRace" id="studentRace" class="form-control">
                                                <option value="White">White</option>
                                                <option value="Hawaiian">Native Hawaiian or Other Pacific Islander</option>
                                                <option value="Asian">Asian</option>
                                                <option value="African American">Black or African American</option>
                                                <option value="Native America">American Indian or Alaska Native</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="studentEthnic">Hispanic Ethnicity</label>
                                            <select name="studentEthnic" id="studentEthnic" class="form-control">
                                                <option value="">Select</option>
                                                <option value="Y">Hispanic/Latino</option>
                                                <option value="N">Not Hispanic/Latino</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="studentLanguage">Student Language</label>
                                            <select name="studentLanguage" id="studentLanguage" class="form-control">
                                                <option value="EN" selected="selected">EN - English</option>
                                                <option value="ES">ES - Spanish</option>
                                                <option value="DE">DE - German</option>
                                                <option value="FR">FR - French</option>
                                                <option value="RU">RU - Russian</option>
                                                <option value="A">A - Augmentative Communication</option>
                                                <option value="AR">AR - Arabic</option>
                                                <option value="DIN">DIN - Dinka (Sudanese)</option>
                                                <option value="HMN">HMN - Hmong</option>
                                                <option value="IRA">IRA - Farsi(Iranian)</option>
                                                <option value="KHMR">KHMR - Khmen / Cambodian</option>
                                                <option value="KO">KO - Korean</option>
                                                <option value="LO">LO - Lao</option>
                                                <option value="M">M - Mode of Communication</option>
                                                <option value="NAT-AM">NAT-A, - Navtive America (Kickapoo, Pottawatomie, etc.)</option>
                                                <option value="N">N - Non-Verbal and Non-Sign</option>
                                                <option value="O">O - Other</option>
                                                <option value="PH">PH - Phllippine - Tagalog</option>
                                                <option value="SO">SO - Somali</option>
                                                <option value="TH">TH - Thai</option>
                                                <option value="VI">VI - Vietnamese</option>
                                                <option value="YU">YU - Yugoslavian, Croatian, Bosnian, Serb</option>
                                                <option value="ZH-ZH-CMN">ZH-ZH-CMN - Mandarin</option>
                                                <option value="ZH-YUE">ZH-YUE - Cantonese</option>
                                                <option value="ZH-WUU">ZH-WUU - Wu</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="parentLanguage">Parents Language</label>
                                            <select name="parentLanguage" id="parentLanguage" class="form-control">
                                                <option value="EN" selected="selected">EN - English</option>
                                                <option value="ES">ES - Spanish</option>
                                                <option value="DE">DE - German</option>
                                                <option value="FR">FR - French</option>
                                                <option value="RU">RU - Russian</option>
                                                <option value="A">A - Augmentative Communication</option>
                                                <option value="AR">AR - Arabic</option>
                                                <option value="DIN">DIN - Dinka (Sudanese)</option>
                                                <option value="HMN">HMN - Hmong</option>
                                                <option value="IRA">IRA - Farsi(Iranian)</option>
                                                <option value="KHMR">KHMR - Khmen / Cambodian</option>
                                                <option value="KO">KO - Korean</option>
                                                <option value="LO">LO - Lao</option>
                                                <option value="M">M - Mode of Communication</option>
                                                <option value="NAT-AM">NAT-A, - Navtive America (Kickapoo, Pottawatomie, etc.)</option>
                                                <option value="N">N - Non-Verbal and Non-Sign</option>
                                                <option value="O">O - Other</option>
                                                <option value="PH">PH - Phllippine - Tagalog</option>
                                                <option value="SO">SO - Somali</option>
                                                <option value="TH">TH - Thai</option>
                                                <option value="VI">VI - Vietnamese</option>
                                                <option value="YU">YU - Yugoslavian, Croatian, Bosnian, Serb</option>
                                                <option value="ZH-ZH-CMN">ZH-ZH-CMN - Mandarin</option>
                                                <option value="ZH-YUE">ZH-YUE - Cantonese</option>
                                                <option value="ZH-WUU">ZH-WUU - Wu</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group">
                                                <input name="claimingCode" id="claimingCode" type="checkbox" class="form-control text-box single-line" style="width: 15%; position: relative; top: 20px; height: 49px;" checked>
                                                <label for="claimingCode" style="float: left; position: relative; bottom: 16px; left: 20%;">Federal/State MIS</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group">
                                                <input name="fullDayKindergarten" id="fullDayKindergarten" type="checkbox" class="form-control text-box single-line" style="width: 15%; position: relative; top: 20px; height: 49px;">
                                                <label for="fullDayKindergarten" style="float: left; position: relative; bottom: 16px; left: 20%;">Full Day Kindergarten</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <label>&nbsp;</label>
                                            <div class="row vertical-align">
                                                <div class="col-md-2" style="padding: 0; text-align: right;">
                                                    <label class="control-label required" for="statusCode">Status Code</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <select name="statusCode" id="statusCode" class="form-control">
                                                        @if (Model.statusCode != null)
                                                        {
                                                            foreach (var code in Model.statusCode)
                                                            {
                                                                <option value="@code.StatusCode">@code.Description</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bootstrap-iso">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <label for="initialIEPDate" class="control-label">Initial IEP Date</label>
                                                        <input id="initialIEPDate" name="initialIEPDate" type="text" style="height:49px; z-index: 99999" class="form-control studentDOB norequired" placeholder="MM/dd/YYYY  e.g. 08/25/1977" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bootstrap-iso">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <label for="exitDate" class="control-label">Exit Date</label>
                                                        <input id="exitDate" name="exitDate" type="text" style="height:49px; z-index: 99999" class="form-control studentDOB norequired" placeholder="MM/dd/YYYY  e.g. 08/25/1977" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bootstrap-iso">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <label for="initialConsentSignature" class="control-label">Initial Evaluation Consent Signed</label>
                                                        <input id="initialConsentSignature" name="initialConsentSignature" type="text" style="height:49px; z-index: 99999" class="form-control studentDOB norequired" placeholder="MM/dd/YYYY  e.g. 08/25/1977" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bootstrap-iso">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <label for="initialEvaluationDetermination" class="control-label">Initial Evaluation Determination</label>
                                                        <input id="initialEvaluationDetermination" name="initialEvaluationDetermination" type="text" style="height:49px; z-index: 99999" class="form-control studentDOB norequired" placeholder="MM/dd/YYYY  e.g. 08/25/1977" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bootstrap-iso">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <label for="reEvaluationSignature" class="control-label">Re-Evaluation Signed</label>
                                                        <input id="reEvaluationSignature" name="reEvaluationSignature" type="text" style="height:49px; z-index: 99999" class="form-control studentDOB norequired" placeholder="MM/dd/YYYY  e.g. 08/25/1977" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right saveandcontinue">
                                    <li>@Html.ActionLink("Cancel", "Portal", "Home", null, new { role = "button", @class = "btn btn-default prev-step", data_ftrans = "slide reverse ", data_ajax = "false" })</li>
                                    <li><button type="button" class="btn btn-info next-step" id="next3">Save and continue</button></li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div id="step3" class="tab-pane" role="tabpanel">
                        <h4 style="font-size:1.5em; margin-bottom: 1.5em;">Parent/Guardian</h4>
                        @using (Html.BeginForm("CreateStudentContacts", "Manage", null, FormMethod.Post, new { id = "createStudentContacts", @class = "newstudent" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.Hidden("studentId", 0)

                            if (Model.contacts != null)
                            {

                                <div class="step33" id="student-contacts">
                                    @foreach (var contact in Model.contacts)
                                    {
                                        <div class="student-contact">
                                            <div class="row">
                                                <div class="col-sm-4 nopadding">
                                                    <div class="form-group">
                                                        <label for="contactFirstName">First Name</label>
                                                        @Html.ValidationMessageFor(model => contact.FirstName, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactFirstName" class="form-control text-box single-line" placeholder="First Name" type="text" data-validate="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 nopadding">
                                                    <div class="form-group">
                                                        <label>Middle Name</label>
                                                        @Html.ValidationMessageFor(model => contact.MiddleName, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactMiddleName" class="form-control text-box single-line" placeholder="Middle Name" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 nopadding">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        @Html.ValidationMessageFor(model => contact.LastName, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactLastName" class="form-control text-box single-line" placeholder="Last Name" type="text" data-validate="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 nopadding">
                                                    <div class="form-group">
                                                        <label>Relationship</label>
                                                        <select name="contacts[0].ContactRelationship" class="form-control text-box single-line" data-validate="true">
                                                            <option value="parent" selected=@(contact.Realtionship == "parent")>Parent</option>
                                                            <option value="foster" selected=@(contact.Realtionship == "foster")>Foster Parent</option>
                                                            <option value="guardian" selected=@(contact.Realtionship == "guardian")>Guardian</option>
                                                            <option value="advocate" selected=@(contact.Realtionship == "advocate")>Education Advocate</option>
                                                            <option value="other" selected=@(contact.Realtionship == "other")>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 nopadding">
                                                    <div class="form-group">
                                                        <label>Street Address</label>
                                                        @Html.ValidationMessageFor(model => contact.Address1, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactStreetAddress1" class="form-control text-box single-line" placeholder="Street Address" type="text" data-validate="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 nopadding">
                                                    <div class="form-group">
                                                        <label>Apt/Ste/Rm</label>
                                                        @Html.ValidationMessageFor(model => contact.Address2, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactStreetAddress2" class="form-control text-box single-line" placeholder="Apartment/Suite/Room" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 nopadding">
                                                    <div class="form-group">
                                                        <label>City</label>
                                                        @Html.ValidationMessageFor(model => contact.Address2, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactCity" class="form-control text-box single-line" id="ContactCity" placeholder="Contact City" type="text" data-validate="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 nopadding">
                                                    <div class="form-group">
                                                        <label>State</label>
                                                        <select name="contacts[0].ContactState" class="form-control text-box single-line" data-validate="true">
                                                            <option value="AL" selected=@(contact.State == "AL")>AL</option>
                                                            <option value="AK" selected=@(contact.State == "AK")>AK</option>
                                                            <option value="AZ" selected=@(contact.State == "AZ")>AZ</option>
                                                            <option value="AR" selected=@(contact.State == "AR")>AR</option>
                                                            <option value="CA" selected=@(contact.State == "CA")>CA</option>
                                                            <option value="CO" selected=@(contact.State == "CO")>CO</option>
                                                            <option value="CT" selected=@(contact.State == "CT")>CT</option>
                                                            <option value="DE" selected=@(contact.State == "DE")>DE</option>
                                                            <option value="DC" selected=@(contact.State == "DC")>DC</option>
                                                            <option value="FL" selected=@(contact.State == "FL")>FL</option>
                                                            <option value="GA" selected=@(contact.State == "GA")>GA</option>
                                                            <option value="HI" selected=@(contact.State == "HI")>HI</option>
                                                            <option value="ID" selected=@(contact.State == "ID")>ID</option>
                                                            <option value="IL" selected=@(contact.State == "IL")>IL</option>
                                                            <option value="IN" selected=@(contact.State == "IN")>IN</option>
                                                            <option value="IA" selected=@(contact.State == "IA")>IA</option>
                                                            <option value="KS" selected=@(contact.State == "KS")>KS</option>
                                                            <option value="KY" selected=@(contact.State == "KY")>KY</option>
                                                            <option value="LA" selected=@(contact.State == "LA")>LA</option>
                                                            <option value="ME" selected=@(contact.State == "ME")>ME</option>
                                                            <option value="MD" selected=@(contact.State == "MD")>MD</option>
                                                            <option value="MA" selected=@(contact.State == "MA")>MA</option>
                                                            <option value="MI" selected=@(contact.State == "MI")>MI</option>
                                                            <option value="MN" selected=@(contact.State == "MN")>MN</option>
                                                            <option value="MS" selected=@(contact.State == "MS")>MS</option>
                                                            <option value="MO" selected=@(contact.State == "MO")>MO</option>
                                                            <option value="MT" selected=@(contact.State == "MT")>MT</option>
                                                            <option value="NE" selected=@(contact.State == "NE")>NE</option>
                                                            <option value="NV" selected=@(contact.State == "NV")>NV</option>
                                                            <option value="NH" selected=@(contact.State == "NH")>NH</option>
                                                            <option value="NJ" selected=@(contact.State == "NJ")>NJ</option>
                                                            <option value="NM" selected=@(contact.State == "NM")>NM</option>
                                                            <option value="NY" selected=@(contact.State == "NY")>NY</option>
                                                            <option value="NC" selected=@(contact.State == "NC")>NC</option>
                                                            <option value="ND" selected=@(contact.State == "ND")>ND</option>
                                                            <option value="OH" selected=@(contact.State == "OH")>OH</option>
                                                            <option value="OK" selected=@(contact.State == "OK")>OK</option>
                                                            <option value="OR" selected=@(contact.State == "OR")>OR</option>
                                                            <option value="PA" selected=@(contact.State == "PA")>PA</option>
                                                            <option value="RI" selected=@(contact.State == "RI")>RI</option>
                                                            <option value="SC" selected=@(contact.State == "SC")>SC</option>
                                                            <option value="SD" selected=@(contact.State == "SD")>SD</option>
                                                            <option value="TN" selected=@(contact.State == "TN")>TN</option>
                                                            <option value="TX" selected=@(contact.State == "TX")>TX</option>
                                                            <option value="UT" selected=@(contact.State == "UT")>UT</option>
                                                            <option value="VT" selected=@(contact.State == "VT")>VT</option>
                                                            <option value="VA" selected=@(contact.State == "VA")>VA</option>
                                                            <option value="WA" selected=@(contact.State == "WA")>WA</option>
                                                            <option value="WV" selected=@(contact.State == "WV")>WV</option>
                                                            <option value="WI" selected=@(contact.State == "WI")>WI</option>
                                                            <option value="WY" selected=@(contact.State == "WY")>WY</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 nopadding">
                                                    <div class="form-group">
                                                        <label>Zip Code</label>
                                                        @Html.ValidationMessageFor(model => contact.Zip, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactZipCode" class="form-control text-box single-line" id="ContactZipCode" placeholder="Zip Code" type="number" pattern="(\d{5}([\-]\d{4})?)" data-validate="true" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #45906d;">
                                                <div class="col-sm-2 nopadding">
                                                    <div class="form-group">
                                                        <label>Phone Number</label>
                                                        @Html.ValidationMessageFor(model => contact.Phone, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactPhoneNumber" type="tel" class="form-control text-box single-line" pattern="\d{3}[\-]\d{3}[\-]\d{4}" placeholder="111-111-1111">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 nopadding">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        @Html.ValidationMessageFor(model => contact.Email, "", new { @class = "text-danger" })
                                                        <input name="contacts[0].ContactEmail" type="email" class="form-control text-box single-line" value="" placeholder="placeholder@gmail.com" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,4}$" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 nopadding">
                                                    <div class="form-group">
                                                        <input name="contacts[0].PrimaryContact" type="checkbox" class="form-control text-box single-line" style="width: 15%; position: relative; top: 20px; height: 49px;" />
                                                        <label style="float: left; position: relative; bottom: 15px; left: 20%;">Primary Contact</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-md-pull-10">
                                        <button type="button" class="btn-circle btn-lg btn-info pull-right add-contact"><i class="glyphicon glyphicon-plus"></i></button>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right saveandcontinue" style="margin-bottom: 55px;">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="button" class="btn btn-info next-step" id="next4">Save and continue</button></li>
                                </ul>
                            }
                        }
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        @using (Html.BeginForm("CreateStudentAvatar", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return false;" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.Hidden("studentId", 0)
                            if (Model.contacts != null)
                            {

                                <div class="step44">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-5">
                                            <p style="font-size: 16px;"><sup>*</sup>Optional Student Avatar</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-5">
                                            <img src="/Content/Images/newUser.png" alt="" title="Student's Avatar if desired.'" class="img-circle pull-left avatar" height="100" id="avatarImage" />
                                            <div class="input-group">
                                                <span class="btn btn-default btn-file" style="top: 30px; left: 15px;">
                                                    Browse <input type="file" name="adminpersona" id="adminpersona" accept="image/gif, image/jpeg, image/png">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-5">
                                            <ul class="list-inline">
                                                <li><button type="button" id="submitForm" class="btn btn-info btn-info-full" , data_ftrans="slide reverse" data_ajax="false" style="font-size: 18px;">Create New Student</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
</div>
<br />
<br />

<!-- student contact template file -->
<div id="contact-template" style="display: none;">
    <div class="row">
        <div class="col-sm-4 nopadding">
            <div class="form-group">
                <label>First Name</label>
                <input name="contacts[#].ContactFirstName" class="form-control text-box single-line" placeholder="First Name" type="text" data-validate="true" />
            </div>
        </div>
        <div class="col-sm-3 nopadding">
            <div class="form-group">
                <label>Middle Name</label>
                <input name="contacts[#].ContactMiddleName" class="form-control text-box single-line" placeholder="Middle Name" type="text" />
            </div>
        </div>
        <div class="col-sm-3 nopadding">
            <div class="form-group">
                <label>Last Name</label>
                <input name="contacts[#].ContactLastName" class="form-control text-box single-line" placeholder="Last Name" type="text" data-validate="true" />
            </div>
        </div>
        <div class="col-sm-2 nopadding">
            <div class="form-group">
                <label>Relationship</label>
                <select name="contacts[#].ContactRelationship" class="form-control text-box single-line">
                    <option value="parent" selected="selected">Parent</option>
                    <option value="guardian">Guardian</option>
                    <option value="advocate">Education Advocate</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 nopadding">
            <div class="form-group">
                <label>Street Address</label>
                <input name="contacts[#].ContactStreetAddress1" class="form-control text-box single-line" id="ContactStreetAddress1" placeholder="Address" type="text" data-validate="true" />
            </div>
        </div>
        <div class="col-sm-3 nopadding">
            <div class="form-group">
                <label>Apt/Ste/Rm</label>
                <input name="contacts[#].ContactStreetAddress2" class="form-control text-box single-line" id="ContactStreetAddress2" placeholder="Apartment/Suite/Room" type="text" />
            </div>
        </div>
        <div class="col-sm-2 nopadding">
            <div class="form-group">
                <label>City</label>
                <input name="contacts[#].ContactCity" class="form-control text-box single-line" id="ContactCity" placeholder="Contact City" type="text" data-validate="true" />
            </div>
        </div>
        <div class="col-sm-1 nopadding">
            <div class="form-group">
                <label>State</label>
                <select name="contacts[#].ContactState" class="form-control text-box single-line">
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS" selected="selected">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2 nopadding">
            <div class="form-group">
                <label>Zip Code</label>
                <input name="contacts[#].ContactZipCode" class="form-control text-box single-line" id="ContactZipCode" placeholder="Zip Code" type="number" pattern="(\d{5}([\-]\d{4})?)" data-validate="true" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #45906d;">
        <div class="col-sm-2 nopadding">
            <div class="form-group">
                <label>Phone Number</label>
                <input name="contacts[#].ContactPhoneNumber" type="tel" class="form-control text-box single-line" pattern="\d{3}[\-]\d{3}[\-]\d{4}" placeholder="Phone Number">
            </div>
        </div>
        <div class="col-sm-4 nopadding">
            <div class="form-group">
                <label>Email</label>
                <input name="contacts[#].ContactEmail" type="email" class="form-control text-box single-line" value="" placeholder="placeholder@gmail.com" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,4}$" />
            </div>
        </div>
        <div class="col-sm-2 nopadding">
            <div class="form-group">
                <input name="contacts[#].PrimaryContact" type="checkbox" class="form-control text-box single-line" style="width: 15%; position: relative; top: 20px; height: 49px;" />
                <label style="float: left; position: relative; bottom: 15px; left: 20%;">Primary Contact</label>
            </div>
        </div>
        <div class="col-sm-4 nopadding">
            <div class="form-group">
                <button type="button" class="btn-circle btn-lg btn-info pull-right contact-button remove-contact"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/createstudent.js"></var>

@*<script>
    function loadScript(url, callback) {
        // Adding the script tag to the head as suggested before
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = url;

        // Then bind the event to the callback function.
        // There are several events for cross browser compatibility.
        script.onreadystatechange = callback;
        script.onload = callback;

        // Fire the loading
        head.appendChild(script);
    }

    loadScript("/Scripts/jquery.maskedinput.min.js", function () {
        console.log("loaded maskedinput");
    });
</script>*@


@section scripts {
    @Scripts.Render("~/Scripts/bootstrap-mutliselect.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.min.js")
    @Scripts.Render("~/Scripts/createstudent.js")
}
