@model GreenBushIEP.Models.PortalViewModel

@{
    ViewBag.Title = "Level 4 Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/misportal.css")
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div class="user-head">
        <a href="/Manage/Edit/@(Model.user.UserID)" class="inbox-avatar" data-ftrans="slide">
            <img width="65" height="65" src="@(string.IsNullOrEmpty(Model.user.ImageURL) ? "/Content/Images/newMIS.png" : "/Avatar/" + Model.user.ImageURL  )">
        </a>
    </div>

    <h3>
        @ViewBag.DisplayName <small class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"> - my current list of users</small>
    </h3>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="user-toggle" class="pull-right">
                <div class="user-toggle-item">
                    <a id="add-student-user" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Manage/CreateStudent"><i class="fa fa-child" title="Create a New Student" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item">
                    <a id="add-system-user" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Manage/Create"><i class="fa fa-user-plus" title="Create New System User" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item">
                    <a id="mySettings" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/MySettings"><i class="fa fa-cogs" title="Adjust My Settings" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item">
                    <a id="reports" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/Reports"><i class="fa fa-file" title="Reports" data-toggle="tooltip"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-5 pull-left">
            <div class="form-group">
                <label for="userDistricts">Filter by District</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                    <select class="form-control" name="userDistricts" id="userDistricts">
                        <option value="-1">All District</option>
                        @if (Model.districts.Count > 0)
                        {
                            foreach (var district in Model.districts)
                            {
                                <option value="@(district.USD)">@(district.DistrictName)</option>
                            }
                        }
                        else
                        {
                            <option>This user is not assigned to any districts.</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 pull-left">
            <div class="form-group">
                <label for="userBuildings">Filter by Building</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                    <select class="form-control" name="userBuildings" id="userBuildings">
                        <option value="-1">All Buildings</option>
                        @if (Model.buildings.Count > 0)
                        {
                            foreach (var building in Model.buildings)
                            {
                                <option value="@building.BuildingID" data-district="@building.USD">@building.BuildingName</option>
                            }
                        }
                        else
                        {
                            <option>This user is not assigned to any buildings.</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 pull-left">
            <div class="form-group">
                <label for="userRoles">Filter by Role</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-user"></span></span>
                    <select class="form-control" name="userRoles" id="userRoles">
                        <option value="-1">All Roles</option>
                        <option value="3">Level 3</option>
                        <option value="4">Level 2</option>
                        <option value="6">Level 1</option>
                        <option value="5">Student</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info hidden" role="alert" id="alertMessage">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="moreinfo"><strong>Results!</strong> Some filler text until the action happens.</span>
    </div>

    @{
        if (Model.members.Count > 0)
        {
            <div class="just-padding">
                <div class="list-group list-group-root well">

                    @foreach (var user in Model.members)
                    {
                        <div class="list-group-item" data-id="@(user.UserID)">

                            @if (user.RoleID == "2") //MIS
                            {
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <text>@user.FirstName  @user.LastName</text>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#assignBuilding">
                                    <span class="fa fa-building-o" aria-hidden="true"></span>
                                </button>
                                <a href="/Manage/Edit/@(user.UserID)" title="Edit an existing user" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>
                            }
                            else if (user.RoleID == "3") //ADMIN
                            {
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <text>@user.FirstName  @user.LastName</text>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#assignBuilding">
                                    <span class="fa fa-building-o" aria-hidden="true"></span>
                                </button>
                                <a href="/Manage/Edit/@(user.UserID)" title="Edit an existing user" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>
                            }
                            else if (user.RoleID == "4") //Teacher
                            {
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <a href="/Home/TeacherStudentsRole/@(user.UserID)" class="launchListOfStudents" data-ftrans="slide">
                                    <text>@user.FirstName  @user.LastName</text>
                                </a>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#assignBuilding">
                                    <span class="fa fa-building-o" aria-hidden="true"></span>
                                </button>
                                <a href="/Manage/Edit/@(user.UserID)" title="Edit an existing user" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>
                            }
                            else if (user.RoleID == "6") //Nurse
                            {
                                <i class="fa fa-magnet" aria-hidden="true"></i>
                                <a href="/Home/TeacherStudentsRole/@(user.UserID)" class="launchListOfStudents" data-ftrans="slide">
                                    <text>@user.FirstName  @user.LastName</text>
                                </a>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#assignBuilding">
                                    <span class="fa fa-building-o" aria-hidden="true"></span>
                                </button>
                                <a href="/Manage/Edit/@(user.UserID)" title="Edit an existing user" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>
                            }
                            else
                            { //KIDS
                                <i class="fa fa-child" aria-hidden="true"></i>
                                <text>@user.FirstName  @user.LastName</text>

                                if (user.hasIEP)
                                {
                                    <a href="/Home/StudentProcedures?stid=@(user.UserID)" title="Lauch the IEP for this student" role="button" data-ftrans="slide" class="btn btn-info btn-action pull-right startIEP">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                    </a>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#initIEP">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    </button>
                                }

                                <a href="/Home/IEPFormModule?studentId=@(user.UserID)" title="Forms" role="button" data-toggle="tooltip" class="viewForms btn btn-info btn-action pull-right" data-ftrans="slide" id="viewFormsBtn">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </a>

                                <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <a href="/Manage/EditStudent/@(user.UserID)" title="Edit an existing student" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>
                            }

                        </div>
                    }

                </div>
            </div>
        }
    }

    <div class="ajax-loader">
        <img src="/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content">
    </div>
</div>

<!-- Modal -->
<div class="modal-dialog">
    <div class="modal fadeInUp" id="assignBuilding" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Hidden("id", Model.user.UserID.ToString())
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Assign this User to Buildings</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 district-selection">
                        <label for="selectedDistrict">Your District:&nbsp;</label>
                        <select id="selectedDistrict"></select>
                    </div>
                    <div class="dual-list list-right col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" name="SearchBuildingList" class="form-control" placeholder="search" />
                                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                            </div>
                            <ul id="selectBuildings" class="list-group"></ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer assignBuilding-modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" id="savetheseBuildingsToThisUser">Save</button>
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- Modal -->
<div class="modal fadeInUp" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Hidden("id", Model.user.UserID.ToString())
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this User</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span> Deleting a user also deletes all data in your database associated with them. Is this what you want to do? <strong>(can't be undone)</strong><br />
                    <br />
                    Type DELETE to confirm<br />
                    <input id="confirmDeletion" type="text" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end modal -->
<!-- Modal -->
<div class="modal fadeInUp" id="initIEP" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Hidden("id", Model.user.UserID.ToString())
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Begin this student's IEP</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span> Would you like to begin a new IEP for this student? This action can not be reversed. Once the IEP has been started it will be available to other assigned users. <strong>(CANNOT BE UNDONE)</strong><br />
                    <br />
                    Type START to confirm<br />
                    <input id="confirmStart" type="text" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Start</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end modal -->

@section scripts {
    @Scripts.Render("~/Scripts/bootstrap-mutliselect.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
    @Scripts.Render("~/Scripts/misportal.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.min.js")
}
