@using GreenBushIEP.Helper
@model GreenBushIEP.Models.StudentViewModel

@{
    ViewBag.Title = "Nurse Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="user-head">
    <a href="/Manage/Edit/@(Model.Teacher.UserID)" class="inbox-avatar" data-ftrans="slide">
        <img width="64" hieght="60" src="@(string.IsNullOrEmpty(Model.Teacher.ImageURL) ? "/Content/Images/newTeacher.png" :  "/Avatar/" + Model.Teacher.ImageURL  )" style="height: 62px;">
    </a>
</div>

<div class="container">
    <h3>
        @ViewBag.DisplayName
    </h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="user-toggle" class="pull-right">
                <div class="user-toggle-item">
                    <a id="reports" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/Reports"><i class="fa fa-file" title="Reports" data-toggle="tooltip"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="alert" id="alertMessage" style="display: none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="moreinfo"><strong>Results!</strong> Some filler text until the action happens.</span>
    </div>

    @{
        if (Model.Students.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Kids #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>IEP Date</th>
                        <th>Birthdate</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr data-id="@(student.UserID)">
                            <td>@student.KidsID</td>
                            <td>@student.FirstName.ToTitleCase()</td>
                            <td>@student.LastName.ToTitleCase()</td>
                            <td>@DateTime.Parse(student.IEPDate).ToString("MM/dd/yyyy")</td>
                            <td>@student.DateOfBirth.ToString("MM/dd/yyyy")</td>
                            <td>
                                @if (student.hasIEP)
                                {
                                    <a href="/Home/StudentProcedures?stid=@student.UserID.ToString()" title="Lauch the IEP for this student" role="button" data-ftrans="slide" class="btn btn-info btn-action pull-right launchIEP">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                    </a>
                                }
                                <button type="button" title="Delete this student" class="btn btn-info btn-action pull-right" data-id="@(student.UserID)" data-toggle="modal" data-target="#deleteUser">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </button>
                                <a href="/Manage/EditStudent/@(student.UserID)" title="Edit an existing student" role="button" data-toggle="tooltip" class="btn btn-info btn-action pull-right" data-ftrans="slide" id="editStudent">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    <div class="ajax-loader">
        <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
    </div>

</div>