@using GreenBushIEP.Models
@model GreenBushIEP.Models.IEP

@{
    ViewBag.Title = "Print IEP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imageChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_yes.png");
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
    var imageRadioChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/radio_yes.png");
    var imageRadioNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/radio_no.png");
    var imageSliderChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/yes_checked.png");
    var imageSliderNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/no_checked.png");
    var headerLogo = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/GBlogo1A.jpg");
    var studentFullName = string.Format("{0} {1}", @Model.studentFirstName, Model.studentLastName);
    var primeContact = Model.studentDetails.contacts.OrderByDescending(o => o.PrimaryContact).Take(1).FirstOrDefault();
    var isDraft =Model.current != null &&  Model.current.IepStatus != null && Model.current.IepStatus == IEPStatus.DRAFT ? true : false;
    var draftImage = "";
    if (isDraft)
    {
        draftImage = "/Content/Images/draft-watermark-printing.png";
    }
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
}

<style>
    body {
        background-color: #525659;
    }

    p, textarea {
        overflow-y: auto;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .fadeInToBackground {
        background: #525659;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }

    .glyphicon-remove-circle:hover {
        cursor: pointer;
    }

    .transition-page {
        display: block;
        position: relative;
    }


        /* implements an image with opacity of 50% */
        .transition-page::after {
            content: "";
            background: url(@(draftImage));
            background-size: 38px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

    .transition-page-scaleUpCenter {
        -webkit-animation: scaleUpCenter .4s ease-out both;
        animation: scaleUpCenter .4s ease-out both;
        width: 900px;
        display: block;
    }

    .transition-page-scaleDownCenter {
        -webkit-animation: scaleDownCenter .4s ease-in both;
        animation: scaleDownCenter .4s ease-in both;
    }

    .section-break {
        border-top: 1px solid black !important;
    }

    .module-page {
        margin-top: -1cm;
    }

    legend {
        white-space: nowrap;
    }

    .imgCheck {
        display: none;
    }

    @@-webkit-keyframes scaleUpCenter {
        from {
            opacity: 0;
            -webkit-transform: scale(.7);
        }
    }

    @@keyframes scaleUpCenter {
        from {
            opacity: 0;
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    @@-webkit-keyframes scaleDownCenter {
        from {
        }

        to {
            opacity: 0;
            -webkit-transform: scale(.7);
        }
    }

    @@keyframes scaleDownCenter {
        from {
        }

        to {
            opacity: 0;
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    @@media only print {

        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact; /* Non-Webkit Browsers */
            z-index: 2 !important;
        }

        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            float: left;
        }

        .col-sm-12 {
            width: 100%;
        }

        .col-sm-11 {
            width: 91.66666666666666%;
        }

        .col-sm-10 {
            width: 83.33333333333334%;
        }

        .col-sm-9 {
            width: 75%;
        }

        .col-sm-8 {
            width: 66.66666666666666%;
        }

        .col-sm-7 {
            width: 58.333333333333336%;
        }

        .col-sm-6 {
            width: 50%;
        }

        .col-sm-5 {
            width: 41.66666666666667%;
        }

        .col-sm-4 {
            width: 33.33333333333333%;
        }

        .col-sm-3 {
            width: 25%;
        }

        .col-sm-2 {
            width: 16.666666666666664%;
        }

        .col-sm-1 {
            width: 8.333333333333332%;
        }


        @@page {
            /*size: 8.5in 11in;*/
            margin: .1in;
        }

        @@page:left {
            @@bottom-left {
                margin: 1in;
                border-top: .25pt solid #666;
                content: "";
                font-size: 9pt;
                color: #333;
                background-color: green;
            }
        }


        legend, textarea, input {
            page-break-inside: avoid;
        }

        body {
            /* this affects the margin on the content before sending to printer  */
            /*margin: 1.6cm;*/
        }

            body::before {
                content: "";
                background: url(/Content/Images/draft-watermark-printing.png) !important;
                background-size: 38px !important;
                opacity: 0.5 !important;
                top: 0px !important;
                left: 0px !important;
                bottom: 0 !important;
                right: 0 !important;
                position: fixed !important;
            }

        .transition-page::after {
            background-color: #fff !important;
            top: -55px !important;
            left: 55px !important;
            bottom: -10000px !important;
            right: 55px !important;
            position: fixed !important;
        }

        .glyphicon-remove, #printbutton, footer {
            display: none;
        }

        .body-content {
            border-left: 0 !important;
            border-right: 0 !important;
            box-shadow: none !important;
        }
    }
</style>

<div class="transition-page" style="display:none;padding-bottom:50px">
    <div class="container" style="min-height: 1250px; width: 725px;">
        <div class="row print-button" style="margin-top: 25px; margin-left: -200px; position: fixed;">
            <div class="col-md-11">

                <form action=@Url.Action("DownloadPDF", "Home") id="frmPrint" class="form-print" method="post">
                    <input type="button" value="Print" onclick="PrintText();" class="btn btn-info print" />
                    <input type="button" value="Archive" onclick="ArchiveText();" class="btn btn-info print" style="margin-top:5px" />
                    <input type="hidden" id="printText" name="printText" />
                    <input type="hidden" id="studentText" name="studentText" />
                    <input type="hidden" id="isArchive" name="isArchive" />
                    <input type="hidden" id="studentName" name="studentName" value="@studentFullName" />
                    <input type="hidden" id="studentId" name="studentId" value="@Model.current.UserID" />
                    <input type="hidden" id="iepID" name="iepID" value="@Model.current.IEPid" />
                    <input type="hidden" id="isIEP" name="isIEP" value="1" />                  
                </form>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                @Html.ActionLink(" ", null, null, null, new { href = Request.UrlReferrer, id = "backtoportal", title = "Cancel action and go back to my current users list", role = "button", @class = "glyphicon glyphicon-remove btn btn-info pull-right exit", style = "margin-top:20px;margin-bottom:10px;margin-right: -75px;font-size:20px;font-weight:bold;" })
            </div>
        </div>
		@Html.Partial("~/Views/Home/_PrintPartial.cshtml", @Model)
      
    </div><!--end container-->
   </div><!--end transition-->
    <script>

        var body = document.getElementsByTagName("body")[0];
        body.classList += ' ' + 'fadeInToBackground';

        var el = document.getElementsByClassName("body-content")[0], c = el.style;
        c.borderLeft = "1px solid #000";
        c.borderRight = "1px solid #000";
        c.boxShadow = "10px 10px 25px #333";
        c.position = "relative";
        c.top = "15px";
        c.backgroundColor = "#ffffff";
        c.marginBottom = "75px";

        setTimeout(function () {
            var tp = document.getElementsByClassName("transition-page")[0];
            tp.style.display = "block";

            var className = 'transition-page-scaleUpCenter';
            if (el.classList) {
                el.classList.add(className);
            }
            else {
                el.className += ' ' + className;
            }
        }, 200);

        document.getElementsByClassName('transition-page')[0].addEventListener('click', function (e) {
            if (e && e.target && !(hasClass(e.target, 'exit') || hasClass(e.target, 'print'))) {
                event.preventDefault();
                document.activeElement.blur();
            }
        });

        function hasClass(target, className) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }

        function PrintText() {
            var x = document.getElementsByClassName("form-print");
            var markup = document.getElementsByClassName("module-page")[0].innerHTML;
            var markup2 = document.getElementsByClassName("studentInformationPage")[0].innerHTML;
            $("#printText").val(markup);
            $("#studentText").val(markup2);
            $("#isArchive").val(0);
            x[0].submit();
        }

        function ArchiveText() {
            var x = document.getElementsByClassName("form-print");
            var markup = document.getElementsByClassName("module-page")[0].innerHTML;
            var markup2 = document.getElementsByClassName("studentInformationPage")[0].innerHTML;
            $("#printText").val(markup);
            $("#studentText").val(markup2);
            $("#isArchive").val(1);
            x[0].submit();
        }
    </script>
