@using GreenBushIEP.Models
@model GreenBushIEP.Models.IEP

@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imageChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_yes.png");
    var imageNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/check_no.png");
    var imageRadioChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/radio_yes.png");
    var imageRadioNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/radio_no.png");
    var imageSliderChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/yes_checked.png");
    var imageSliderNotChecked = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/Images/no_checked.png");
    var headerLogo = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/GBlogo1A.jpg");
    var studentFullName = string.Format("{0} {1}", @Model.studentFirstName, Model.studentLastName);
    var primeContact = Model.studentDetails.contacts.OrderByDescending(o => o.PrimaryContact).Take(1).FirstOrDefault();
    var isDraft =Model.current != null &&  Model.current.IepStatus != null && Model.current.IepStatus == IEPStatus.DRAFT ? true : false;
    var draftImage = "";
	
    if (isDraft)
    {
        draftImage = "/Content/Images/draft-watermark-printing.png";
    }
	
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
	@Styles.Render("~/Content/printIEP.css")
}

<div class="transition-page" style="display:none;padding-bottom:50px">
    <div class="container" style="padding-right:5px;padding-left:5px;  min-height: 1250px; width:855px;background-color:#fff">
        <div class="row print-button" style="margin-top: 25px; margin-left: -200px; position: fixed;">
            <div class="col-md-11">

                <form action=@Url.Action("DownloadPDF", "Home") id="frmPrint" class="form-print" method="post">
                    <input type="button" value="Print" onclick="PrintText();" class="btn btn-info print" />	
					@if (Model.studentDetails.printIEPDetails)
					{
						<input type="button" value="Archive" onclick="ArchiveText();" class="btn btn-info print" style="margin-top:5px" />					
					}
                    <input type="hidden" id="printText" name="printText" />
                    <input type="hidden" id="studentText" name="studentText" />
                    <input type="hidden" id="isArchive" name="isArchive" />
                    <input type="hidden" id="studentName" name="studentName" value="@studentFullName" />
                    <input type="hidden" id="studentId" name="studentId" value="@Model.current.UserID" />
                    <input type="hidden" id="iepID" name="iepID" value="@Model.current.IEPid" />
                    <input type="hidden" id="isIEP" name="isIEP" value="1" />       
                </form>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                @Html.ActionLink(" ", null, null, null, new { href = Request.UrlReferrer, id = "backtoportal", title = "Cancel action and go back to my current users list", role = "button", @class = "glyphicon glyphicon-remove btn btn-info pull-right exit", style = "margin-top:20px;margin-bottom:10px;margin-right: -5px;font-size:20px;font-weight:bold;" })
            </div>
        </div>
		@if (ViewBag.IsStudentInfo != null)
		{			
				@Html.Partial("~/Views/Home/_PrintStudentInfo.cshtml", @Model)
		}
		else
		{
			@Html.Partial("~/Views/Home/_PrintPartial.cshtml", @Model)
		}


    </div><!--end container-->
   </div><!--end transition-->

	<!-- loading the file even though it's an ajax call -->
	@*<var data-reload="true" data-src="/Scripts/printIEP.js"></var>*@
@section scripts {
    @Scripts.Render("~/Scripts/printIEP.js")
    
}