@using GreenBushIEP.Helper
@model GreenBushIEP.Models.StudentViewModel

@{
    ViewBag.Title = " Teacher Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
}

<style>
    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: 100 !important;
        width: 108%;
        height: 100%;
        top: 0;
        left: 0px;
        right: 0;
    }

        .ajax-loader img {
            position: fixed; /* or absolute */
            top: 45%;
            left: 40%;
        }

    /*//////////////////////////////////////
    ///  User Toggle Buttons Starts Here
    //////////////////////////////////////*/

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

        .btn-circle:focus {
            outline: none;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            margin-bottom: 10px;
        }

    #add-student-user i {
        padding: 0;
    }

    #user-toggle {
        margin-right: 20px;
    }

        #user-toggle:hover {
            -webkit-animation: pulse 1s ease 0s;
            -o-animation: pulse 1s ease 0s;
            -moz-animation: pulse 1s ease 0s;
            animation: pulse 1s ease 0s;
        }

    @@-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @@-o-keyframes pulse {
        0% {
            -o-transform: scale(1);
        }

        50% {
            -o-transform: scale(1.2);
        }

        100% {
            -o-transform: scale(1);
        }
    }

    @@-moz-keyframes pulse {
        0% {
            -moz-transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
        }
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="user-head">
    <a href="/Manage/Edit/@(Model.Teacher.UserID)" class="inbox-avatar" data-ftrans="slide">
        <img width="64" hieght="60" src="@(string.IsNullOrEmpty(Model.Teacher.ImageURL) ? "/Content/Images/newTeacher.png" :  "/Content/Images/Uploads/" + Model.Teacher.ImageURL  )" style="height: 62px;">
    </a>
</div>

<div class="container">
    <h3>
        @ViewBag.DisplayName <small> - my current list of students</small>
    </h3>
    <hr>
    <div class="row voffset1">
        <div class="col-md-12">
            <a href="/Manage/CreateStudent" id="user-toggle" type="button" title="Create New Student" role="button" data-toggle="tooltip" style="margin-bottom:0;margin-top: 10px;" class="btn btn-primary btn-circle btn-xl pull-right" data-ftrans="slide"><i class="fa fa-child" style="position: relative; top: 8px;"></i></a>
        </div>
    </div>
    @{
        if (Model.Students.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Kids #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birthdate</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td>@student.KidsID</td>
                            <td>@student.FirstName.ToTitleCase()</td>
                            <td>@student.LastName.ToTitleCase()</td>
                            <td>@student.DateOfBirth.ToString("MM-dd-yyyy")</td>
                            <td>
                                <a role="button" class="btn btn-info pull-right" data-ftrans="slide" href="/Home/StudentProcedures?stid=@student.UserID.ToString()">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    <div class="ajax-loader">
        <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
    </div>
</div>



@section scripts {
    @Scripts.Render("~/Scripts/portal.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
}
