@using GreenBushIEP.Helper
@model GreenBushIEP.Models.StudentViewModel

@{
    ViewBag.Title = "Level 2 Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
}

<style>
    .ajax-loader {
        display: none;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: 100 !important;
        width: 108%;
        height: 100%;
        top: 0;
        left: 0px;
        right: 0;
    }

        .ajax-loader img {
            position: fixed;
            top: 45%;
            left: 40%;
        }

    h3 a {
        margin: 0 5px;
    }

    hr {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .result {
        margin-top: 20px;
    }

    table tr {
        height: 45px !important;
    }

    .list-group {
        margin-bottom: 0;
    }

    .list-group-item {
        padding-bottom: 0;
    }

    .panel-heading {
        padding: 15px 15px;
    }

    .panel-body {
        padding: 0;
    }

    .btn-action {
        margin: 4px 4px 4px 0px;
        position: relative;
        bottom: 8px;
    }

    .just-padding {
        padding: 0 0 15px 0;
    }

    .list-group-item > i {
        cursor: pointer;
    }

    .list-group-item > text {
        cursor: none;
    }

        .list-group-item > text:hover {
            text-decoration: none;
        }

    .list-group.list-group-root {
        padding: 0;
        overflow: inherit;
        margin-bottom: 42px;
    }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
            min-height: 45px;
            font-size: 16px;
        }

    /*//////////////////////////////////////
    ///  User Toggle Buttons Starts Here
    //////////////////////////////////////*/

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

        .btn-circle:focus {
            outline: none;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            margin-bottom: 10px;
        }

    #add-student-user i {
        padding: 0;
    }

    #user-toggle {
        margin-right: 20px;
    }

        #user-toggle .user-toggle-item {
            display: inline-block;
        }

        #user-toggle button:first-child {
            margin-left: 15px;
        }

        #user-toggle .user-toggle-item button:hover {
            -webkit-animation: pulse 1s ease 0s;
            -o-animation: pulse 1s ease 0s;
            -moz-animation: pulse 1s ease 0s;
            animation: pulse 1s ease 0s;
        }

        #user-toggle .user-toggle-item ul {
            display: inline-block;
            list-style-type: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
            position: relative;
            top: 10px;
            padding-right: 12px;
        }

            #user-toggle .user-toggle-item ul li {
                display: inline-block;
                float: left;
                padding-left: 15px;
            }

            #user-toggle .user-toggle-item ul.show-buttons {
                display: inline-block;
                -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 1s; /* Firefox < 16 */
                -ms-animation: fadein 1s; /* Internet Explorer */
                -o-animation: fadein 1s; /* Opera < 12.1 */
                animation: fadein 1s;
            }

            #user-toggle .user-toggle-item ul.hide-buttons {
                display: none;
            }

    #mySettings, #add-system-user, #add-student-user, #reports, #referrals {
        margin-left: 15px;
    }

        #mySettings:hover, #add-system-user:hover, #add-student-user:hover, #reports:hover, #referrals:hover {
            -webkit-animation: pulse 1s ease 0s;
            -o-animation: pulse 1s ease 0s;
            -moz-animation: pulse 1s ease 0s;
            animation: pulse 1s ease 0s;
        }

        #mySettings i, #add-system-user i, #add-student-user i, #reports i, #referrals i {
            vertical-align: -webkit-baseline-middle;
            padding-left: 0;
        }

    @@-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @@-o-keyframes pulse {
        0% {
            -o-transform: scale(1);
        }

        50% {
            -o-transform: scale(1.2);
        }

        100% {
            -o-transform: scale(1);
        }
    }

    @@-moz-keyframes pulse {
        0% {
            -moz-transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
        }
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    @@keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Firefox < 16 */
    @@-moz-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @@-webkit-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Internet Explorer */
    @@-ms-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Opera < 12.1 */
    @@-o-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="user-head">
    <a href="/Manage/Edit/@(Model.Teacher.UserID)" class="inbox-avatar" data-ftrans="slide">
        <img width="64" hieght="60" src="@(string.IsNullOrEmpty(Model.Teacher.ImageURL) ? "/Content/Images/newTeacher.png" :  "/Avatar/" + Model.Teacher.ImageURL  )" style="height: 62px;">
    </a>
</div>

<div class="container">
    <h3>
        <a href="/Manage/Edit/@(Model.Teacher.UserID)" data-ftrans="slide">@ViewBag.DisplayName</a> <small> - my current list of students</small>
    </h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="user-toggle" class="pull-right">
                <div class="user-toggle-item">
                    <a id="add-referral-user" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Manage/CreateReferral"><i class="fa fa-address-book" title="Create a New Referral" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item">
                    <a id="reports" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/Reports"><i class="fa fa-file" title="Reports" data-toggle="tooltip"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="alert" id="alertMessage" style="display: none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="moreinfo"><strong>Results!</strong> Some filler text until the action happens.</span>
    </div>

    @{
        if (Model.Students.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Kids #</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>IEP Date</th>
                        <th>Birthdate</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr data-id="@(student.UserID)">
                            <td>@student.KidsID</td>
                            <td>@student.FirstName</td>
                            <td>@student.MiddleName</td>
                            <td>@student.LastName</td>
                            <td>@DateTime.Parse(student.IEPDate).ToString("MM/dd/yyyy")</td>
                            <td>@student.DateOfBirth.ToString("MM/dd/yyyy")</td>
                            <td>
                                @if (student.hasIEP)
                                {
                                    <a href="/Home/StudentProcedures?stid=@student.UserID.ToString()" title="Launch the IEP for this student" role="button" data-ftrans="slide" class="btn btn-info btn-action pull-right launchIEP">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                    </a>
                                }

                                <a href="/Home/IEPFormModule?studentId=@(student.UserID)" title="Forms" role="button" data-toggle="tooltip" class="viewForms btn btn-info btn-action pull-right" data-ftrans="slide" id="viewFormsBtn">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </a>
                                <a href="/Manage/EditStudent/@(student.UserID)" title="Edit an existing student" role="button" data-toggle="tooltip" class="btn btn-info btn-action pull-right" data-ftrans="slide" id="editStudent">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    <div class="ajax-loader">
        <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
    </div>

    <!-- Modal -->
    <div class="modal fadeInUp" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Hidden("id", 0)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this User</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span> Deleting a user also deletes all data in your database associated with them. Is this what you want to do? <strong>(can't be undone)</strong><br />
                        <br />
                        Type DELETE to confirm<br />
                        <input id="confirmDeletion" type="text" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->
</div>

@section scripts {
    @Scripts.Render("~/Scripts/portal.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
}
