@using GreenBushIEP.Models
@model GreenBushIEP.Models.StudentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .breadcrumb {
        margin-top: 20px;
        padding: 3px 0;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
    }

    .teacherStudentRole-btn-action {
        margin: 4px 4px 4px 0px;
        position: relative;
    }

    .body-content {
        margin-bottom: 4em;
    }

    /*//////////////////////////////////////
    ///  User Toggle Buttons Starts Here
    //////////////////////////////////////*/

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

        .btn-circle:focus {
            outline: none;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            margin-bottom: 10px;
        }

    #add-student-user i {
        padding: 0;
    }

    #user-toggle {
        margin-right: 20px;
    }

        #user-toggle .user-toggle-item {
            display: inline-block;
        }

        #user-toggle button:first-child {
            margin-left: 15px;
        }

        #user-toggle .user-toggle-item button:hover {
            -webkit-animation: pulse 1s ease 0s;
            -o-animation: pulse 1s ease 0s;
            -moz-animation: pulse 1s ease 0s;
            animation: pulse 1s ease 0s;
        }

        #user-toggle .user-toggle-item ul {
            display: inline-block;
            list-style-type: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
            position: relative;
            top: 10px;
            padding-right: 12px;
        }

            #user-toggle .user-toggle-item ul li {
                display: inline-block;
                float: left;
                padding-left: 15px;
            }

            #user-toggle .user-toggle-item ul.show-buttons {
                display: inline-block;
                /*-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1
                -moz-animation: fadein 1s; /* Firefox < 16
                -ms-animation: fadein 1s; /* Internet Explorer
                -o-animation: fadein 1s; /* Opera < 12.1
                animation: fadein 1s;*/
            }

            #user-toggle .user-toggle-item ul.hide-buttons {
                display: none;
            }

    #addExistingStudents {
        margin-left: 15px;
    }

        #addExistingStudents:hover {
            -webkit-animation: pulse 1s ease 0s;
            -o-animation: pulse 1s ease 0s;
            -moz-animation: pulse 1s ease 0s;
            animation: pulse 1s ease 0s;
        }

        #addExistingStudents i {
            vertical-align: -webkit-baseline-middle;
            padding-left: 0;
        }


    @@-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @@-o-keyframes pulse {
        0% {
            -o-transform: scale(1);
        }

        50% {
            -o-transform: scale(1.2);
        }

        100% {
            -o-transform: scale(1);
        }
    }

    @@-moz-keyframes pulse {
        0% {
            -moz-transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
        }
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

@if (Model.Teacher != null)
{
    <div class="container">
        <div class="col-md-2 pull-right">
            <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" id="backtoportal" role="button" style="margin-top: 25px; margin-bottom:10px;font-size:20px;font-weight:bold;" title="Cancel action and go back to my current users list"> </a>
        </div>
        @*<hr />*@

        <ul class="breadcrumb">
            <li><a data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" style="font-size: 30px;">Managed Information System Portal</a></li>
            <li class="active" style="font-size: 20px;">@(Model.Teacher.FirstName + " " + Model.Teacher.LastName)'s Student List</li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <div id="user-toggle" class="pull-right" style="margin-top: 20px;">
                    <div class="user-toggle-item">
                        <a id="addExistingStudents" class="btn btn-primary btn-circle btn-xl pull-right" data-toggle="modal" data-target="#addExistingStudentModal"><i class="fa fa-users"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped my-table-root">
                        @if (Model.Students.Count() > 0)
                        {
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Building Name</th>
                                    <th>Email</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in Model.Students)
                                {
                                    <tr class="my-table-item">
                                        <td>@(student.FirstName.ToTitleCase())</td>
                                        <td>@(student.LastName.ToTitleCase())</td>
                                        <td>@(student.BuildingID)</td>
                                        <td><a href="mailto:@(student.Email)">@(student.Email)</a></td>
                                        <td>
                                            <button type="button" class="btn btn-info teacherStudentRole-btn-action pull-right" data-id="@(student.UserID)" data-toggle="modal" data-target="#confirmStudentRemoval" >
                                                <span class="fa fa-user-times" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fadeInUp" id="addExistingStudentModal" tabindex="-1" role="dialog" data-id="@(Model.Teacher.UserID)" aria-labelledby="addExistingStudentModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Avaliable Students</strong> - select a student and add them to the list</h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width: 100%;">
                        <div class="row" style="overflow: auto; max-height: 400px;">
                            <ul id="studentList" class="listrap">
                                <li id="loadingIcon">
                                    <div><img src="~/Content/Images/loading.gif" alt="loading" style="display: block; margin: auto;" /></div>
                                </li>
                                /* students are loaded here */
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" id="addAvailableStudents" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal-->
    <!-- Modal -->
    <div class="modal fadeInUp" id="confirmStudentRemoval" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Hidden("id", 0)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Remove this user from your list?</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-warning-sign"></span> Do you want to remove this user from your list?<br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->
}

<!--loading the file even though it's an ajax call-->
<var data-reload="true" data-src="/Scripts/teacherstudentsrole.js"></var>

@section scripts {
    @Scripts.Render("~/Scripts/fasw.transitions.min.js")
    @Scripts.Render("~/Scripts/teacherstudentsrole.js")
}
