@using GreenBushIEP.Helper
@model GreenBushIEP.Models.PortalViewModel

@{
    ViewBag.Title = "Level 2 Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/chosen.css")
}

<h2>@ViewBag.Title</h2>
<div class="user-head">
    <a href="/Manage/Edit/@(Model.user.UserID)" class="inbox-avatar" data-ftrans="slide">
        <img width="64" hieght="60" src="@(string.IsNullOrEmpty(Model.user.ImageURL) ? "/Content/Images/newTeacher.png" :  "/Avatar/" + Model.user.ImageURL  )" style="height: 62px;">
    </a>
</div>

<div class="container">
    <h3>
        <a href="/Manage/Edit/@(Model.user.UserID)" data-ftrans="slide">@ViewBag.DisplayName</a> <small> - my current list of students</small>
    </h3>
     @if ((Model.draftIeps != null && Model.draftIeps.Count > 0) || (Model.dueIeps != null && Model.dueIeps.Count > 0) || (Model.evalsDue != null && Model.evalsDue.Count > 0))
    {
        <a href="#" class="notification" data-ftrans="slide" id="notificationBtn"><i class="fa fa-bell" title="You have pending actions" data-toggle="tooltip"></i> Pending Notifications</a>
    }
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="user-toggle" class="pull-right">
                <div class="user-toggle-item">
                    <a id="referrals" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Manage/Referrals"><i class="fa fa-address-book" title="Create a New Referral" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item">
                    <a id="reports" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/Reports"><i class="fa fa-file" title="Reports" data-toggle="tooltip"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert" id="alertMessage" style="display: none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="moreinfo"><strong>Results!</strong> Some filler text until the action happens.</span>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2 pull-left">
            <div class="form-group">
                <label for="filterActive">Filter Student by Active</label>
                <div class="input-group">

                    <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                    <select class="form-control" name="filterActive" id="filterActive">
                        <option value="">All</option>
                        <option value="1" selected>Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 pull-left">
            <div class="form-group">
                <label for="filterName">Filter by Name</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-search"></span></span>
                    <select class="form-control chosen-select" name="filterName" id="filterName">
                        <option value="-1">All Users</option>
                        @foreach (var user in Model.members)
                        {
                            <option value=@user.UserID>@user.LastName, @user.FirstName @user.MiddleName  </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 pull-left">
            <div class="form-group">
                <label for="userDistricts">Filter by District</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                    <select class="form-control" name="userDistricts" id="userDistricts">
                        <option value="-1">All District</option>
                        @if (Model.districts.Count > 0)
                        {
                            foreach (var district in Model.districts)
                            {
                                <option value="@(district.USD)">@(district.DistrictName)</option>
                            }
                        }
                        else
                        {
                            <option>This user is not assigned to any districts.</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 pull-left">
            <div class="form-group">
                <label for="userBuildings">Filter by Building</label>
                <div class="input-group">
                    <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                    <select class="form-control" name="userBuildings" id="userBuildings">
                        <option value="-1">All Buildings</option>
                        @if (Model.buildings.Count > 0)
                        {
                            foreach (var building in Model.buildings)
                            {
                                <option value="@building.BuildingID" data-district="@building.USD">@building.BuildingName</option>
                            }
                        }
                        else
                        {
                            <option>This user is not assigned to any buildings.</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>

    @if (Model.members.Count > 0)
    {
        <table id="studentTable" class="table table-hover" style="margin-bottom:100px;">
            <thead>
                <tr>
                    <th>Kids #</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>IEP Date</th>
                    <th>Birthdate</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.members)
                {
                    <tr data-id="@(student.UserID)" class="@(Model.activeEducationalStatuses.Contains(student.StatusCode) ? "": "hidden")">
                        <td>@student.KidsID</td>
                        <td>@student.FirstName</td>
                        <td>@student.MiddleName</td>
                        <td>@student.LastName</td>
                        <td>@(student.hasIEP ? Convert.ToDateTime(student.IEPDate).ToString("MM/dd/yyyy") : "No Active IEP")</td>
                        <td>@Convert.ToDateTime(student.BirthDate).ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (student.hasIEP)
                            {
                                <a href="/Home/StudentProcedures?stid=@student.UserID.ToString()" title="Launch the IEP for this student" role="button" data-ftrans="slide" class="btn btn-info btn-action pull-right launchIEP">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            }

                            <a href="/Home/IEPFormModule?studentId=@(student.UserID)" title="Forms" role="button" data-toggle="tooltip" class="viewForms btn btn-info btn-action pull-right" data-ftrans="slide" id="viewFormsBtn">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </a>
                            <a href="/Manage/EditStudent/@(student.UserID)" title="Edit an existing student" role="button" data-toggle="tooltip" class="btn btn-info btn-action pull-right" data-ftrans="slide" id="editStudent">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="ajax-loader">
        <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
    </div>

    <!-- Modal -->
    <div class="modal fadeInUp" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Hidden("id", 0)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this User</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span> Deleting a user also deletes all data in your database associated with them. Is this what you want to do? <strong>(can't be undone)</strong><br />
                        <br />
                        Type DELETE to confirm<br />
                        <input id="confirmDeletion" type="text" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->
</div>

@Html.Partial("~/Views/Home/_DashboardPartial.cshtml", null, new ViewDataDictionary {  { "evalsDue", Model.evalsDue }, { "draftIEPS", Model.draftIeps }, { "dueIEPS", Model.dueIeps }, { "showDashboardNotification", Model.showDashboardNotification} })

@section scripts {
    @Scripts.Render("~/Scripts/portal.js")
    @Scripts.Render("~/Scripts/fasw.transitions.js")
}
