@using GreenBushIEP.Models
@model StudentProcedureViewModel

@{
    ViewBag.Title = "Student Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/studentprocedures.css")
}

<div class="transition-page">
    <div class="container transition-container">
        <input type="hidden" name="studentIEPId" id="studentIEPId" value="@(Model.studentIEP.current.IEPid)" />
        <div class="row">
            <div class="col-md-4 col-md-offset-4 student-details">
                <div class="student-information">
                    <a href="/Manage/EditStudent?id=@(Model.student.UserID.ToString())&backToStudentIEP=true" title="Edit an existing student" data-ftrans="slide">
                        <img src="@(string.IsNullOrEmpty(Model.student.ImageURL) ? "/Content/Images/newUser.png" : "/Avatar/" + Model.student.ImageURL.ToString())" alt="@(Model.student.FirstName.ToTitleCase() + " " + Model.student.LastName.ToTitleCase())" title="@(Model.student.FirstName.ToTitleCase() + " " + Model.student.LastName.ToTitleCase())" class="edit-student" height="105" width="95" />
                    </a>
                    <div class="student-identity edit-student">
                        <h2>@(Model.student.FirstName + " " + Model.student.LastName)</h2>
                        <input type="hidden" name="studentBirthDate" id="studentBirthDate" value="@(Model.birthDate.ToString("MM/dd/yyyy"))" />
                        <span class="student-city">@(Model.student.City != null ? @Model.student.City.ToTitleCase() : "" ), @(Model.student.State != null ? Model.student.State.ToUpper() : "KS" )</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" id="backtoportal" role="button" title="Cancel action and go back to my current users list"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="user-info-block">
                    <ul class="navigation">
                        <li>
                            @if (ViewBag.UserRoleId != "6")
                            {
                                <button type="button" class="btn btn-link hidden" id="studentPlanBtn" data-toggle="modal" data-target="#modal-studentPlanning"><i class="fa fa-key"></i> Student Plan</button>
                            }

                            <button type="button" class="class="btn btn-link" id="printIEP"><i class="fa fa-print"></i> Print This IEP</button>
                            <button type="button" class="class="btn btn-link" id="printStudentInfo"><i class="fa fa-print"></i> Print Student Info</button>
                            <button type="button" class="class="btn btn-link" id="viewForms"><i class="fa fa-folder"></i> Student Forms</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row iepState">
            <div class="col-md-3">
                @if (ViewBag.UserRoleId == "1" || ViewBag.UserRoleId == "2" || ViewBag.UserRoleId == "3" || ViewBag.UserRoleId == "4")
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-bordered-warning-status dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-right"></span>@(Model.studentIEP.displayIEPStatus) &nbsp;&nbsp;<b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu list-group" id="iepStatusList">
                            @if (Model.studentIEP.listOfStudentsIEPs.Count > 1)
                            {
                                int currentIEPId = Model.studentIEP.current.IEPid;

                                foreach (tblIEP iep in Model.studentIEP.listOfStudentsIEPs)
                                {
                                    if (iep.IEPid != currentIEPId)
                                    {
                                        <li class="list-group-item"><a href="/Home/StudentProcedures?stid=@(Model.student.UserID)&iepID=@(iep.IEPid)">@(iep.IepStatus.ToUpper() == IEPStatus.DRAFT && Model.studentIEP.anyStudentIEPActive && !iep.Amendment ? "ANNUAL" : string.Empty) @(Model.GetIEPStatus(iep)) @(iep.Amendment && iep.IepStatus != IEPStatus.ACTIVE ? "DRAFT" : string.Empty)</a></li>
                                    }
                                }
                            }
                            @if ((ViewBag.UserRoleId != "4") && Model.studentIEP.current.IepStatus.ToUpper() == IEPStatus.DRAFT && Model.studentIEP.current.Amendment)
                            {
                                <li class="list-group-item"><a href="#" id="makeIEPAmendmentActive" class="list-group-item @Html.Raw(Model.studentIEP.isAllCompleted ? string.Empty : "disabled") @Html.Raw(Model.studentIEP.current.begin_date == null || Model.studentIEP.current.MeetingDate == null ? "disabled" : string.Empty)"><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Make Active</a></li>

                            }
                            @if ((ViewBag.UserRoleId == "1" || ViewBag.UserRoleId == "2") && Model.studentIEP.current.IepStatus.ToUpper() == IEPStatus.DRAFT && Model.studentIEP.current.Amendment)
                            {
                                <li class="list-group-item"><a href="#" id="makeIEPInActive" class="list-group-item"><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Inactive/Archive</a></li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <label class="btn btn-bordered-warning-status dropdown-toggle"><span class="glyphicon glyphicon-chevron-right"></span>@(Model.studentIEP.displayIEPStatus) &nbsp;&nbsp;<b class="caret"></b></label>
                }
            </div>
            <div class="col-md-7">
                <div class="form-group col-md-6">
                    <label for="IEPBeginDate">Initiation Date:&nbsp;&nbsp;</label>
                    <input type="text" name="IEPBeginDate" id="IEPBeginDate" value="@(Model.studentIEP.iepStartTime != null ? Model.studentIEP.iepStartTime.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))" data-old="@(Model.studentIEP.current.begin_date != null ? Model.studentIEP.current.begin_date.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))" disabled />
                </div>
                <div class="form-group col-md-6">
                    <label for="IEPMeetingDate">Amendment Date:&nbsp;&nbsp;</label>
                    <input type="text" name="IEPMeetingDate" id="IEPMeetingDate" class="@(Model.studentIEP.current.begin_date == null || Model.studentIEP.current.MeetingDate == null ? "NoDates" : String.Empty)" value="@(Model.studentIEP.current.MeetingDate != null ? Model.studentIEP.current.MeetingDate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))" data-old="@(Model.studentIEP.current.MeetingDate != null ? Model.studentIEP.current.MeetingDate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))" @((Model.studentIEP.iepStatusType != IEPStatus.DRAFT && Model.studentIEP.iepStatusType != IEPStatus.AMENDMENT) ? "disabled" : String.Empty) />
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" id="IEPDates">Save Dates</button>
            </div>
        </div>
        <div class="row">
            <ul id="sortable" class="ui-sortable col-md-12">
                <li class="ui-state-default filter iep @(Model.studentPlan.HealthNoConcern ? "widgetDisabled" : string.Empty )" id="HealthWidget">
                    <div class="hero-widget well @(Model.studentIEP.isHealthCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Health&nbsp;</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="HealthModule"><i class="glyphicon glyphicon-search"></i> View&nbsp;</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter iep @(Model.studentPlan.MotorNoConcern ? "widgetDisabled" : string.Empty )" id="MotorWidget">
                    <div class="hero-widget well @(Model.studentIEP.isMotorCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Motor</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="MotorModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter iep @(Model.studentPlan.CommunicationNoConcern ? "widgetDisabled" : string.Empty )" id="CommunicationWidget">
                    <div class="hero-widget well @(Model.studentIEP.isCommunicationCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="far fa-comment-dots"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Communication</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="CommunicationModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter iep @(Model.studentPlan.SocialNoConcern ? "widgetDisabled" : string.Empty )" id="SocialWidget">
                    <div class="hero-widget well @(Model.studentIEP.isSocialCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fas fa-smile"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Social-Emotional</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="SocialModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter iep @(Model.studentPlan.IntelligenceNoConcern ? "widgetDisabled" : string.Empty )" id="IntelligenceWidget">
                    <div class="hero-widget well @(Model.studentIEP.isIntelligenceCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">General Intelligence</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="GeneralIntelligenceModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter iep @(Model.studentPlan.AcademicModuleNoConcern ? "widgetDisabled" : string.Empty )" id="AcademicWidget">
                    <div class="hero-widget well @(Model.studentIEP.isAcademicCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fa fa-university"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Academic Performance</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="AcademicModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning iep" id="GoalWidget">
                    <div class="hero-widget well @(Model.studentIEP.isGoalCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fas fa-trophy" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Student Goals</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg goal-section" data-view="GoalModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning iep" id="ServiceWidget">
                    <div class="hero-widget well @(Model.studentIEP.isServiceCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="far fa-handshake" aria-hidden="true" style="top: 15px;"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Services</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg service-section" data-view="ServiceModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning iep" id="OtherWidget">
                    <div class="hero-widget well @(Model.studentIEP.isOtherCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="glyphicon glyphicon-blackboard" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Other Considerations</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg other-considerations-section" data-view="OtherConsiderationsModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning iep" id="ContingencyWidget">
                    <div class="hero-widget well @(Model.studentIEP.isContingencyCompleted ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="fas fa-head-side-mask"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Contingency</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg contingency-section" data-view="ContingencyModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning otherIep @(Model.hasAccommodations && !Model.studentIEP.isAccommodationsCompleted  ? "needsAttention" : string.Empty)" id="AccommodationWidget">
                    <div class="hero-widget well @(Model.studentIEP.isAccommodationsCompleted ? "module-completed" : string.Empty ) @(Model.hasAccommodations ? "needsAttention" : string.Empty)">

                        <i class="glyphicon glyphicon-flag pull-right needsAttentionIcon @(Model.hasAccommodations && !Model.studentIEP.isAccommodationsCompleted ? string.Empty : "hidden")" aria-hidden="true"></i>

                        <div class="icon">
                            <i class="glyphicon glyphicon-scissors" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted" style="font-size: 90%;">Accommodations, Modifications, <br />Supplemental Aids, Supports, <br />Transportation</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg accom-mod-section" data-view="AccommodationsModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning hide" id="progressReport">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="glyphicon glyphicon-stats"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Progress Report </label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="ProgressModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning @(Model.needsBehaviorPlan ? string.Empty : "hidden")" id="BehaviorWidget">
                    <div class="hero-widget well @(Model.studentIEP.isBehaviorCompleted ? "module-completed" : string.Empty ) @(Model.needsBehaviorPlan && !Model.studentIEP.isBehaviorCompleted ? "needsAttention" : string.Empty)">
                        <i class="glyphicon glyphicon-flag pull-right needsAttentionIcon @(Model.needsBehaviorPlan && !Model.studentIEP.isBehaviorCompleted ? string.Empty : "hidden" )" aria-hidden="true"></i>
                        <div class="icon">
                            <i class="glyphicon glyphicon-road" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Behavior Plan</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg behavior-plan-section" data-view="BehaviorPlanModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter planning otherIep @((Model.studentAge > 13 && !Model.isGiftedOnly || (Model.isDoc && Model.studentAge <= 21 && !Model.isGiftedOnly)) ?  String.Empty : "hidden" )" id="TransitionWidget">
                    <div class="hero-widget well @(Model.studentIEP.isTransitionCompleted || !Model.studentIEP.isTransitionNeeded(Model.studentAge, Model.isDoc) ? "module-completed" : string.Empty )">
                        <div class="icon">
                            <i class="glyphicon glyphicon-random" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <label class="text-muted">Transition</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg transition-section" data-view="TransitionModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter legal ">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Medicaid Billing </label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg" onclick="window.open('https://serviceportal.compuclaim.com/login.aspx');"><i class="fa fa-external-link-square"></i> Launch</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="missingIEPDates" class="@(Model.studentIEP.current.begin_date == null || Model.studentIEP.current.MeetingDate == null ? "visible" : "hidden")"></div>
        </div>
        <input type="hidden" value="@(ViewBag.studentDistrict)" name="studentUSD" id="studentUSD" />
        <input type="hidden" value="@(Model.studentIEP.iepStartTime.Value.Year)" name="studentYear" id="studentYear" />
    </div>

    <!-- Modal fullscreen Student Planning -->
    <div id="modal-studentPlanning" class="modal modal-fullscreen fade-scale @((Model.hasplan) ? String.Empty : "needsPlan" )" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="background-color: #fff;">
        <div class="modal-dialog" style="margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="dismissIEPPlan"><span class="glyphicon glyphicon-remove-circle"></span></button>
                <button type="button" class="tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Follow the tooltips to learn how to user this form"><span class="glyphicon glyphicon-question-sign"></span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Student Planning - <span> @(Model.student.FirstName) @(Model.student.LastName)</span></h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Home", "StudentPlanning", new { }, FormMethod.Post, new { id = "thePlan" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.student.UserID, new { id = "stid" })
                    @Html.Hidden("iepId", Model.studentIEP.current.IEPid)
                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="glyphicon glyphicon-heart"></i> Health</h5>

                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="HealthNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchHealthConcerns" @(Model.studentPlan.HealthNoConcern ? "checked" : String.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchHealthConcerns">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                            <div class="checkbox isHealthConcern @(Model.studentPlan.HealthNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="HealthProgressTowardGenEd" @(Model.studentPlan.HealthProgressTowardGenEd ? "checked" : String.Empty ) />Progressing with General Education Supports</label>
                            </div>
                            <div class="checkbox isHealthConcern @(Model.studentPlan.HealthNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="HealthDiagnosis" @(Model.studentPlan.HealthDiagnosis ? "checked" : String.Empty ) />Concerns that Impact Ability to Learn or Access to General Curriculum</label>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div>
                                <h6 style="font-weight:bold; font-size: 18px;">Hearing Screening Date:</h6>
                                <input type="text" name="HealthHearingDate" id="HealthHearingDate" value="@(Model.studentPlan.HealthHearingDate.ToString("MM/dd/yyyy"))" placeholder="MM/DD/YYYY" min="2015-01-01" max="2024-01-01" />
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthHearingResult" value="1" @(Model.studentPlan.HealthHearingResult == 1 ? "checked" : String.Empty)>Pass</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthHearingResult" value="0" @(Model.studentPlan.HealthHearingResult == 0 ? "checked" : String.Empty)>Fail</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthHearingResult" value="-1" @(Model.studentPlan.HealthHearingResult == -1 ? "checked" : String.Empty)>Screening Attempted with Inconclusive Results</label>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div>
                                <h6 style="font-weight:bold; font-size: 18px;">Vision Screening Date:</h6>
                                <input type="text" name="HealthVisionDate" id="HealthVisionDate" value="@(Model.studentPlan.HealthVisionDate.ToString("MM/dd/yyyy"))" placeholder="MM/DD/YYYY" min="2015-01-01" max="2024-01-01" />
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthVisionResult" value="1" @(Model.studentPlan.HealthVisionResult == 1 ? "checked" : String.Empty)>Pass</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthVisionResult" value="0" @(Model.studentPlan.HealthVisionResult == 0 ? "checked" : String.Empty)>Fail</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="HealthVisionResult" value="-1" @(Model.studentPlan.HealthVisionResult == -1 ? "checked" : String.Empty)>Screening Attempted with Inconclusive Results</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="standard-font-size" style="padding: 25px 0 15px;">Does this student require a Health Care Plan?</label>&nbsp;&nbsp;
                        <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                            <input type="checkbox" name="HealthCarePlan" id="HealthCarePlan" class="falsetrueswitch-checkbox" @(Model.studentPlan.HealthCarePlan ? "checked" : String.Empty ) />
                            <label class="falsetrueswitch-label" for="HealthCarePlan">
                                <span class="falsetrueswitch-inner"></span>
                                <span class="falsetrueswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="fa fa-cogs"></i> Motor</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="MotorNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchMotorConcerns" @(Model.studentPlan.MotorNoConcern ? "checked" : String.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchMotorConcerns">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                            <div class="checkbox isMotorConcern @(Model.studentPlan.MotorNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="MotorProgress" @(Model.studentPlan.MotorProgress ? "checked" : String.Empty ) />Progressing with General Education Support</label>
                            </div>
                            <div class="checkbox isMotorConcern @(Model.studentPlan.MotorNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="MotorNeeds" @(Model.studentPlan.MotorNeeds ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div>
                                <h6 style="font-weight:bold; font-size: 18px;">Team Considerations:</h6>
                            </div>
                            <div class="checkbox">
                                <label style="padding-left: 0;"><input type="radio" name="MotorParticipation" value="1" @(Model.studentPlan.MotorParticipation == 1 || Model.studentPlan.MotorParticipation == -1 ? "checked" : String.Empty )>&nbsp;No Special Education supports needed in Physical Education</label>
                            </div>
                            <div class="checkbox">
                                <label style="padding-left: 0;"><input type="radio" name="MotorParticipation" value="2" @(Model.studentPlan.MotorParticipation == 2 ? "checked" : String.Empty )>&nbsp;Modified or Adaptive Supports needed in Physical Education</label>
                            </div>
                            <div class="checkbox">
                                <label style="padding-left: 0;"><input type="radio" name="MotorParticipation" value="3" @(Model.studentPlan.MotorParticipation == 3 ? "checked" : String.Empty )>&nbsp;Student has met Physical Education Requirements</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="far fa-comment-dots" aria-hidden="true"></i> Communication</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="CommunicationNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchCommunicationConcerns" @(Model.studentPlan.CommunicationNoConcern ? "checked" : String.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchCommunicationConcerns">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                            <div class="checkbox isCommunicationConcern @(Model.studentPlan.CommunicationNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="CommunicationProgressTowardGenEd" @(Model.studentPlan.CommunicationProgressTowardGenEd ? "checked" : String.Empty ) />Progressing with General Education Support</label>
                            </div>
                            <div class="checkbox isCommunicationConcern @(Model.studentPlan.CommunicationNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="CommunicationAreaOfNeed" @(Model.studentPlan.CommunicationAreaOfNeed ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                            <div class="checkbox isCommunicationConcern @(Model.studentPlan.CommunicationNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="CommunicationDeaf" @(Model.studentPlan.CommunicationDeaf ? "checked" : String.Empty ) />Deaf/Hard of Hearing</label>
                            </div>
                            <div class="checkbox isCommunicationConcern @(Model.studentPlan.CommunicationNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="CommunicationEnglish" @(Model.studentPlan.CommunicationEnglish ? "checked" : String.Empty ) />Limited English Proficiency</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="fas fa-smile" aria-hidden="true"></i> Social-Emotional</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="SocialNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchSocialConcerns" @(Model.studentPlan.SocialNoConcern ? "checked" : String.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchSocialConcerns">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                            <div class="checkbox isSocialConcern @(Model.studentPlan.SocialNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="SocialProgressTowardGenEd" @(Model.studentPlan.SocialProgressTowardGenEd ? "checked" : String.Empty ) />Progressing with General Education Support</label>
                            </div>
                            <div class="checkbox isSocialConcern @(Model.studentPlan.SocialNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="SocialAreaOfNeed" @(Model.studentPlan.SocialAreaOfNeed ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                            <div class="checkbox isSocialConcern @(Model.studentPlan.SocialNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="SocialMental" @(Model.studentPlan.SocialMental ? "checked" : String.Empty ) />Mental Health Diagnosis</label>
                            </div>
                            <div class="checkbox isSocialConcern @(Model.studentPlan.SocialNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="SocialBehaviorSignificant" @(Model.studentPlan.SocialBehaviorSignificant ? "checked" : String.Empty ) />Significant Behaviors</label>
                            </div>
                            <div class="checkbox isSocialConcern @(Model.studentPlan.SocialNoConcern ? "noConcerns" : String.Empty )">
                                <label><input type="checkbox" name="SocialSkillsDeficit" @(Model.studentPlan.SocialSkillsDeficit ? "checked" : String.Empty ) />Social Skills Deficit</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h6 style="font-weight:bold; font-size: 18px;">Does this student's behavior impede the learning of self or others?</h6>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="SocialBehaviorImpede" value="1" @(Model.studentPlan.SocialBehaviorImpede == true ? "checked" : String.Empty) />Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="SocialBehaviorImpede" value="0" @(Model.studentPlan.SocialBehaviorImpede == false ? "checked" : String.Empty) />No</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h6 style="font-weight:bold; font-size: 18px;">Does this student require a Behavior Intervention Plan?</h6>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="SocialInterventionPlan" value="1" @(Model.studentPlan.SocialInterventionPlan == true ? "checked" : String.Empty) />Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="SocialInterventionPlan" value="0" @(Model.studentPlan.SocialInterventionPlan == false ? "checked" : String.Empty) />No</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="glyphicon glyphicon-education" aria-hidden="true"></i> General Intelligence/Cognitive Functioning</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="IntelligenceNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchIntelligenceNoConcern" @(Model.studentPlan.IntelligenceNoConcern ? "checked" : string.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchIntelligenceNoConcern">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                            <div class="checkbox isIntelligenceConcern @(Model.studentPlan.IntelligenceNoConcern ? "noConcerns" : string.Empty )">
                                <label><input type="checkbox" name="IntelligenceProgressTowardGenEd" @(Model.studentPlan.IntelligenceProgressTowardGenEd ? "checked" : String.Empty ) />Progressing with General Education Support</label>
                            </div>
                            <div class="checkbox isIntelligenceConcern @(Model.studentPlan.IntelligenceNoConcern ?  "noConcerns" : string.Empty )">
                                <label><input type="checkbox" name="IntelligenceAreaOfNeed" @(Model.studentPlan.IntelligenceAreaOfNeed ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="fa fa-university" aria-hidden="true"></i> Academic Performance</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>&nbsp;&nbsp;
                            <div class="truefalseswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="AcademicModuleNoConcern" class="truefalseswitch-checkbox" id="truefalseSwitchAcademicConcerns" @(Model.studentPlan.AcademicModuleNoConcern ? "checked" : String.Empty )>
                                <label class="truefalseswitch-label" for="truefalseSwitchAcademicConcerns">
                                    <span class="truefalseswitch-inner"></span>
                                    <span class="truefalseswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 checkbox isAcademicPerformanceConcern @(Model.studentPlan.AcademicModuleNoConcern ? "noConcerns" : String.Empty )" style="margin-top: 0;">
                            <h5 style="font-size:17px;font-weight:bold;">Reading </h5>
                            <div>
                                <label><input type="checkbox" name="ReadingNoConcern" @(Model.studentPlan.ReadingNoConcern ? "checked" : String.Empty ) />No Concerns</label>
                                <label><input type="checkbox" name="ReadingProgress" @(Model.studentPlan.ReadingProgress ? "checked" : String.Empty ) />Progressing Towards Standards with General Education Supports in place</label>
                            </div>
                            <div class="checkbox isAcademicPerformanceConcern">
                                <label><input type="checkbox" name="ReadingNeed" @(Model.studentPlan.ReadingNeed ? "checked" : String.Empty ) />Area of need which Impacts Performance in General Education</label>
                            </div>
                        </div>
                        <div class="col-md-3 checkbox isAcademicPerformanceConcern @(Model.studentPlan.AcademicModuleNoConcern ? "noConcerns" : String.Empty )">
                            <h5 style="font-size:17px;font-weight:bold;">Math </h5>
                            <div>
                                <label><input type="checkbox" name="MathNoConcern" @(Model.studentPlan.MathNoConcern ? "checked" : String.Empty ) />No Concerns</label>
                                <label><input type="checkbox" name="MathProgress" @(Model.studentPlan.MathProgress ? "checked=checked" : String.Empty ) />Progressing Towards Standards with General Education Supports in place</label>
                                <div class="checkbox isAcademicPerformanceConcern">
                                    <label><input type="checkbox" name="MathNeed" @(Model.studentPlan.MathNeed ? "checked=checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 checkbox isAcademicPerformanceConcern @(Model.studentPlan.AcademicModuleNoConcern ? "noConcerns" : String.Empty )">
                            <h5 style="font-size:17px;font-weight:bold;">Written Language </h5>
                            <div>
                                <label><input type="checkbox" name="WrittenNoConcern" @(Model.studentPlan.WrittenNoConcern ? "checked" : String.Empty ) />No Concerns</label>
                                <label><input type="checkbox" name="WrittenProgress" @(Model.studentPlan.WrittenProgress ? "checked" : String.Empty ) />Progressing Towards Standards with General Education Supports in place</label>
                            </div>
                            <div class="checkbox isAcademicPerformanceConcern">
                                <label><input type="checkbox" name="WrittenNeed" @(Model.studentPlan.WrittenNeed ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                        </div>
                        <div class="col-md-3 checkbox isAcademicPerformanceConcern @(Model.studentPlan.AcademicModuleNoConcern ? "noConcerns" : String.Empty )" style="margin-top: 0;">
                            <h5 style="font-size:17px;font-weight:bold;">Academic/Functional </h5>
                            <div>
                                <label><input type="checkbox" name="AcademicNoConcern" @(Model.studentPlan.AcademicNoConcern ? "checked" : String.Empty ) />No Concerns</label>
                                <label><input type="checkbox" name="AcademicProgressTowardGenEd" @(Model.studentPlan.AcademicProgressTowardGenEd ? "checked" : String.Empty ) />Progressing with General Education Support</label>
                                <label><input type="checkbox" name="AcademicNeeds" @(Model.studentPlan.AcademicNeeds ? "checked" : String.Empty ) />Area of Need which Impacts Performance in General Education</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row @((Model.studentAge > 13 || (Model.isDoc && Model.studentAge <= 21)) ? String.Empty : "hidden")">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="glyphicon glyphicon-random" aria-hidden="true"></i> Transition</h5>
                            <br />
                            <div style="padding-bottom: 8px;">
                                <b>Reminder: A transition plan is required for any student who will turn age 14, or are over the age of 14 during the IEP period.</b>
                            </div>
                            <div>Has student been invited to the IEP meeting?</div>
                            <div>Do you have written permission to invite other outside agencies to the IEP?</div>
                            <div>Have other agencies representing transition services been invited to the IEP meeting?</div>
                        </div>
                    </div>
                    <hr class="@((Model.studentAge > 13 || (Model.isDoc && Model.studentAge <= 21)) ?  String.Empty : "hidden" )" />

                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="glyphicon glyphicon-phone"></i> Assistive Technology</h5>
                            <label style="font-size: 16px; font-weight: normal;">Concerns</label>
                            <div class="falsetrueswitch" style="display: inline-block; vertical-align: middle;">
                                <input type="checkbox" name="RequireAssistiveTechnology" class="falsetrueswitch-checkbox" id="RequireAssistiveTechnology" @(Model.studentPlan.RequireAssistiveTechnology ? "checked" : String.Empty )>
                                <label class="falsetrueswitch-label" for="RequireAssistiveTechnology">
                                    <span class="falsetrueswitch-inner"></span>
                                    <span class="falsetrueswitch-switch"></span>
                                </label>
                            </div>
                            <div style="margin: 20px 0 0 0;">
                                Does the student require Assistive Technology aids and/or services in order to be involved and make progress in the general curriculum or in order to be educated in a less restrictive environment?
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-12">
                            <h5 style="font-size: 18px;font-weight:bold;"><i class="glyphicon glyphicon-blackboard"></i> Extended School Year</h5>

                            <p>Are extended school year services necessary for @Model.student.FirstName?</p>

                            <div class="form-check">
                                <label class="radio-inline"><input style="font-size: 18px;" type="radio" name="ExtendYear" id="EY_Yes" value="1" @(Model.studentPlan.ExtendYear == 1 ? "checked" : String.Empty)>Yes</label><br />
                                <label class="radio-inline"><input style="font-size: 18px;" type="radio" name="ExtendYear" id="EY_No" value="0" @(Model.studentPlan.ExtendYear == 0 ? "checked" : String.Empty)>No</label><br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="saveplan" type="button" class="btn btn-default btn-lg">Save Plan</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End fullscreen Module studentPlanning-->
    <!-- Modal fullscreen IEP Module Section -->
    <div id="moduleSection" class="modal modal-fullscreen fade-scale" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="background-color: #fff;">
        <div class="modal-dialog" style="margin: 0 auto;" id="module-form-section"></div>
    </div>
    <!-- End fullscreen IEP Module Section-->
    <!-- Modal -->
    <div id="reasonsRevertDraft" class="modal" tabindex="-1" role="dialog" aria-labelledby="reasonsRevertDraftLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="reasonsRevertDraftLabel">Why are you reverting this IEP</h4>
                </div>
                <div class="modal-body">
                    <textarea id="yourReasoning" placeholder="Enter the reasons why you are reverting this student's IEP" rows="3" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveRevertDraft">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Check your work -->
    <div id="betterCheckYourWork" class="modal" tabindex="-1" role="dialog" aria-labelledby="betterCheckYourWork">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
                    <h4 class="modal-title" id="betterCheckYourWorkLabel">Are the following settings correct?</h4>
                </div>
                <div class="modal-body">
                    <div id="carousel-questions" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" id="0">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Is the child's student identification correct?</h5> : <span style="font-size: 14pt; display: inline-block; color: red;">@(Model.KIDSID == "0" ? "No KIDS ID" : Model.KIDSID)</span>
                                </div>
                            </div>
                            <div class="item">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Is the grade correct?</h5> :
                                    <select id="studentCarouselGrade" style="font-size: 13pt; width: 60%;">
                                        <option value="-4" @(Model.STUDENTGRADE == -4 ? "selected=selected" : string.Empty)>Preschooler age 3</option>
                                        <option value="-3" @(Model.STUDENTGRADE == -3 ? "selected=selected" : string.Empty)>Preschooler age 4</option>
                                        <option value="-2" @(Model.STUDENTGRADE == -2 ? "selected=selected" : string.Empty)>Preschooler age 5</option>
                                        <option value="-1" @(Model.STUDENTGRADE == -1 ? "selected=selected" : string.Empty)>Preschooler age 6</option>
                                        <option value="0" @(Model.STUDENTGRADE == 0 ? "selected=selected" : string.Empty)>Kindergarten</option>
                                        <option value="1" @(Model.STUDENTGRADE == 1 ? "selected=selected" : string.Empty)>1st Grade</option>
                                        <option value="2" @(Model.STUDENTGRADE == 2 ? "selected=selected" : string.Empty)>2nd Grade</option>
                                        <option value="3" @(Model.STUDENTGRADE == 3 ? "selected=selected" : string.Empty)>3rd Grade</option>
                                        <option value="4" @(Model.STUDENTGRADE == 4 ? "selected=selected" : string.Empty)>4th Grade</option>
                                        <option value="5" @(Model.STUDENTGRADE == 5 ? "selected=selected" : string.Empty)>5th Grade</option>
                                        <option value="6" @(Model.STUDENTGRADE == 6 ? "selected=selected" : string.Empty)>6th Grade</option>
                                        <option value="7" @(Model.STUDENTGRADE == 7 ? "selected=selected" : string.Empty)>7th Grade</option>
                                        <option value="8" @(Model.STUDENTGRADE == 8 ? "selected=selected" : string.Empty)>8th Grade</option>
                                        <option value="9" @(Model.STUDENTGRADE == 9 ? "selected=selected" : string.Empty)>9th Grade</option>
                                        <option value="10" @(Model.STUDENTGRADE == 10 ? "selected=selected" : string.Empty)>10th Grade</option>
                                        <option value="11" @(Model.STUDENTGRADE == 11 ? "selected=selected" : string.Empty)>11th Grade</option>
                                        <option value="12" @(Model.STUDENTGRADE == 12 ? "selected=selected" : string.Empty)>12th Grade</option>
                                        <option value="13" @(Model.STUDENTGRADE == 13 ? "selected=selected" : string.Empty)>Other Option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item" id="savegrade">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Is the current status code correct?</h5> :
                                    <select id="studentCarouselCode" style="font-size: 13pt; max-width: 55%;">
                                        <option value="B" @(Model.STUDENTCODE == "B" ? "selected='selected'" : string.Empty)>B - Children age 3 who transition from Part C services to Part B by their 3rd birthday</option>
                                        <option value="C" @(Model.STUDENTCODE == "C" ? "selected='selected'" : string.Empty)>C - Continuing Student</option>
                                        <option value="E" @(Model.STUDENTCODE == "E" ? "selected='selected'" : string.Empty)>E - Entering from another District or Agency</option>
                                        <option value="I" @(Model.STUDENTCODE == "I" ? "selected='selected'" : string.Empty)>I - Reinitiation of Services</option>
                                        <option value="N" @(Model.STUDENTCODE == "N" ? "selected='selected'" : string.Empty)>N - New Referral</option>
                                        <option value="R" @(Model.STUDENTCODE == "R" ? "selected='selected'" : string.Empty)>R - Returning to a Special Education Program:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item" id="savecode">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Is primary parent checkbox checked?</h5> : @(Model.PRIMARYPARENT ? Html.Raw("<span style='color:green;'>YES</span>") : Html.Raw("<span style='color:red;'>NO</span>"))
                                </div>
                            </div>
                            <div class="item">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Are the Initiation and Meeting dates correct?</h5> : <span style="font-size:13pt;">@(Model.studentIEP.iepStartTime.Value.ToString("MM/dd/yyyy"))</span> &ndash; <span style="font-size:13pt;">@(Model.studentIEP.current.MeetingDate != null ? Model.studentIEP.current.MeetingDate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy"))</span>
                                </div>
                            </div>
                            <div class="item" id="1">
                                <div style="margin-bottom: 15px;">
                                    <h5 style="display: inline-block;">Are the Service Dates and minutes correct?</h5> : <br />
                                    @if (Model.studentIEP.studentServices.Count > 0)
                                    {
                                        <div style="height: 6em !important; overflow-x: hidden; overflow-y: scroll;">
                                            <table class="table table-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Service Dates</th>
                                                        <th scope="col">Service Minutes</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="currentServices">
                                                    @foreach (var service in Model.STUDENTSERVICES)
                                                    {
                                                        <tr>
                                                            <th scope="row">@(service.StartDate.ToString("MM/dd/yyyy"))&nbsp;&ndash;&nbsp;@(service.EndDate.Value.ToString("MM/dd/yyyy"))</th>
                                                            <td>@(service.Minutes.ToString())</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn pull-left hidden" id="betterCheckYourWorkPrevious" href="#carousel-questions" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span>Previous Question</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove"></i>&nbsp;Needs Correction</button>
                    <button type="button" class="btn btn-success" href="#carousel-questions" data-slide="next" id="betterCheckYourWorkContinue"><i class="glyphicon glyphicon-ok"></i>&nbsp;Yes &amp; Continue</button>
                    <button type="button" class="btn btn-success hidden" id="betterCheckYourWorkComplete" data-iep="admendment"><i class="glyphicon glyphicon-check"></i>&nbsp;Save &amp; Complete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End check your work -->
    <div class="ajax-loader">
        <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
        <strong class="success hidden"><i class="glyphicon glyphicon-ok"></i> successfully saved the data!</strong>
        <strong class="failure hidden"><i class="glyphicon glyphicon-remove"></i> to save the data. Please try again.</strong>
    </div>
    <div class="needDates-loader hidden"></div>
</div>

<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/studentprocedures.js"></var>

@section scripts {
    @Scripts.Render("~/Scripts/fasw.transitions.js")
    @Scripts.Render("~/Scripts/studentprocedures.js?v1.3")
}