@model GreenBushIEP.Models.ILPPortalViewModel

@{
    ViewBag.Title = "ILP Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/misportal.css?v1.1")
    @Styles.Render("~/Content/chosen.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/fasw.transitions.js")
    @Scripts.Render("~/Scripts/ilpPortal.js")
}

<style>
    .panel-primary > .panel-heading {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }

    .btn-filter {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .btn-info {
        color: #fff !important;
        background-color: #5bc0de !important;
        border-color: #46b8da !important;
    }
</style>
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="user-head">
        <a href="/Manage/Edit/@(Model.User.UserID)" class="inbox-avatar" data-ftrans="slide">
            <img width="65" height="65" src="@(string.IsNullOrEmpty(Model.User.ImageURL) ? "/Content/Images/newMIS.png" : "/Avatar/" + Model.User.ImageURL)" alt="My Avatar">
        </a>
    </div>
    <h3>
        <a href="#" role="button" data-ftrans="slide">@ViewBag.DisplayName</a> <small class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"> - my current list of users</small>
    </h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="user-toggle" class="pull-right">
                <div class="user-toggle-item" style="display: inline-block;">
                    <a id="add-student-user" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Manage/CreateStudent"><i class="fa fa-child" title="Create a New Student" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item" style="display: inline-block;">
                    <a id="mySettings" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/MySettings"><i class="fa fa-cogs" title="Adjust My Settings" data-toggle="tooltip"></i></a>
                </div>
                <div class="user-toggle-item" style="display: inline-block;">
                    <a id="reports" class="btn btn-primary btn-circle btn-xl" data-ftrans="slide" href="/Home/Reports"><i class="fa fa-file" title="Reports" data-toggle="tooltip"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info hidden" role="alert" id="alertMessage">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="moreinfo"><strong>Results!</strong> Some filler text until the action happens.</span>
    </div>
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Users </h3>
            <select name="userRoles" id="userRoles"><option value="-1">All Roles</option><option value="7">Admin</option><option value="8">Instructor</option><option value="9">Viewer</option><option value="10">Learner</option></select>
            <button class="btn btn-default btn btn-sm btn-filter pull-right"><span class="glyphicon glyphicon-option-vertical"></span> Filter</button>
        </div>
        <div class="row showFilters hidden">
            <div class="col-xs-12 col-md-4 pull-left">
                <div class="form-group">
                    <label for="filterName">Name or KIDS ID</label>
                    <div class="input-group">
                        <span class="input-group-addon danger"><span class="fa fa-search"></span></span>
                        <select class="form-control chosen-select form-control" name="filterName" id="filterName">
                            <option value="-1">All Users</option>
                            @foreach (var user in Model.Students)
                            {
                                <option value="@(user.UserID)">@(user.LastName), @(user.FirstName) @(user.MiddleName) &dash; @(user.UserID)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 pull-left">
                <div class="form-group">
                    <label for="userDistricts">Locations</label>
                    <div class="input-group">
                        <span class="input-group-addon danger"><span class="fa fa-search"></span></span>
                        <select class="form-control" name="userDistricts" id="userDistricts">
                            <option value="-1">All Locations</option>
                            @if (Model.Locations.Count > 0)
                            {
                                foreach (var location in Model.Locations)
                                {
                                    <option value="@(location.LocationID)">@(location.LocationID.ToString())</option>
                                }
                            }
                            else
                            {
                                <option>This user is not assigned to any districts.</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 pull-left">
                <div class="form-group">
                    <label for="userBuildings">Program</label>
                    <div class="input-group">
                        <span class="input-group-addon danger"><span class="fa fa-search"></span></span>
                        <select class="form-control" name="userProgram" id="userProgram">
                            <option value="-1">Any Program</option>
                            @if (Model.Programs.Count > 0)
                            {
                                foreach (var program in Model.Programs)
                                {
                                    <option value="@program.ProgramCode">@program.ProgramName</option>
                                }
                            }
                            else
                            {
                                <option>Currently there are not any projects.</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 activeILPCol">
                <div class="form-group">
                    <label for="filterActive">Archived</label>
                    <div class="input-group">
                        <span class="input-group-addon danger"><span class="fa fa-building-o"></span></span>
                        <select class="form-control" name="statusArchived" id="statusArchived">
                            <option value="-1">All</option>
                            <option value="1" selected>Archived</option>
                            <option value="0">Not Archived</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="ajax-loader">
                <img src="/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content">
            </div>*@
        <div>
            @if (Model.Students.Count > 0)
            {
                <div class="list-group list-group-root well">

                    @foreach (var user in Model.Students)
                    {

                        <div class="list-group-item" data-id="@(user.UserID)">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span>@user.FirstName @user.MiddleName  @user.LastName</span>

                            <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#initIEP">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </button>
                            <a href="/Home/IEPFormModule?studentId=@(user.UserID)" title="Forms" role="button" data-toggle="tooltip" class="viewForms btn btn-info btn-action pull-right viewFormsBtn" data-ftrans="slide">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </a>
                            <button type="button" class="btn btn-info btn-action pull-right" data-id="@(user.UserID)" data-toggle="modal" data-target="#deleteUser">
                                <span class="glyphicon glyphicon glyphicon-trash"></span>
                            </button>
                            <a href="/Manage/EditStudent/@(user.UserID)" title="Edit an existing student" role="button" data-toggle="tooltip" class="btn btn-info pull-right edit-btn" data-ftrans="slide"><span class="glyphicon glyphicon-pencil"></span></a>

                        </div>
                    }

                </div>
            }
        </div>

    </div>
</div>