@using GreenBushIEP.Models
@model StudentProcedureViewModel

@{
    ViewBag.Title = "Student Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/learnerprocedures.css")
}

<div class="transition-page">
    <div class="container transition-container">
        <input type="hidden" name="studentIEPId" id="studentIEPId" value="1" />
        <div class="row">
            <div class="col-md-4 col-md-offset-4 student-details">
                <div class="student-information">
                    <a href="/Manage/EditStudent?id=@(Model.student.UserID.ToString())&backToStudentIEP=true" title="Edit an existing student" data-ftrans="slide">
                        <img src="@(string.IsNullOrEmpty(Model.student.ImageURL) ? "/Content/Images/newUser.png" : "/Avatar/" + Model.student.ImageURL.ToString())" alt="@(Model.student.FirstName.ToTitleCase() + " " + Model.student.LastName.ToTitleCase())" title="@(Model.student.FirstName.ToTitleCase() + " " + Model.student.LastName.ToTitleCase())" class="img-circle edit-student" height="95" width="95" />
                    </a>
                    <div class="student-identity edit-student">
                        <h3>@(Model.student.FirstName + " " + Model.student.LastName)</h3>
                        <input type="hidden" name="studentBirthDate" id="studentBirthDate" value="@(Model.birthDate.ToString("MM/dd/yyyy"))" />
                        <span class="student-city">@(Model.student.City != null ? @Model.student.City.ToTitleCase() : "" ), @(Model.student.State != null ? Model.student.State.ToUpper() : "KS" )</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse" href=@(string.IsNullOrEmpty(ViewBag.ReturnBtn) ?  "/ILP/Index" : ViewBag.ReturnBtn) id="backtoportal" role="button" title="Cancel action and go back to my current users list" style="color: #fff; background-color: #5bc0de !important; border-color: #46b8da !important;"></a>
            </div>
        </div>
        <div class="row">
            <ul id="sortable" class="ui-sortable col-md-12">
                <li class="ui-state-default filter ilp" id="EducationHistory">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="fas fa-history"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Demographics&nbsp;&amp;&nbsp;<br />Education&nbsp;History&nbsp;</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="EducationHistoryModule"><i class="glyphicon glyphicon-search"></i> View&nbsp;</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter ilp" id="Assessment">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Assessments</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="AssessmentModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter ilp" id="EducationPlan">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="glyphicon glyphicon-education"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Education <br />Programming Plan</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="EducationPlanModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter ilp" id="PrgressCredits">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="fas fa-poll"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Progress/Credits <br />Gained</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="ProgressCreditsModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
                <li class="ui-state-default filter ilp" id="DocumentStorage">
                    <div class="hero-widget well">
                        <div class="icon">
                            <i class="fas fa-folder-open"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Document Storage</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="DocumentStorageModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal fullscreen IEP Module Section -->
<div id="moduleSection" class="modal modal-fullscreen fade-scale" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="background-color: #fff;">
    <div class="modal-dialog" style="margin: 0 auto;" id="module-form-section"></div>
</div>
<!-- End fullscreen IEP Module Section-->

@section scripts {
    @Scripts.Render("~/Scripts/fasw.transitions.js")
    @Scripts.Render("~/Scripts/learnerprocedures.js")
}